Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

fix(thread): stop prefixing assistant timestamps
  apps/zerg/backend/tests/test_thread_service.py
  apps/zerg/backend/tests/test_worker_runner.py
  apps/zerg/backend/zerg/services/thread_service.py
Due: none

chore: update AGENTS learnings
  AGENTS.md
Due: none

docs: update rebrand task log
  docs/work/2026-01-26-french-rebrand-full-rename.md
Due: none

feat(e2e): add waitForHealthy() helper to live fixtures
  apps/zerg/e2e/tests/live/fixtures.ts
Due: none

feat(jarvis): add data-role attribute to chat messages
  apps/zerg/frontend-web/src/jarvis/app/components/ChatContainer.tsx
  apps/zerg/frontend-web/src/services/api/index.ts
  apps/zerg/frontend-web/src/services/api/lifeHub.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat(smoke): replace static --wait with health polling
  scripts/smoke-prod.sh
Due: none

Add session picker modal and Life Hub session APIs
  AGENTS.md
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/routers/jarvis.py
  apps/zerg/backend/zerg/routers/jarvis_life_hub.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/backend/zerg/tools/generated/tool_definitions.py
  apps/zerg/frontend-web/src/components/SessionPickerModal.css
  apps/zerg/frontend-web/src/components/SessionPickerModal.tsx
  apps/zerg/frontend-web/src/components/SessionPickerProvider.tsx
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/hooks/useLifeHubSessions.ts
  apps/zerg/frontend-web/src/jarvis/lib/event-bus.ts
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-chat-controller.ts
  apps/zerg/frontend-web/src/main.tsx
  apps/zerg/frontend-web/src/pages/JarvisChatPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/JarvisChatPage.test.tsx
  schemas/sse-events.asyncapi.yml
  schemas/tools.yml
Due: typescript-typecheck, frontend-lint, sse-contract-drift, forbid-legacy-trigger-keys

docs(agents): add post-deploy verification playbook
  AGENTS.md
Due: none

fix(docs): correct test-e2e-prod to actual script path
  AGENTS.md
Due: none

chore: add Makefile wrappers for prod test scripts
  AGENTS.md
  Makefile
  scripts/add_doc_banners.py
  scripts/debug_chat_cli.py
  scripts/update_doc_paths.py
Due: none

refactor: consolidate prod verification to single command
  AGENTS.md
  Makefile
Due: none

Fix session picker flow and session listing
  apps/zerg/backend/zerg/events/event_bus.py
  apps/zerg/backend/zerg/routers/jarvis_life_hub.py
  apps/zerg/frontend-web/src/components/SessionPickerModal.tsx
  apps/zerg/frontend-web/src/jarvis/app/hooks/useTextChannel.ts
  apps/zerg/frontend-web/src/jarvis/lib/event-bus.ts
  apps/zerg/frontend-web/src/pages/JarvisChatPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test(swarm): wait for live listeners in smoke
  apps/zerg/e2e/tests/swarm-map.smoke.spec.ts
Due: none

test(swarm): drive live events in map smoke
  apps/zerg/e2e/tests/swarm-map.smoke.spec.ts
Due: none

docs(swarm): note live smoke injection
  docs/tasks/swarm-map-overlay-task.md
Due: none

feat(swarm): add replay contracts and generator
  apps/zerg/frontend-web/src/swarm/__tests__/layout.test.ts
  apps/zerg/frontend-web/src/swarm/__tests__/replay.test.ts
  apps/zerg/frontend-web/src/swarm/__tests__/state.test.ts
  apps/zerg/frontend-web/src/swarm/index.ts
  apps/zerg/frontend-web/src/swarm/layout.ts
  apps/zerg/frontend-web/src/swarm/replay.ts
  apps/zerg/frontend-web/src/swarm/state.ts
  apps/zerg/frontend-web/src/swarm/types.ts
  docs/specs/swarm-map-rts-ui.md
  docs/tasks/swarm-map-overlay-task.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat(swarm): wire decision loop and live hooks
  apps/zerg/frontend-web/src/pages/SwarmMapPage.tsx
  apps/zerg/frontend-web/src/styles/swarm-map.css
  apps/zerg/frontend-web/src/swarm/replay.ts
  apps/zerg/frontend-web/src/swarm/types.ts
  apps/zerg/frontend-web/src/swarm/useSwarmReplay.ts
  docs/tasks/swarm-map-overlay-task.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test(swarm): cover SwarmMapPage live events
  apps/zerg/frontend-web/src/pages/__tests__/SwarmMapPage.test.tsx
  docs/tasks/swarm-map-overlay-task.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat(swarm): add map overlay surface
  apps/zerg/frontend-web/src/pages/SwarmMapPage.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/styles/swarm-map.css
  apps/zerg/frontend-web/src/swarm/SwarmMapCanvas.tsx
  apps/zerg/frontend-web/src/swarm/__tests__/replay-cursor.test.ts
  apps/zerg/frontend-web/src/swarm/index.ts
  apps/zerg/frontend-web/src/swarm/replay.ts
  apps/zerg/frontend-web/src/swarm/useSwarmReplay.ts
  docs/tasks/swarm-map-overlay-task.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
