Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

refactor: add spinner UI primitive
  apps/zerg/frontend-web/src/components/ui/Spinner.tsx
  apps/zerg/frontend-web/src/components/ui/index.ts
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/ContactsPage.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/IntegrationsPage.tsx
  apps/zerg/frontend-web/src/pages/KnowledgeSourcesPage.tsx
  apps/zerg/frontend-web/src/pages/ProfilePage.tsx
  apps/zerg/frontend-web/src/pages/ReliabilityPage.tsx
  apps/zerg/frontend-web/src/pages/RunnersPage.tsx
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
  apps/zerg/frontend-web/src/styles/ui.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: clean knowledge sources header actions
  apps/zerg/frontend-web/src/pages/KnowledgeSourcesPage.tsx
  apps/zerg/frontend-web/src/styles/knowledge-sources.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat(jobs): migrate gmail-sync job from Sauron
  apps/zerg/backend/zerg/jobs/life_hub/__init__.py
  apps/zerg/backend/zerg/jobs/life_hub/gmail_sync.py
  apps/zerg/backend/zerg/jobs/registry.py
Due: none

fix(scheduler): remove unsupported 'name' param from add_job
  apps/zerg/backend/zerg/services/scheduler_service.py
Due: none

refactor: modernize runner detail layout
  apps/zerg/frontend-web/src/pages/RunnerDetailPage.tsx
  apps/zerg/frontend-web/src/styles/runner-detail.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: standardize modal actions
  apps/zerg/frontend-web/src/components/AddContextModal.tsx
  apps/zerg/frontend-web/src/components/AddKnowledgeSourceModal.tsx
  apps/zerg/frontend-web/src/components/AddRunnerModal.tsx
  apps/zerg/frontend-web/src/styles/modal.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

chore: update UI task status
  docs/work/ui-audit-tasklist.md
Due: none

fix(deps): add asyncpg for job queue + fix scheduler startup
  apps/zerg/backend/pyproject.toml
Due: none

refactor: unify integrations layout
  apps/zerg/frontend-web/src/pages/IntegrationsPage.tsx
  apps/zerg/frontend-web/src/pages/KnowledgeSourcesPage.tsx
  apps/zerg/frontend-web/src/styles/css/agent-settings.css
  apps/zerg/frontend-web/src/styles/knowledge-sources.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: tidy info pages
  apps/zerg/frontend-web/src/pages/ChangelogPage.tsx
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  apps/zerg/frontend-web/src/styles/info-pages.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: standardize dashboard spinner
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: drop unused profile/admin legacy buttons
  apps/zerg/frontend-web/src/styles/profile-admin.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: remove settings legacy buttons
  apps/zerg/frontend-web/src/styles/settings.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: standardize page loader
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/styles/layout.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys
