Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

test: add mobile ui baselines
  Makefile
  apps/zerg/e2e/playwright.config.js
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts
  docs/TESTING.md
  docs/work/ui-audit-tasklist.md
Due: none

style: normalize section title typography
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/ProfilePage.tsx
  apps/zerg/frontend-web/src/pages/ReliabilityPage.tsx
  apps/zerg/frontend-web/src/pages/RunnerDetailPage.tsx
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
  apps/zerg/frontend-web/src/pages/TraceExplorerPage.tsx
  apps/zerg/frontend-web/src/styles/profile-admin.css
  apps/zerg/frontend-web/src/styles/reliability.css
  apps/zerg/frontend-web/src/styles/runner-detail.css
  apps/zerg/frontend-web/src/styles/ui.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

style: stack section headers on mobile
  apps/zerg/frontend-web/src/styles/ui.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

style: refine runner detail mobile layout
  apps/zerg/frontend-web/src/styles/runner-detail.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

style: refine mobile nav and chat layout
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/css/nav.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

style: adjust canvas logs panel on mobile
  apps/zerg/frontend-web/src/styles/canvas-react.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

style: tighten mobile header and chat sidebar
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/css/nav.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

style: add safe-area padding to status bar
  apps/zerg/frontend-web/src/styles/css/nav.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

ui: add mobile drawer account actions and expand baselines
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/styles/css/nav.css
  docs/TESTING.md
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

ui: add canvas minimal mode toggle
  apps/zerg/frontend-web/src/pages/CanvasPage.tsx
  apps/zerg/frontend-web/src/pages/canvas/ExecutionControls.tsx
  apps/zerg/frontend-web/src/styles/canvas-react.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test: capture mobile nav baseline
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts
  apps/zerg/frontend-web/src/styles/css/nav.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

style: smooth mobile scrolling for nav and chat
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/css/nav.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

ui: refine mobile drawer identity
  apps/zerg/frontend-web/src/components/Layout.tsx
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

docs: mark mobile ui tasks complete
  docs/work/ui-audit-tasklist.md
Due: none
