Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

phase 0: spec longhouse tool surface tightening
  TODO.md
  docs/specs/longhouse-tool-surface-tightening.md
  docs/tasks/longhouse-tool-surface-tightening.md
Due: none

phase 1: trim longhouse mcp server
  apps/zerg/backend/tests_lite/test_longhouse_mcp_server.py
  apps/zerg/backend/zerg/mcp_server/api_client.py
  apps/zerg/backend/zerg/mcp_server/server.py
  docs/tasks/longhouse-tool-surface-tightening.md
Due: python-vulture

phase 2: split local install from workspace mcp
  apps/zerg/backend/tests_lite/test_connect_install_boundary.py
  apps/zerg/backend/tests_lite/test_workspace_mcp_injection.py
  apps/zerg/backend/zerg/cli/connect.py
  apps/zerg/backend/zerg/services/shipper/__init__.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
  apps/zerg/backend/zerg/services/workspace_manager.py
  docs/tasks/longhouse-tool-surface-tightening.md
Due: python-vulture

phase 3: align docs with tool surfaces
  AGENTS.md
  README.md
  VISION.md
  docs/tasks/longhouse-tool-surface-tightening.md
Due: none

fix runner readme smoke test fixtures
  apps/runner/src/__tests__/doctor.test.ts
  apps/runner/src/__tests__/ws-client-reconnect.test.ts
Due: none

fix: harden gmail watch bootstrap state
  TODO.md
  apps/zerg/backend/scripts/test_gmail_integration.py
  apps/zerg/backend/tests_lite/test_auth_gmail_connect.py
  apps/zerg/backend/tests_lite/test_gmail_pubsub_config_validation.py
  apps/zerg/backend/tests_lite/test_gmail_watch_renewal_service.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/backend/zerg/routers/email_webhooks.py
  apps/zerg/backend/zerg/services/gmail_api.py
  apps/zerg/backend/zerg/services/watch_renewal_service.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
Due: typescript-typecheck, frontend-lint, python-vulture

fix dashboard fiche row accessibility
  apps/zerg/frontend-web/src/components/ui/Table.tsx
  apps/zerg/frontend-web/src/pages/__tests__/__fixtures__/legacy-dashboard.html
  apps/zerg/frontend-web/src/pages/dashboard/FicheTableRow.tsx
Due: typescript-typecheck, frontend-lint

phase 4: close out longhouse tool surface tightening
  TODO.md
  docs/specs/longhouse-tool-surface-tightening.md
  docs/tasks/longhouse-tool-surface-tightening.md
Due: none

feat: polish gmail inbox onboarding
  TODO.md
  apps/zerg/backend/tests_lite/test_auth_status_gmail.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/e2e/tests/live/conversations-live.spec.ts
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/lib/googleCodeClient.ts
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/auth.ts
  apps/zerg/frontend-web/src/services/api/index.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/styles/conversations.css
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

test: tighten inbox live heading selector
  apps/zerg/e2e/tests/live/conversations-live.spec.ts
Due: none

Add first-class xAI provider support
  TODO.md
  apps/zerg/backend/scripts/validate-runtime.py
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_llm_providers.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/tests_lite/test_xai_model_routing.py
  apps/zerg/backend/zerg/cli/serve.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/models_config.py
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/e2e/tests/model-capabilities.spec.ts
  apps/zerg/frontend-web/src/components/LlmProviderCard.tsx
  config/models.json
Due: typescript-typecheck, frontend-lint, python-vulture

feat: migrate hosted profile from Groq to xAI Grok 4.1 fast models
  .github/workflows/contract-first-ci.yml
  apps/zerg/backend/tests_lite/test_model_smoke.py
  apps/zerg/backend/tests_lite/test_xai_model_routing.py
  apps/zerg/backend/zerg/models_config.py
  apps/zerg/backend/zerg/pricing.py
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/memory_embeddings.py
  apps/zerg/backend/zerg/services/session_processing/embeddings.py
  apps/zerg/backend/zerg/services/session_processing/tokens.py
  apps/zerg/backend/zerg/tools/builtin/oikos_memory_tools.py
  apps/zerg/backend/zerg/tools/tool_search.py
  apps/zerg/frontend-web/src/components/SessionPickerModal.tsx
  apps/zerg/frontend-web/src/lib/providers.ts
  apps/zerg/frontend-web/src/lib/sessionWorkspace.ts
  apps/zerg/frontend-web/src/oikos/app/context/AppContext.tsx
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/core/model-config.ts
  apps/zerg/frontend-web/src/oikos/lib/state-manager.ts
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  config/models.json
  scripts/smoke_models.py
Due: typescript-typecheck, frontend-lint, python-vulture

fix: wire XAI_API_KEY through control plane provisioner
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/docker-compose.yml
Due: none

fix: disable reasoning_effort for xAI models (rejects the parameter)
  apps/zerg/backend/tests_lite/test_llm_providers.py
  apps/zerg/backend/tests_lite/test_xai_model_routing.py
  config/models.json
Due: none

docs: queue gmail testing followups
  TODO.md
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: none

fix: guard reasoning_effort by provider, not capability flag
  apps/zerg/backend/tests_lite/test_xai_model_routing.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  config/models.json
Due: python-vulture

spec memory system consolidation
  TODO.md
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  docs/specs/memory-system-consolidation.md
  docs/tasks/memory-system-consolidation.md
Due: typescript-typecheck, frontend-lint

consolidate optional memory files
  TODO.md
  VISION.md
  apps/zerg/backend/scripts/replay_run.py
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_guid_models_sqlite.py
  apps/zerg/backend/tests_lite/test_memory_files.py
  apps/zerg/backend/tests_lite/test_oikos_dispatch_backend_preference.py
  apps/zerg/backend/tests_lite/test_oikos_dispatch_contract.py
  apps/zerg/backend/tests_lite/test_tenant_db_guid_repair.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/crud/crud_threads.py
  apps/zerg/backend/zerg/crud/memory_crud.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/managers/message_builder.py
  apps/zerg/backend/zerg/mcp_server/__init__.py
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/models/thread.py
  apps/zerg/backend/zerg/routers/threads.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/backend/zerg/services/memory_paths.py
  apps/zerg/backend/zerg/services/memory_search.py
  apps/zerg/backend/zerg/services/memory_store.py
  apps/zerg/backend/zerg/services/memory_summarizer.py
  apps/zerg/backend/zerg/services/tenant_db_guid_repair.py
  apps/zerg/backend/zerg/services/thread_service.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
  apps/zerg/backend/zerg/tools/builtin/__init__.py
  apps/zerg/backend/zerg/tools/builtin/memory_tools.py
  apps/zerg/backend/zerg/tools/builtin/oikos_memory_tools.py
  apps/zerg/backend/zerg/tools/builtin/oikos_tools.py
  apps/zerg/backend/zerg/tools/generated/tool_definitions.py
  apps/zerg/backend/zerg/tools/tests/test_core_tools.py
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  apps/zerg/frontend-web/src/services/api/threads.ts
  docs/tasks/memory-system-consolidation.md
  schemas/tools.yml
Due: typescript-typecheck, frontend-lint, python-vulture

test: deepen gmail inbox confidence
  TODO.md
  apps/zerg/backend/tests_lite/test_conversation_reply_service.py
  apps/zerg/backend/tests_lite/test_email_conversation_ingest.py
  apps/zerg/backend/tests_lite/test_gmail_provider_conversations.py
  apps/zerg/e2e/tests/onboarding/gmail-connect.spec.ts
Due: none

feat: add OpenRouter as unified LLM provider for hosted instances
  .github/workflows/contract-first-ci.yml
  apps/zerg/backend/tests_lite/test_llm_providers.py
  apps/zerg/backend/tests_lite/test_model_smoke.py
  apps/zerg/backend/tests_lite/test_xai_model_routing.py
  apps/zerg/backend/zerg/models_config.py
  apps/zerg/backend/zerg/pricing.py
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/openai_client.py
  apps/zerg/frontend-web/src/components/LlmProviderCard.tsx
  config/models.json
  scripts/smoke_models.py
Due: typescript-typecheck, frontend-lint, python-vulture

feat: add OpenRouter as unified LLM provider for hosted instances
  .github/workflows/contract-first-ci.yml
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/docker-compose.yml
  apps/zerg/backend/tests_lite/test_llm_providers.py
  apps/zerg/backend/tests_lite/test_model_smoke.py
  apps/zerg/backend/tests_lite/test_xai_model_routing.py
  apps/zerg/backend/zerg/models_config.py
  apps/zerg/backend/zerg/pricing.py
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/openai_client.py
  apps/zerg/frontend-web/src/components/LlmProviderCard.tsx
  config/models.json
  scripts/smoke_models.py
Due: typescript-typecheck, frontend-lint, python-vulture

harden installer first-run validation
  .github/workflows/test-install.yml
  Makefile
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/tests_lite/test_models_config_packaging.py
  apps/zerg/backend/zerg/models_config.py
  scripts/ci/installer-first-run.sh
  scripts/install.sh
Due: python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
