Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Keep timeline polling when SSE is unavailable
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Ship hosted auth redirects and runner card cleanup
  apps/control-plane/Dockerfile
  apps/control-plane/control_plane/routers/auth.py
  apps/control-plane/control_plane/routers/ui.py
  apps/control-plane/longhouse_shared/__init__.py
  apps/control-plane/longhouse_shared/redirects.py
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/components/__tests__/PresenceBadge.test.tsx
  apps/zerg/frontend-web/src/components/chat/RunnerSetupCard.tsx
  apps/zerg/frontend-web/src/components/chat/__tests__/RunnerSetupCard.test.tsx
  docker/runtime.dockerfile
  scripts/lib/hosted-instance.sh
  scripts/tests/hosted-instance-auth.test.sh
Due: typescript-typecheck, frontend-lint, python-vulture

Ship hosted auth redirects and runner card cleanup
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/components/__tests__/PresenceBadge.test.tsx
  apps/zerg/frontend-web/src/components/chat/RunnerSetupCard.tsx
  apps/zerg/frontend-web/src/components/chat/__tests__/RunnerSetupCard.test.tsx
  docker/runtime.dockerfile
  scripts/lib/hosted-instance.sh
  scripts/tests/hosted-instance-auth.test.sh
Due: typescript-typecheck, frontend-lint, python-vulture

Align timeline runtime docs with shipped state
  TODO.md
  docs/specs/timeline-realtime-action-center.md
  docs/tasks/open/timeline-realtime-action-center.md
Due: none

Lazy-load Loop inbox route
  apps/zerg/frontend-web/src/routes/App.tsx
Due: typescript-typecheck, frontend-lint

Harden model smoke provider parsing
  apps/zerg/backend/tests_lite/test_model_smoke_rate_limits.py
  scripts/smoke_models.py
Due: none

loop: replace mobile float with top bar
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Document frontend effect rule
  AGENTS.md
Due: none

loop: keep mobile drawer available
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Clear stale conversation search selection
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Fix websocket reconnect error handling
  apps/zerg/frontend-web/src/lib/__tests__/useWebSocket.test.tsx
  apps/zerg/frontend-web/src/lib/useWebSocket.tsx
Due: typescript-typecheck, frontend-lint

Restore loop stale-card recovery link
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
Due: typescript-typecheck, frontend-lint

loop: clarify mobile queue trigger
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

loop: smooth mobile drawer transitions
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Plan managed timeline runtime phases
  TODO.md
  docs/specs/timeline-realtime-action-center.md
  docs/tasks/open/timeline-realtime-action-center.md
Due: none

Make timeline inference labels honest
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/session_runtime.py
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  docs/tasks/open/timeline-realtime-action-center.md
Due: typescript-typecheck, frontend-lint, python-vulture

Expose timeline execution-home badges
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/session_execution_home.py
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/lib/sessionExecutionHome.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/__tests__/agents-stream.test.ts
  apps/zerg/frontend-web/src/services/api/agents.ts
  docs/tasks/open/timeline-realtime-action-center.md
Due: typescript-typecheck, frontend-lint, python-vulture

loop: add breathing room to mobile header
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: css-rgba-validate

loop: keep install hint punctuation inline
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
Due: typescript-typecheck, frontend-lint

phase 0: spec managed local session control
  docs/specs/managed-local-session-control.md
  docs/tasks/open/managed-local-session-control.md
Due: none

phase 1: harden tmux session naming
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
Due: python-vulture

test: cover managed-local loop reply gating
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
Due: typescript-typecheck, frontend-lint

phase 2: add managed local launcher
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  docs/tasks/open/managed-local-session-control.md
Due: typescript-typecheck, frontend-lint, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
