Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

fix(timeline): resolve tool result events showing as question marks
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

fix(oikos): dedupe formatUsd, fix double CTA, use design token
  apps/zerg/frontend-web/src/oikos/app/components/QuotaPanel.tsx
  apps/zerg/frontend-web/src/oikos/app/lib/quota-ui.ts
  apps/zerg/frontend-web/src/oikos/styles/layout.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

feat(events): persist tool_call_id for precise call/result pairing
  apps/engine/src/pipeline/compressor.rs
  apps/engine/src/pipeline/parser.rs
  apps/zerg/backend/tests_lite/test_tool_call_id.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/backend/zerg/services/shipper/parser.py
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, python-vulture

chore(marketing): refresh landing screenshots
  apps/zerg/frontend-web/public/images/landing/search-preview.png
  apps/zerg/frontend-web/public/images/landing/session-detail-preview.png
  apps/zerg/frontend-web/public/images/landing/timeline-preview.png
Due: none

ci: add email routing check to smoke-after-deploy
  .github/workflows/smoke-after-deploy.yml
  scripts/check-email-routing.sh
Due: none

feat(landing): add screenshot frame variants and theme toggle
  TODO.md
  apps/zerg/frontend-web/src/components/landing/AppScreenshotFrame.tsx
  apps/zerg/frontend-web/src/components/landing/DemoSection.tsx
  apps/zerg/frontend-web/src/components/landing/HeroSection.tsx
  apps/zerg/frontend-web/src/components/landing/ProductShowcase.tsx
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
  apps/zerg/frontend-web/src/styles/landing.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

fix(landing): preserve query params on /landing alias
  apps/zerg/frontend-web/src/routes/App.tsx
Due: typescript-typecheck, frontend-lint

fix(ingest): include tool_output_text + tool_call_id in event dedup hash
  apps/zerg/backend/tests_lite/test_tool_call_id.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

fix(timeline): fall through to FIFO when tool_call_id lookup misses
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
Due: typescript-typecheck, frontend-lint

fix(events): add id tiebreaker to event ordering for stable FIFO pairing
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

fix(parser): emit placeholder event for empty-content is_error tool results
  apps/engine/src/pipeline/parser.rs
  apps/zerg/backend/zerg/services/shipper/parser.py
Due: python-vulture

fix(embeddings): pass metadata.source to satisfy litellm proxy require_source hook
  apps/zerg/backend/zerg/services/memory_embeddings.py
  apps/zerg/backend/zerg/services/session_processing/embeddings.py
Due: python-vulture

docs: sync TODO and VISION with code-verified backlog
  TODO.md
  VISION.md
Due: none

feat(timeline): merge tool call + result into single card
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

fix(oikos): use recent thread context window
  TODO.md
  apps/zerg/backend/tests_lite/test_thread_context_window.py
  apps/zerg/backend/zerg/crud/__init__.py
  apps/zerg/backend/zerg/crud/crud_messages.py
  apps/zerg/backend/zerg/services/thread_service.py
Due: python-vulture

fix(oikos): align prompt with workspace-first tool contract
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_prompt_contract.py
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/backend/zerg/services/oikos_service.py
Due: python-vulture

fix(frontend): normalize forum session states and paginate detail events
  TODO.md
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/forum/__tests__/session-status.test.ts
  apps/zerg/frontend-web/src/forum/session-mapper.ts
  apps/zerg/frontend-web/src/forum/session-status.ts
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/pages/ForumPage.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

test(agents): add presence, migration, and dispatch guardrails
  TODO.md
  apps/zerg/backend/tests_lite/test_forum_filtering.py
  apps/zerg/backend/tests_lite/test_oikos_dispatch_contract.py
  apps/zerg/backend/tests_lite/test_sqlite_migration_guard.py
Due: none

test(oikos): verify latest thread window through runner message assembly
  TODO.md
  apps/zerg/backend/tests_lite/test_thread_context_window.py
Due: none

docs(connect): align install guide and CLI with engine runtime
  apps/zerg/backend/zerg/cli/connect.py
  docs/install-guide.md
Due: python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
