Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

Allow empty forum state in qa-live
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

feat(ssh): add key_content param + SSH_PRIVATE_KEY env fallback
  apps/zerg/backend/zerg/shared/ssh.py
Due: python-vulture

Shared LLM pool banners + quotas
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/routers/oikos_run_dispatch.py
  apps/zerg/backend/zerg/services/quota.py
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/components/LlmProviderCard.tsx
  apps/zerg/frontend-web/src/styles/settings.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

fix(ssh): key_content none-check + chmod inside try block
  apps/zerg/backend/zerg/shared/ssh.py
Due: python-vulture

QA live: tolerate forum loading state
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

fix(ssh): harden key resolution against edge cases
  apps/zerg/backend/zerg/shared/ssh.py
Due: python-vulture

feat(hosted): provision Groq key + rate limits + cost tracking into instances
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/zerg/backend/zerg/pricing.py
  config/models.json
Due: python-vulture

feat(hosted): provision Groq key + rate limits + cost tracking into instances
  apps/zerg/backend/zerg/pricing.py
  config/models.json
Due: python-vulture

feat(engine): add Gemini JSON session parser
  apps/engine/src/pipeline/parser.rs
Due: none

test(engine): add E2E integration tests for Claude/Gemini/Codex shipping pipeline
  apps/zerg/backend/pytest.ini
  apps/zerg/backend/tests/integration/__init__.py
  apps/zerg/backend/tests/integration/fixtures/019a4bea-3f39-7fe1-b132-6c14579e806c.jsonl
  apps/zerg/backend/tests/integration/fixtures/1dd6c481-7d7b-498a-b492-c33c917889b9.jsonl
  apps/zerg/backend/tests/integration/fixtures/gemini_session.json
  apps/zerg/backend/tests/integration/test_shipper_e2e.py
Due: none

chore: add make test-shipper-e2e target for pipeline integration tests
  Makefile
Due: none

chore(engine): add install-engine target + symlink to prevent stale binary
  AGENTS.md
  Makefile
Due: none

fix(engine): preserve session_id for incremental Codex session parses
  apps/engine/src/shipper.rs
Due: none

fix(engine): harden session_id restoration for truncation and spool paths
  apps/engine/src/main.rs
  apps/engine/src/shipper.rs
Due: none

fix(engine): extract git branch and repo URL from Codex session_meta payload
  apps/engine/src/pipeline/parser.rs
Due: none

chore: add TODO for Codex orphan session reconciliation
  TODO.md
Due: none

feat(engine): robust shipping QA suite — golden files, adversarial tests, observability
  Makefile
  apps/engine/Cargo.lock
  apps/engine/Cargo.toml
  apps/engine/src/main.rs
  apps/engine/src/shipper.rs
  apps/engine/tests/adversarial_parser.rs
  apps/engine/tests/fixtures/adversarial/claude/malformed_middle.jsonl
  apps/engine/tests/fixtures/adversarial/codex/unknown_payload_type.jsonl
  apps/engine/tests/fixtures/adversarial/gemini/empty_messages.json
  apps/engine/tests/fixtures/adversarial/gemini/object_content.json
  apps/engine/tests/fixtures/adversarial/gemini/truncated.json.broken
  apps/engine/tests/fixtures/adversarial/gemini/unknown_type.json
  apps/engine/tests/fixtures/golden/claude/basic.expected.json
  apps/engine/tests/fixtures/golden/claude/basic.jsonl
  apps/engine/tests/fixtures/golden/codex/basic.expected.json
  apps/engine/tests/fixtures/golden/codex/basic.jsonl
  apps/engine/tests/fixtures/golden/gemini/basic.expected.json
  apps/engine/tests/fixtures/golden/gemini/basic.json
  apps/engine/tests/golden_parser_contract.rs
  apps/zerg/backend/tests/integration/fixtures/gemini_drift.json
  apps/zerg/backend/tests/integration/test_shipper_e2e.py
Due: none

fix(marketing): add OpenCode as coming-soon integration, update FAQ
  apps/zerg/frontend-web/src/components/landing/IntegrationsSection.tsx
  apps/zerg/frontend-web/src/components/landing/TrustSection.tsx
  scripts/fix_codex_orphan_sessions.py
Due: typescript-typecheck, frontend-lint

chore: mark Codex orphan sessions as resolved in TODO
  TODO.md
Due: none

docs(vision): reframe around always-on cloud agents + inter-agent communication
  VISION.md
Due: none

feat(landing): reframe marketing around always-on cloud agents
  apps/zerg/frontend-web/src/components/landing/ComparisonTable.tsx
  apps/zerg/frontend-web/src/components/landing/DemoSection.tsx
  apps/zerg/frontend-web/src/components/landing/FooterCTA.tsx
  apps/zerg/frontend-web/src/components/landing/HeroSection.tsx
  apps/zerg/frontend-web/src/components/landing/HowItWorksSection.tsx
  apps/zerg/frontend-web/src/components/landing/PricingSection.tsx
Due: typescript-typecheck, frontend-lint
