Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

Add runner connectivity v1 spec
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Stabilize shipper E2E server fixture
  apps/runner/scripts/install.sh
  apps/zerg/backend/tests/integration/test_shipper_e2e.py
  apps/zerg/backend/tests_lite/test_runner_install_script.py
  apps/zerg/backend/zerg/routers/runners.py
  apps/zerg/backend/zerg/routers/templates/install.sh
  apps/zerg/frontend-web/src/components/AddRunnerModal.tsx
  apps/zerg/frontend-web/src/components/chat/RunnerSetupCard.tsx
  apps/zerg/frontend-web/src/lib/runnerInstallCommands.ts
  apps/zerg/frontend-web/src/styles/chat.css
  docs/specs/runner-connectivity-v1.md
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Make shipper E2E secrets self-contained
  apps/zerg/backend/tests/integration/test_shipper_e2e.py
Due: none

Simplify contract-first validate job
  .github/workflows/contract-first-ci.yml
Due: none

Decouple contract validation from frontend dist
  Makefile
Due: none

Flush trailing SSE event chunks
  apps/zerg/e2e/tests/helpers/sse.ts
Due: none

Drop langchain-core from fake LLMs
  apps/zerg/backend/zerg/testing/mock_llm.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
Due: python-vulture

Add Linux runner install modes
  TODO.md
Due: none

Remove stale Linux runner helper
  TODO.md
  apps/runner/scripts/install-linux.sh
  docs/specs/runner-connectivity-v1.md
Due: none

Spec solo-dev runner onboarding QA
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Build runner onboarding browser ring
  Makefile
  apps/zerg/e2e/playwright.onboarding.config.js
  apps/zerg/e2e/tests/onboarding/runner_install_modes.spec.ts
  apps/zerg/frontend-web/src/components/AddRunnerModal.tsx
  apps/zerg/frontend-web/src/pages/RunnersPage.tsx
  scripts/qa-oss.sh
Due: typescript-typecheck, frontend-lint

Add runner onboarding validation workflow
  .github/workflows/runner-onboarding-validation.yml
  README.md
  TODO.md
  docs/checklists/runner-onboarding-release-checklist.md
  docs/specs/runner-connectivity-v1.md
Due: none

Fix onboarding validation CI follow-ups
  .github/workflows/readme-tests.yml
  .github/workflows/runner-onboarding-validation.yml
  README.md
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Bootstrap uv in README tests
  .github/workflows/readme-tests.yml
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Make README smoke clean-clone safe
  .github/workflows/readme-tests.yml
  README.md
  TODO.md
  apps/runner/package.json
  bun.lock
  docs/specs/runner-connectivity-v1.md
Due: none

Raise README smoke timeout for fresh clones
  README.md
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Reprioritize TODO for runner launch hardening
  TODO.md
Due: none

Fix local runner enroll token URL fallback
  TODO.md
  apps/zerg/backend/tests_lite/test_runner_install_script.py
  apps/zerg/backend/zerg/routers/runners.py
  docs/specs/runner-connectivity-v1.md
Due: python-vulture

Align fresh-clone smoke with chromium install
  .github/workflows/contract-first-ci.yml
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Register eval dataset markers dynamically
  apps/zerg/backend/evals/conftest.py
Due: none
