Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

Make ChatPage route-owned
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

Make SessionsPage URL-owned
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

Fix CI regressions in installer and hosted smoke
  .github/workflows/smoke-after-deploy.yml
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
  apps/zerg/backend/tests_lite/test_voice_openai_metadata.py
  apps/zerg/backend/zerg/voice/openai_metadata.py
  apps/zerg/backend/zerg/voice/stt_service.py
  apps/zerg/backend/zerg/voice/tts_service.py
  apps/zerg/e2e/tests/live/fixtures.ts
  scripts/lib/hosted-instance.sh
Due: python-vulture

Make conversations and loop pages route-owned
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

Make trace and swarm pages route-owned
  apps/zerg/frontend-web/src/components/ui/Table.tsx
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/TraceExplorerPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/TraceExplorerPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

ci: harden provider continuation verification
  .github/workflows/extended-ci.yml
  apps/zerg/e2e/scripts/provider-continuation-smoke.mjs
Due: none

ci: install extended suite toolchain
  .github/workflows/extended-ci.yml
Due: none

ci: align full suite e2e prerequisites
  .github/workflows/ci-test.yml
  .github/workflows/extended-ci.yml
Due: none

Move session and Oikos fetches into React Query
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/pages/OikosChatPage.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/OikosChatPage.test.tsx
  apps/zerg/frontend-web/src/services/api/index.ts
  apps/zerg/frontend-web/src/services/api/sessionChat.ts
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

Remove hosted LiteLLM OpenAI defaults
  apps/zerg/backend/tests_lite/test_voice_openai_metadata.py
  apps/zerg/backend/zerg/services/memory_embeddings.py
  apps/zerg/backend/zerg/services/session_processing/embeddings.py
  apps/zerg/backend/zerg/voice/openai_metadata.py
  apps/zerg/backend/zerg/voice/stt_service.py
  apps/zerg/backend/zerg/voice/tts_service.py
Due: python-vulture

Remove hosted LiteLLM OpenAI defaults
  apps/control-plane/README.md
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/docker-compose.yml
  apps/control-plane/tests/test_provisioning_flow.py
  apps/zerg/backend/tests_lite/test_voice_openai_metadata.py
  apps/zerg/backend/zerg/services/memory_embeddings.py
  apps/zerg/backend/zerg/services/session_processing/embeddings.py
  apps/zerg/backend/zerg/voice/openai_metadata.py
  apps/zerg/backend/zerg/voice/stt_service.py
  apps/zerg/backend/zerg/voice/tts_service.py
Due: python-vulture

loop: move mobile queue into a sheet
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

tasks: record mobile loop sheet verification
  docs/tasks/open/mobile-loop-inbox.md
Due: none

spec: pin mobile loop queue sheet pass
  docs/specs/mobile-loop-inbox.md
  docs/tasks/open/mobile-loop-inbox.md
Due: none

Simplify settings and modal state ownership
  apps/zerg/frontend-web/src/components/AddKnowledgeSourceModal.tsx
  apps/zerg/frontend-web/src/components/SessionPickerModal.tsx
  apps/zerg/frontend-web/src/components/__tests__/AddKnowledgeSourceModal.test.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionPickerModal.test.tsx
  apps/zerg/frontend-web/src/hooks/useKnowledgeSources.ts
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SettingsPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

loop: condense mobile loop chrome
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Simplify websocket callback synchronization
  apps/zerg/frontend-web/src/components/workspace/WorkspaceShell.tsx
  apps/zerg/frontend-web/src/hooks/useLatest.ts
  apps/zerg/frontend-web/src/lib/__tests__/useWebSocket.test.tsx
  apps/zerg/frontend-web/src/lib/useWebSocket.tsx
  apps/zerg/frontend-web/src/pages/AutomationsPage.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

Make forum selection URL-owned
  apps/zerg/frontend-web/src/legacy/forum/ForumPage.tsx
  apps/zerg/frontend-web/src/legacy/forum/__tests__/ForumPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

loop: switch mobile queue to a drawer
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

tests: add linux public page baselines
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/changelog-linux-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/docs-linux-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/landing-linux-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/pricing-linux-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/privacy-linux-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/security-linux-chromium-darwin.png
Due: none
