Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

fix(docs): HTML wrapper fetches MD from GitHub (single source)
  apps/zerg/frontend-web/public/docs/external-jobs.html
Due: none

fix(ui): add scroll behavior to PageShell so content clears footer
  apps/zerg/frontend-web/src/styles/page-shell.css
Due: forbid-legacy-trigger-keys

fix: add spawn_workspace_worker to CORE_TOOLS
  apps/zerg/backend/zerg/tools/catalog.py
Due: none

fix: import theme.css statically + add 404/console error test
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts
  apps/zerg/frontend-web/src/jarvis/contexts/context-loader.ts
  apps/zerg/frontend-web/src/pages/JarvisChatPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test: add CORE_TOOLS/BUILTIN_TOOLS drift prevention tests
  apps/zerg/backend/zerg/tools/tests/test_core_tools.py
  apps/zerg/backend/zerg/tools/tests/test_lazy_binder.py
Due: none

fix: add spawn_workspace_worker to supervisor allowlist
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/tools/tests/test_core_tools.py
Due: none

refactor: single source of truth for supervisor tools
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/tools/builtin/__init__.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/backend/zerg/tools/catalog.py
  apps/zerg/backend/zerg/tools/tests/test_core_tools.py
Due: none

feat: unify glass theme and css entrypoint
  AGENTS.md
  apps/zerg/frontend-web/src/jarvis/contexts/context-loader.ts
  apps/zerg/frontend-web/src/jarvis/contexts/personal/manifest.json
  apps/zerg/frontend-web/src/jarvis/contexts/personal/theme.css
  apps/zerg/frontend-web/src/jarvis/styles/base.css
  apps/zerg/frontend-web/src/main.tsx
  apps/zerg/frontend-web/src/pages/JarvisChatPage.tsx
  apps/zerg/frontend-web/src/styles/app.css
  apps/zerg/frontend-web/src/styles/landing.css
  apps/zerg/frontend-web/src/styles/layers.css
  apps/zerg/frontend-web/src/styles/legacy.css
  apps/zerg/frontend-web/src/styles/styles.css
  apps/zerg/frontend-web/src/styles/tokens.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

ci: add post-deploy smoke test workflow
  .github/workflows/smoke-after-deploy.yml
Due: none

test: add visual smoke snapshots for glass
  apps/zerg/e2e/tests/visual_smoke_glass.spec.ts
  apps/zerg/e2e/tests/visual_smoke_glass.spec.ts-snapshots/canvas-chromium-darwin.png
  apps/zerg/e2e/tests/visual_smoke_glass.spec.ts-snapshots/chat-chromium-darwin.png
  apps/zerg/e2e/tests/visual_smoke_glass.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/zerg/e2e/tests/visual_smoke_glass.spec.ts-snapshots/settings-chromium-darwin.png
Due: none

fix: make Caddy SSH check non-fatal in smoke tests
  scripts/smoke-prod.sh
Due: none

ci: add scheduled smoke tests every 6 hours
  .github/workflows/smoke-after-deploy.yml
Due: none

Add Swarm Ops MVP triage view
  AGENTS.md
  apps/zerg/backend/zerg/routers/jarvis_runs.py
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
  apps/zerg/frontend-web/src/jarvis/core/jarvis-api-client.ts
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/styles/swarm-ops.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test: add visual smoke make targets
  Makefile
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
