Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

cleanup: delete legacy Postgres test suite — 49,875 lines removed
  Makefile
Due: none

cleanup(frontend): remove 15 unused files + 4 dead npm deps
  apps/zerg/frontend-web/package.json
  apps/zerg/frontend-web/public/debug-perf.js
  apps/zerg/frontend-web/public/funnel.js
  apps/zerg/frontend-web/src/components/EmptyStateIllustration.tsx
  apps/zerg/frontend-web/src/components/fiche-settings/ConnectorCredentialsPanel.tsx
  apps/zerg/frontend-web/src/components/landing/DeploymentComparison.tsx
  apps/zerg/frontend-web/src/components/landing/SkillsSection.tsx
  apps/zerg/frontend-web/src/components/landing/WaitlistModal.tsx
  apps/zerg/frontend-web/src/forum/index.ts
  apps/zerg/frontend-web/src/generated/api-client.ts
  apps/zerg/frontend-web/src/hooks/usePointerDrag.ts
  apps/zerg/frontend-web/src/lib/readiness-contract.ts
  apps/zerg/frontend-web/src/oikos/app/components/CommisProgress.tsx
  apps/zerg/frontend-web/src/oikos/app/main.tsx
  apps/zerg/frontend-web/src/oikos/lib/conversation-list.ts
  apps/zerg/frontend-web/src/oikos/lib/text-channel-controller.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
  bun.lock
Due: typescript-typecheck, frontend-lint, css-rgba-validate

cleanup(frontend): remove 21 unused icon exports from icons.tsx (-216 lines)
  apps/zerg/frontend-web/src/components/icons.tsx
Due: typescript-typecheck, frontend-lint

cleanup(frontend): remove unused hook exports (-101 lines)
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/hooks/useFicheConfig.ts
  apps/zerg/frontend-web/src/hooks/useFicheConnectors.ts
  apps/zerg/frontend-web/src/hooks/useJobSecrets.ts
  apps/zerg/frontend-web/src/hooks/useKnowledgeSources.ts
Due: typescript-typecheck, frontend-lint

cleanup: remove 4 dead Python services + unexport internal-only functions
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/uv.lock
  apps/zerg/backend/zerg/services/container_runner.py
  apps/zerg/backend/zerg/services/evidence_mounting_llm.py
  apps/zerg/backend/zerg/services/expression_evaluator.py
  apps/zerg/backend/zerg/services/trace_coverage.py
  apps/zerg/frontend-web/src/forum/layout.ts
  apps/zerg/frontend-web/src/forum/session-mapper.ts
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/pages/dashboard/formatters.ts
Due: typescript-typecheck, frontend-lint, python-vulture

fix(sidechain): once-true-stays-true on re-ingest + hide_autonomous in semantic search
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/backend/zerg/services/search.py
Due: python-vulture

cleanup(css): delete 4 orphaned CSS files + remove unused layout helpers
  apps/zerg/frontend-web/src/styles/css/fiche_shelf.css
  apps/zerg/frontend-web/src/styles/css/mcp.css
  apps/zerg/frontend-web/src/styles/css/tool_config_modal.css
  apps/zerg/frontend-web/src/styles/css/util.css
  apps/zerg/frontend-web/src/styles/layout.css
Due: css-rgba-validate

fix: remove stale CSS @imports and broken script after deletions (Codex review)
  apps/zerg/backend/scripts/trace_coverage.py
  apps/zerg/frontend-web/src/styles/app.css
Due: css-rgba-validate

feat(engine): LONGHOUSE_IS_SIDECHAIN env var override at ship time
  apps/engine/src/pipeline/compressor.rs
Due: none

feat: summarization for all ingest paths + semantic score badge
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

cleanup(css): remove 897 lines of orphaned CSS across 4 files (84 classes)
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  apps/zerg/frontend-web/src/styles/forum.css
  apps/zerg/frontend-web/src/styles/landing.css
  apps/zerg/frontend-web/src/styles/profile-admin.css
Due: css-rgba-validate

chore: mark completed TODO items (summarization gap, score badge, PyPI)
  TODO.md
Due: none

fix: hide_autonomous in all semantic search paths + isValidTitle hash regex
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

cleanup(frontend): remove dead OAuth helpers, config stubs, connector icons
  apps/zerg/frontend-web/package.json
  apps/zerg/frontend-web/src/lib/config.ts
  apps/zerg/frontend-web/src/lib/usePerformance.tsx
  apps/zerg/frontend-web/src/pages/dashboard/formatters.ts
  apps/zerg/frontend-web/src/types/connectors.ts
  bun.lock
Due: typescript-typecheck, frontend-lint

fix(engine): detect git root and populate git_repo + project correctly
  apps/engine/src/pipeline/compressor.rs
  apps/engine/src/pipeline/parser.rs
Due: none

feat(jobs): add opt-in jitter_minutes to JobConfig for enqueue stagger
  apps/zerg/backend/zerg/jobs/commis.py
  apps/zerg/backend/zerg/jobs/registry.py
Due: python-vulture

fix(jobs): guard negative jitter_minutes + document backfill anchor drift
  apps/zerg/backend/zerg/jobs/commis.py
  apps/zerg/backend/zerg/jobs/registry.py
Due: python-vulture

Timeline-first UI + E2E stability fixes
  TODO.md
  VISION.md
  apps/zerg/backend/zerg/auth/strategy.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/backend/zerg/routers/fiches.py
  apps/zerg/e2e/tests/core/dashboard-load.spec.ts
  apps/zerg/e2e/tests/core/session-continuity.spec.ts
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Adjust QA live briefings check
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

Move Settings to user menu + Briefings action
  TODO.md
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
Due: typescript-typecheck, frontend-lint
