Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Simplify timeline runtime frontend boundaries
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/hooks/useActiveSessions.ts
  apps/zerg/frontend-web/src/legacy/forum/ForumPage.tsx
  apps/zerg/frontend-web/src/legacy/forum/__tests__/ForumPage.test.tsx
  apps/zerg/frontend-web/src/legacy/forum/api.ts
  apps/zerg/frontend-web/src/legacy/forum/session-mapper.ts
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint

Add managed-local claude launcher CLI
  apps/zerg/backend/tests_lite/test_claude_cli.py
  apps/zerg/backend/zerg/cli/claude.py
  apps/zerg/backend/zerg/cli/main.py
Due: python-vulture

cli: wrap managed-local launcher error message
  apps/zerg/backend/zerg/cli/claude.py
Due: python-vulture

Fix timeline continuation card E2E expectation
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

Optimize timeline stream preflight
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Pivot longhouse claude to hosted thin client
  apps/zerg/backend/tests_lite/test_claude_cli.py
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/zerg/cli/claude.py
  apps/zerg/backend/zerg/routers/session_chat.py
Due: python-vulture

Harden session runtime ordering and E2E coverage
  apps/zerg/backend/tests_lite/test_session_runtime.py
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/services/session_runtime.py
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/components/ui/Card.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

Align session detail runtime with timeline truth
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/hooks/__tests__/useSessionWorkspace.test.tsx
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
Due: typescript-typecheck, frontend-lint

Refresh timeline relative timestamps while open
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Simplify timeline stream preflight
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Fix managed-local launch for stale device owners
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/zerg/routers/session_chat.py
Due: python-vulture

Align qa-live detail smoke with browser timeline surface
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

Fix managed-local tmux launch verification
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
Due: python-vulture

Simplify session runtime mapping
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/session_runtime.py
  apps/zerg/frontend-web/src/lib/__tests__/sessionRuntime.test.ts
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Harden timeline live card E2E semantics
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

Stabilize hosted session detail smoke
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

Serve real thread cards on timeline default path
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/hooks/useTimelineSessionStream.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Fix timeline thread-card test boundary regressions
  apps/zerg/backend/tests_lite/test_timeline_api_auth_boundary.py
  apps/zerg/backend/zerg/routers/timeline.py
Due: python-vulture

Narrow timeline thread cards to default path only
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Make query timeline cards honest compatibility views
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint

Refactor timeline anchor helpers
  apps/zerg/frontend-web/src/hooks/useTimelineSessionStream.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
