Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

refactor: add nested automation route aliases
  TODO.md
  apps/zerg/backend/tests_lite/test_automations_public_surface.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/fiche_connectors.py
  apps/zerg/backend/zerg/routers/mcp_servers.py
  apps/zerg/backend/zerg/routers/runs.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/services/api/__tests__/automations.test.ts
  apps/zerg/frontend-web/src/services/api/automations.ts
  apps/zerg/frontend-web/src/services/api/connectors.ts
Due: typescript-typecheck, frontend-lint, python-vulture

add session loop mode foundations
  apps/zerg/backend/tests_lite/test_auth_domain_split.py
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_session_loop_mode.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/models/enums.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, python-vulture

refactor: rename automation websocket events
  TODO.md
  apps/zerg/backend/tests_lite/test_automation_websocket_transport.py
  apps/zerg/backend/zerg/events/event_bus.py
  apps/zerg/backend/zerg/generated/ws_messages.py
  apps/zerg/backend/zerg/routers/fiches.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/services/ops_events.py
  apps/zerg/backend/zerg/services/scheduler_service.py
  apps/zerg/backend/zerg/services/task_runner.py
  apps/zerg/backend/zerg/websocket/handlers.py
  apps/zerg/backend/zerg/websocket/manager.py
  apps/zerg/backend/zerg/websocket/subscription_helpers.py
  apps/zerg/frontend-web/src/generated/ws-messages.ts
  apps/zerg/frontend-web/src/oikos/core/__tests__/oikos-api-client.test.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  schemas/ws-protocol-asyncapi.yml
  schemas/ws-protocol-v1.json
  schemas/ws-protocol.schema.json
  scripts/validate-asyncapi.sh
Due: typescript-typecheck, frontend-lint, ws-contract-drift, asyncapi-validate, python-vulture

test: refresh dashboard smoke after nav cleanup
  apps/zerg/e2e/tests/dashboard.basic.spec.ts
Due: none

tie autonomy journeys to session loop modes
  Makefile
  apps/zerg/backend/tests_lite/fixtures/oikos_autonomy_journeys.yml
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/tests_lite/test_session_loop_mode.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/models/enums.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/session_loop_mode.py
Due: python-vulture

add shadow reviews for operator wakeups
  apps/zerg/backend/tests_lite/fixtures/oikos_autonomy_journeys.yml
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/routers/presence.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_shadow_review.py
Due: python-vulture

add session loop mode controls
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

refactor: add task aliases to oikos runs
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

refactor: drop duplicate oikos update handler
  TODO.md
  apps/zerg/frontend-web/src/oikos/core/__tests__/oikos-api-client.test.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
Due: typescript-typecheck, frontend-lint

fix packaged shadow review imports
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
Due: python-vulture

refactor: rename automation settings modules
  TODO.md
  apps/zerg/frontend-web/src/components/automation-settings/AutomationSettingsDrawer.tsx
  apps/zerg/frontend-web/src/components/automation-settings/ConnectorConfigModal.tsx
  apps/zerg/frontend-web/src/hooks/useAutomationConfig.ts
  apps/zerg/frontend-web/src/hooks/useAutomationConnectors.ts
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/IntegrationsPage.tsx
Due: typescript-typecheck, frontend-lint

fix provisioning runtime image selection
  .github/workflows/provision-e2e.yml
  scripts/ci/provision-e2e.sh
Due: none

refactor: rename dashboard automation browser surface
  TODO.md
  apps/zerg/frontend-web/src/components/ui/Table.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/__fixtures__/legacy-dashboard.html
  apps/zerg/frontend-web/src/pages/dashboard/AutomationTableRow.tsx
  apps/zerg/frontend-web/src/pages/dashboard/sorting.ts
  apps/zerg/frontend-web/src/pages/dashboard/websocketHandlers.ts
Due: typescript-typecheck, frontend-lint

test: align e2e automation selector contract
  TODO.md
  apps/zerg/e2e/tests/automation_history.spec.ts
  apps/zerg/e2e/tests/chat_token_streaming.spec.ts
  apps/zerg/e2e/tests/commis_isolation.spec.ts
  apps/zerg/e2e/tests/commis_isolation_guardrail.spec.ts
  apps/zerg/e2e/tests/comprehensive_database_isolation.spec.ts
  apps/zerg/e2e/tests/core/chat-send.spec.ts
  apps/zerg/e2e/tests/core/dashboard-load.spec.ts
  apps/zerg/e2e/tests/core/data-persistence.spec.ts
  apps/zerg/e2e/tests/core/fiche-crud.spec.ts
  apps/zerg/e2e/tests/core/thread-management.spec.ts
  apps/zerg/e2e/tests/dashboard.basic.spec.ts
  apps/zerg/e2e/tests/error_handling_edge_cases.spec.ts
  apps/zerg/e2e/tests/fiche_creation.spec.ts
  apps/zerg/e2e/tests/fiche_creation_full.spec.ts
  apps/zerg/e2e/tests/happy-paths.spec.ts
  apps/zerg/e2e/tests/helpers/api-client.ts
  apps/zerg/e2e/tests/helpers/fiche-helpers.ts
  apps/zerg/e2e/tests/helpers/test-helpers.ts
  apps/zerg/e2e/tests/live/frontend_api_contract.spec.ts
  apps/zerg/e2e/tests/realtime_updates.spec.ts
  apps/zerg/e2e/tests/realtime_websocket_monitoring.spec.ts
  apps/zerg/e2e/tests/run_optimistic_update.spec.ts
  apps/zerg/e2e/tests/search_filter.spec.ts
  apps/zerg/e2e/tests/smoke-test.spec.ts
  apps/zerg/e2e/tests/test-utils.ts
Due: none

refactor: rename automation browser test surface
  TODO.md
  apps/zerg/e2e/tests/automation_creation.spec.ts
  apps/zerg/e2e/tests/automation_creation_full.spec.ts
  apps/zerg/e2e/tests/automation_history.spec.ts
  apps/zerg/e2e/tests/chat_token_streaming.spec.ts
  apps/zerg/e2e/tests/commis_isolation.spec.ts
  apps/zerg/e2e/tests/commis_isolation_guardrail.spec.ts
  apps/zerg/e2e/tests/comprehensive_database_isolation.spec.ts
  apps/zerg/e2e/tests/core/automation-crud.spec.ts
  apps/zerg/e2e/tests/core/chat-send.spec.ts
  apps/zerg/e2e/tests/core/data-persistence.spec.ts
  apps/zerg/e2e/tests/core/session-continuity.spec.ts
  apps/zerg/e2e/tests/core/thread-management.spec.ts
  apps/zerg/e2e/tests/dashboard.scope-toggle.spec.ts
  apps/zerg/e2e/tests/error_handling_edge_cases.spec.ts
  apps/zerg/e2e/tests/fiche_creation_full.spec.ts
  apps/zerg/e2e/tests/happy-paths.spec.ts
  apps/zerg/e2e/tests/helpers/api-client.ts
  apps/zerg/e2e/tests/helpers/automation-helpers.ts
  apps/zerg/e2e/tests/helpers/database-helpers.ts
  apps/zerg/e2e/tests/helpers/fiche-helpers.ts
  apps/zerg/e2e/tests/helpers/test-helpers.ts
  apps/zerg/e2e/tests/realtime_updates.spec.ts
  apps/zerg/e2e/tests/realtime_websocket_monitoring.spec.ts
  apps/zerg/e2e/tests/run_optimistic_update.spec.ts
  apps/zerg/e2e/tests/test-utils.ts
Due: none

refactor: finish automation frontend naming cleanup
  TODO.md
  apps/zerg/frontend-web/src/components/KnowledgeSearchPanel.tsx
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/components/automation-settings/AutomationSettingsDrawer.tsx
  apps/zerg/frontend-web/src/components/confirm/useConfirm.ts
  apps/zerg/frontend-web/src/components/connectors/ConnectorCard.tsx
  apps/zerg/frontend-web/src/hooks/chat/useChatActions.ts
  apps/zerg/frontend-web/src/hooks/chat/useChatData.ts
  apps/zerg/frontend-web/src/hooks/chat/useThreadStreaming.ts
  apps/zerg/frontend-web/src/hooks/useAccountConnectors.ts
  apps/zerg/frontend-web/src/hooks/useAutomationConfig.ts
  apps/zerg/frontend-web/src/hooks/useAutomationConnectors.ts
  apps/zerg/frontend-web/src/hooks/useOAuthFlow.ts
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/ContactsPage.tsx
  apps/zerg/frontend-web/src/pages/IntegrationsPage.tsx
  apps/zerg/frontend-web/src/pages/KnowledgeSourcesPage.tsx
  apps/zerg/frontend-web/src/pages/RunnersPage.tsx
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/AdminPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  apps/zerg/frontend-web/src/services/api/__tests__/automations.test.ts
  apps/zerg/frontend-web/src/services/api/contacts.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/types/connectors.ts
Due: typescript-typecheck, frontend-lint

refactor: canonicalize dashboard automation state
  TODO.md
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/__fixtures__/legacy-dashboard.html
  apps/zerg/frontend-web/src/pages/dashboard/AutomationTableRow.tsx
  apps/zerg/frontend-web/src/pages/dashboard/websocketHandlers.ts
  apps/zerg/frontend-web/src/services/api/automations.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/styles/css/dashboard.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

refactor: rename oikos fiche surface to tasks
  TODO.md
  apps/zerg/backend/scripts/seed_oikos_tasks.py
  apps/zerg/backend/tests_lite/test_oikos_tasks_router.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_fiches.py
  apps/zerg/backend/zerg/routers/oikos_tasks.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/oikos/app/context/AppContext.tsx
  apps/zerg/frontend-web/src/oikos/app/context/types.ts
  apps/zerg/frontend-web/src/oikos/app/hooks/__tests__/useOikosClient.test.tsx
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosClient.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/oikos/lib/state-manager.ts
Due: typescript-typecheck, frontend-lint, python-vulture

refactor: drop browser fiche aliases
  TODO.md
  apps/zerg/backend/zerg/crud/crud_fiches.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/e2e/package.json
  apps/zerg/e2e/probes/backend_parallelism.probe.spec.ts
  apps/zerg/e2e/reporters/minimal-reporter.ts
  apps/zerg/e2e/tests/automation_creation.spec.ts
  apps/zerg/e2e/tests/automation_creation_full.spec.ts
  apps/zerg/e2e/tests/core/automation-crud.spec.ts
  apps/zerg/e2e/tests/core/dashboard-load.spec.ts
  apps/zerg/frontend-web/scripts/contract-validator.ts
  apps/zerg/frontend-web/src/components/automation-settings/AutomationSettingsDrawer.tsx
  apps/zerg/frontend-web/src/components/ui/Table.tsx
  apps/zerg/frontend-web/src/services/api/__tests__/automations.test.ts
  apps/zerg/frontend-web/src/services/api/automations.ts
  apps/zerg/frontend-web/src/services/api/connectors.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/styles/app.css
  apps/zerg/frontend-web/src/styles/css/automation-settings.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

refactor: remove fiche transport aliases
  TODO.md
  apps/zerg/backend/tests_lite/test_automation_websocket_transport.py
  apps/zerg/backend/zerg/generated/ws_messages.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/websocket.py
  apps/zerg/backend/zerg/services/ops_events.py
  apps/zerg/backend/zerg/websocket/handlers.py
  apps/zerg/backend/zerg/websocket/manager.py
  apps/zerg/frontend-web/src/generated/ws-messages.ts
  apps/zerg/frontend-web/src/oikos/core/__tests__/oikos-api-client.test.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  schemas/ws-protocol-asyncapi.yml
  schemas/ws-protocol-v1.json
  schemas/ws-protocol.schema.json
Due: typescript-typecheck, frontend-lint, ws-contract-drift, asyncapi-validate, python-vulture

refactor: rename automation thread surface
  TODO.md
  apps/zerg/backend/tests_lite/test_threads_router.py
  apps/zerg/backend/zerg/routers/threads.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/e2e/tests/automation_history.spec.ts
  apps/zerg/e2e/tests/commis_isolation.spec.ts
  apps/zerg/e2e/tests/core/chat-send.spec.ts
  apps/zerg/e2e/tests/core/data-persistence.spec.ts
  apps/zerg/e2e/tests/core/thread-management.spec.ts
  apps/zerg/e2e/tests/happy-paths.spec.ts
  apps/zerg/e2e/tests/helpers/api-client.ts
  apps/zerg/e2e/tests/helpers/automation-helpers.ts
  apps/zerg/e2e/tests/helpers/test-helpers.ts
  apps/zerg/e2e/tests/live/live_chat_smoke.spec.ts
  apps/zerg/e2e/tests/test-utils.ts
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/threads.ts
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/marketing-mode.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
