Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

phase 2: harden managed local launch checks
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
Due: python-vulture

phase 3: route managed local session chat
  apps/zerg/backend/tests_lite/test_managed_local_session_chat.py
  apps/zerg/backend/zerg/routers/session_chat.py
  docs/specs/managed-local-session-control.md
  docs/tasks/open/managed-local-session-control.md
Due: python-vulture

phase 5: add managed local loop replies
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

phase 2: add managed local launcher
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  docs/tasks/open/managed-local-session-control.md
Due: typescript-typecheck, frontend-lint, python-vulture

phase 1: add managed local session foundation
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  docs/tasks/open/managed-local-session-control.md
Due: typescript-typecheck, frontend-lint, python-vulture

phase 1: harden tmux session naming
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
Due: python-vulture

phase 4: route loop continue to managed local
  apps/zerg/backend/tests_lite/test_managed_local_session_chat.py
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/managed_local_control.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  docs/specs/managed-local-session-control.md
  docs/tasks/open/managed-local-session-control.md
Due: python-vulture

test: cover managed-local loop reply gating
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
Due: typescript-typecheck, frontend-lint

tighten loop reply page coverage
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
Due: typescript-typecheck, frontend-lint

merge managed local with timeline execution homes
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

Strengthen managed-local timeline runtime signals
  apps/zerg/backend/tests_lite/test_managed_local_control.py
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/tests_lite/test_managed_local_session_chat.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/managed_local_control.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/backend/zerg/services/managed_local_runtime.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

test: add first loop mobile e2e action coverage
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
Due: none

Refine timeline runtime truth tiers
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Decouple timeline cards from live poll overlays
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Skip idle timeline SSE rebuilds
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
Due: python-vulture

test: add managed-local tmux transport canary
  apps/zerg/backend/tests_lite/test_managed_local_transport_integration.py
Due: none

docs: refine managed-local tmux design
  docs/specs/managed-local-session-control.md
  docs/tasks/open/managed-local-session-control.md
Due: none

managed-local: isolate tmux server
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/tests_lite/test_managed_local_transport_integration.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
Due: python-vulture

Simplify timeline to a single live surface
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

managed-local: harden tmux transport
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_managed_local_control.py
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/tests_lite/test_managed_local_tmux.py
  apps/zerg/backend/tests_lite/test_managed_local_transport_integration.py
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/managed_local_control.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/backend/zerg/services/managed_local_tmux.py
  apps/zerg/backend/zerg/services/session_runtime.py
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Tighten timeline execution semantics
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/backend/zerg/services/session_runtime.py
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/components/__tests__/PresenceBadge.test.tsx
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

Simplify timeline runtime frontend boundaries
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/hooks/useActiveSessions.ts
  apps/zerg/frontend-web/src/legacy/forum/ForumPage.tsx
  apps/zerg/frontend-web/src/legacy/forum/__tests__/ForumPage.test.tsx
  apps/zerg/frontend-web/src/legacy/forum/api.ts
  apps/zerg/frontend-web/src/legacy/forum/session-mapper.ts
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint
