Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

fix: add concurrency limits for background summary/embedding tasks
  apps/zerg/backend/zerg/routers/agents.py
Due: none

fix: restore tracebacks in logs, use semaphores for background task concurrency
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/agents.py
Due: none

fix: pass metadata.source in LLM/embedding API calls for LiteLLM proxy
  apps/zerg/backend/zerg/services/session_processing/embeddings.py
  apps/zerg/backend/zerg/services/session_processing/summarize.py
Due: none

docs: update TODO and AGENTS with LiteLLM proxy learnings
  AGENTS.md
  TODO.md
Due: none

control-plane: allowlist instance OpenAI env injection
  TODO.md
  apps/control-plane/README.md
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/docker-compose.yml
Due: none

control-plane: allowlist instance OpenAI env injection
  TODO.md
Due: none

auth: bind password login to owner user
  apps/zerg/backend/tests_lite/test_auth_password.py
  apps/zerg/backend/zerg/routers/auth.py
Due: none

auth: clarify SSO UX and add global logout
  apps/control-plane/control_plane/routers/auth.py
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/styles/css/nav.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

auth: clarify SSO UX and add global logout
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/styles/css/nav.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: make landing page intrinsically responsive for mobile
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

billing: switch Stripe to live mode + fix webhook URL + add invoice.paid handler
  apps/control-plane/control_plane/routers/webhooks.py
Due: none

landing: improve section order, CTA copy, and remove placeholder
  apps/zerg/frontend-web/src/components/landing/DemoVideoPlaceholder.tsx
  apps/zerg/frontend-web/src/components/landing/HowItWorksSection.tsx
  apps/zerg/frontend-web/src/components/landing/PricingSection.tsx
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: prevent horizontal scroll on mobile landing page
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

fix: grid min-width:auto causing mobile hero overflow
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

fix: constrain comparison table wrapper width on mobile
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

feat: add email verification for control plane signups
  apps/control-plane/control_plane/main.py
  apps/control-plane/control_plane/models.py
  apps/control-plane/control_plane/routers/auth.py
  apps/control-plane/control_plane/routers/billing.py
  apps/control-plane/control_plane/routers/ui.py
  apps/control-plane/control_plane/services/email.py
  apps/control-plane/pyproject.toml
  apps/control-plane/tests/__init__.py
  apps/control-plane/tests/test_email_verification.py
  apps/control-plane/uv.lock
Due: none

fix: backfill existing users as verified + surface SES failures
  apps/control-plane/control_plane/main.py
  apps/control-plane/control_plane/routers/auth.py
Due: none

feat: redesign timeline page with hero empty state and collapsible filters
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: regenerate requirements.txt to include boto3 for SES
  apps/control-plane/requirements.txt
Due: none

fix: send verification emails from noreply@longhouse.ai
  apps/control-plane/control_plane/services/email.py
Due: none

feat(control-plane): rolling deploy system for multi-tenant instances
  docs/specs/rolling-deploy-plan.md
Due: none

feat(control-plane): rolling deploy system for multi-tenant instances
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/main.py
  apps/control-plane/control_plane/models.py
  apps/control-plane/control_plane/routers/deployments.py
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/services/deployer.py
  apps/control-plane/control_plane/services/provisioner.py
  docs/specs/rolling-deploy-plan.md
Due: none

fix(control-plane): address Codex code review findings
  apps/control-plane/control_plane/main.py
  apps/control-plane/control_plane/routers/deployments.py
  apps/control-plane/control_plane/services/deployer.py
  apps/control-plane/control_plane/services/provisioner.py
Due: none

fix: harden rolling deploy system from Codex code review
  apps/control-plane/control_plane/routers/deployments.py
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/services/deployer.py
  apps/control-plane/tests/test_deployer.py
  docs/specs/rolling-deploy-plan.md
Due: none

fix: harden rolling deploy system from Codex code review
  docs/specs/rolling-deploy-plan.md
Due: none

fix: critical safety audit — block concurrent deploys, detect double failures
  apps/control-plane/control_plane/routers/deployments.py
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/services/deployer.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_deployer.py
Due: none

feat(control-plane): harden rolling deploy + ci e2e
  TODO.md
  apps/control-plane/control_plane/services/deployer.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_deployer.py
  scripts/ci/provision-e2e.sh
Due: none

feat(control-plane): harden rolling deploy + ci e2e
  TODO.md
  scripts/ci/provision-e2e.sh
Due: none

test: include control-plane tests in fast suite
  Makefile
Due: none
