Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

refactor: clean dashboard empty state logo
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

chore: cache bust for asyncpg dep
  apps/zerg/backend/pyproject.toml
  apps/zerg/frontend-web/src/jarvis/styles/index.css
  apps/zerg/frontend-web/src/pages/JarvisChatPage.tsx
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

chore: update uv.lock with asyncpg
  apps/zerg/backend/uv.lock
Due: none

refactor: clean landing perf hud
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
  apps/zerg/frontend-web/src/styles/landing.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: tokenize runner detail colors
  apps/zerg/frontend-web/src/styles/runner-detail.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize knowledge sources
  apps/zerg/frontend-web/src/styles/knowledge-sources.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

fix(jobs): register and schedule jobs on startup
  apps/zerg/backend/zerg/main.py
Due: none

test: add public UI baseline snapshots
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts
  docs/TESTING.md
  docs/work/ui-audit-tasklist.md
Due: none

refactor: tokenize runners styles
  apps/zerg/frontend-web/src/styles/runners.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

fix(jobs): remove unsupported timezone param from CronTrigger
  apps/zerg/backend/zerg/jobs/worker.py
Due: none

refactor: modernize knowledge source actions
  apps/zerg/frontend-web/src/components/KnowledgeSourceCard.tsx
  apps/zerg/frontend-web/src/styles/runners.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(docker): exclude apscheduler test stub from production build
  .dockerignore
  apps/zerg/backend/.dockerignore
Due: none

revert: restore timezone param now that real APScheduler is used
  apps/zerg/backend/zerg/jobs/worker.py
Due: none

refactor: tokenize dashboard warning states
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  apps/zerg/frontend-web/src/styles/reliability.css
  apps/zerg/frontend-web/src/styles/runner-detail.css
  apps/zerg/frontend-web/src/styles/trace-explorer.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys
