Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

refactor: rename automation thread surface
  TODO.md
  apps/zerg/backend/tests_lite/test_threads_router.py
  apps/zerg/backend/zerg/routers/threads.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/e2e/tests/automation_history.spec.ts
  apps/zerg/e2e/tests/commis_isolation.spec.ts
  apps/zerg/e2e/tests/core/chat-send.spec.ts
  apps/zerg/e2e/tests/core/data-persistence.spec.ts
  apps/zerg/e2e/tests/core/thread-management.spec.ts
  apps/zerg/e2e/tests/happy-paths.spec.ts
  apps/zerg/e2e/tests/helpers/api-client.ts
  apps/zerg/e2e/tests/helpers/automation-helpers.ts
  apps/zerg/e2e/tests/helpers/test-helpers.ts
  apps/zerg/e2e/tests/live/live_chat_smoke.spec.ts
  apps/zerg/e2e/tests/test-utils.ts
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/threads.ts
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/marketing-mode.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

refactor: rename automation overview surface
  TODO.md
  apps/zerg/backend/tests_lite/test_automations_public_surface.py
  apps/zerg/backend/tests_lite/test_ops_summary_window.py
  apps/zerg/backend/zerg/routers/fiches.py
  apps/zerg/backend/zerg/routers/ops.py
  apps/zerg/backend/zerg/schemas/ops.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/backend/zerg/schemas/usage.py
  apps/zerg/backend/zerg/services/ops_service.py
  apps/zerg/backend/zerg/services/usage_service.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/AdminPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  apps/zerg/frontend-web/src/pages/dashboard/websocketHandlers.ts
  apps/zerg/frontend-web/src/services/api/automations.ts
Due: typescript-typecheck, frontend-lint, python-vulture

refactor: add automation aliases to oikos runs
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

refactor: clean browser automation shell naming
  TODO.md
  apps/zerg/e2e/tests/fixtures.ts
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/lib/useShelfState.tsx
  apps/zerg/frontend-web/src/oikos/styles/task-inbox.css
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  apps/zerg/frontend-web/src/test/contract-integration.test.ts
Due: typescript-typecheck, frontend-lint, css-rgba-validate

refactor: canonicalize automation rest surface
  TODO.md
  apps/zerg/backend/tests_lite/test_automations_public_surface.py
  apps/zerg/backend/zerg/routers/fiches.py
  apps/zerg/backend/zerg/routers/triggers.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
Due: typescript-typecheck, frontend-lint, python-vulture

structure shadow loop reviews
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_shadow_review.py
Due: python-vulture

show session shadow reviews
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

refactor: clean automation public openapi surface
  TODO.md
  apps/zerg/backend/tests_lite/test_automations_public_surface.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/fiches.py
  apps/zerg/backend/zerg/routers/mcp_servers.py
  apps/zerg/backend/zerg/routers/runs.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/services/api/types.ts
Due: typescript-typecheck, frontend-lint, python-vulture

thread loop reviews into operator wakeups
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_oikos_prompt_contract.py
  apps/zerg/backend/tests_lite/test_operator_surface_adapter.py
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/backend/zerg/routers/presence.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
  apps/zerg/backend/zerg/surfaces/adapters/operator.py
Due: python-vulture

track shadow alignment for wakeups
  apps/zerg/backend/tests_lite/test_oikos_wakeup_ledger.py
  apps/zerg/backend/zerg/services/oikos_wakeup_ledger.py
Due: python-vulture

show shadow alignment in session pane
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
Due: typescript-typecheck, frontend-lint

refactor: remove oikos fiche run aliases
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

enforce operator loop ceilings on spawns
  apps/zerg/backend/tests_lite/test_operator_surface_adapter.py
  apps/zerg/backend/tests_lite/test_spawn_workspace_commis_workspace_only.py
  apps/zerg/backend/zerg/services/oikos_context.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/surfaces/adapters/operator.py
  apps/zerg/backend/zerg/surfaces/orchestrator.py
  apps/zerg/backend/zerg/tools/builtin/oikos_commis_job_tools.py
Due: python-vulture

refactor: clean automation connector surface
  TODO.md
  apps/zerg/backend/tests_lite/test_automations_public_surface.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/account_connectors.py
  apps/zerg/backend/zerg/routers/automation_connectors.py
  apps/zerg/backend/zerg/routers/mcp_servers.py
  apps/zerg/backend/zerg/schemas/connector_schemas.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
Due: typescript-typecheck, frontend-lint, python-vulture

refactor: normalize automation event payloads
  TODO.md
  apps/zerg/backend/tests_lite/test_automation_websocket_transport.py
  apps/zerg/backend/tests_lite/test_run_stream_service.py
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/generated/ws_messages.py
  apps/zerg/backend/zerg/services/ops_events.py
  apps/zerg/backend/zerg/services/run_stream.py
  apps/zerg/backend/zerg/websocket/manager.py
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/generated/ws-messages.ts
  apps/zerg/frontend-web/src/pages/__tests__/OikosChatPage.test.tsx
  schemas/sse-events.asyncapi.yml
  schemas/ws-protocol-asyncapi.yml
  schemas/ws-protocol.schema.json
Due: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, python-vulture

refactor: rename runtime runner substrate
  TODO.md
  apps/zerg/backend/scripts/replay_run.py
  apps/zerg/backend/tests_lite/test_oikos_surface_history.py
  apps/zerg/backend/tests_lite/test_oikos_wakeup_ledger.py
  apps/zerg/backend/tests_lite/test_oikos_web_conversations.py
  apps/zerg/backend/tests_lite/test_thread_context_window.py
  apps/zerg/backend/zerg/callbacks/token_stream.py
  apps/zerg/backend/zerg/connectors/context.py
  apps/zerg/backend/zerg/crud/crud_messages.py
  apps/zerg/backend/zerg/managers/message_builder.py
  apps/zerg/backend/zerg/managers/runtime_runner.py
  apps/zerg/backend/zerg/routers/oikos_internal.py
  apps/zerg/backend/zerg/routers/threads.py
  apps/zerg/backend/zerg/services/commis_batch_resume.py
  apps/zerg/backend/zerg/services/commis_runner.py
  apps/zerg/backend/zerg/services/commis_single_resume.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/services/run_history.py
  apps/zerg/backend/zerg/services/task_runner.py
  apps/zerg/backend/zerg/services/thread_service.py
  apps/zerg/backend/zerg/tools/builtin/knowledge_tools.py
  apps/zerg/backend/zerg/tools/builtin/oikos_commis_artifact_tools.py
Due: python-vulture

add operator loop canaries
  Makefile
  apps/zerg/backend/tests_lite/test_oikos_dispatch_contract.py
  apps/zerg/backend/tests_lite/test_oikos_operator_loop_canary.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
Due: python-vulture

expand operator loop canaries
  apps/zerg/backend/tests_lite/test_oikos_operator_loop_canary.py
Due: none

docs: slim todo into task files
  TODO.md
  docs/tasks/README.md
  docs/tasks/backlog/oikos-dispatch-contract.md
  docs/tasks/done/2026-03/continuity-memory-boundary.md
  docs/tasks/done/2026-03/longhouse-tool-surface-tightening.md
  docs/tasks/done/2026-03/run-stream-refactor.md
  docs/tasks/done/2026-03/runner-health-v2.md
  docs/tasks/done/2026-03/shipper-session-detail-followups.md
  docs/tasks/open/codex-gemini-continuation-parity.md
  docs/tasks/open/compaction-fidelity.md
  docs/tasks/open/launch-runtime-simplification.md
  docs/tasks/open/memory-system-consolidation.md
  docs/tasks/open/oikos-conversations-email.md
  docs/tasks/open/oikos-proactive-operator.md
  docs/tasks/open/runner-onboarding-hardening.md
  docs/tasks/open/shipper-byte-batching.md
Due: none

docs: add zerg tasking skill
  .agents/skills/zerg-tasking/SKILL.md
  AGENTS.md
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
