Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Fix continuation smoke runner temp env
  .github/workflows/continuation-provider-smoke.yml
Due: none

Set continuation smoke artifact dir at runtime
  .github/workflows/continuation-provider-smoke.yml
Due: none

docs: refresh sauron paths after workspace move
  TODO.md
  apps/zerg/backend/zerg/services/demo_sessions.py
Due: python-vulture

docs: fix last stale sauron jobs demo path
  apps/zerg/backend/zerg/services/demo_sessions.py
Due: python-vulture

Remove dead /oikos/dispatch endpoint
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_dispatch.py
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Remove /oikos/run endpoint, consolidate into oikos_chat
  apps/zerg/backend/scripts/seed_oikos_fiches.py
  apps/zerg/backend/scripts/test_supervisor_live.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/routers/oikos_run_dispatch.py
Due: python-vulture

Extract invoke_oikos() as transport-agnostic entry point
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/services/oikos_service.py
Due: python-vulture

fix(engine): spool 413 payloads instead of skipping (data loss prevention)
  apps/engine/src/shipper.rs
Due: none

Fix replay mode and stuck runs in invoke_oikos
  apps/zerg/backend/tests_lite/test_oikos_invoke.py
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/services/oikos_service.py
Due: python-vulture

Delete task registry, make cancel DB-status-only
  apps/zerg/backend/tests_lite/test_oikos_invoke.py
  apps/zerg/backend/zerg/routers/oikos_chat.py
Due: python-vulture

Delete oikos_sse.py wrapper, import stream_run_events_live directly
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/routers/oikos_sse.py
Due: python-vulture

Remove dead auth endpoint and duplicate session POST
  apps/zerg/backend/zerg/routers/oikos.py
Due: python-vulture

fix(engine): respect parser offsets and true dry-runs
  Makefile
  TODO.md
  apps/engine/src/main.rs
  apps/engine/src/pipeline/parser.rs
  apps/engine/src/shipper.rs
Due: none

fix(engine): unify ship and replay failure semantics
  TODO.md
  apps/engine/src/daemon.rs
  apps/engine/src/main.rs
  apps/engine/src/shipper.rs
Due: none

style(engine): apply rustfmt cleanup to remaining modules
  apps/engine/src/bench.rs
  apps/engine/src/config.rs
  apps/engine/src/discovery.rs
  apps/engine/src/heartbeat.rs
  apps/engine/src/outbox.rs
  apps/engine/src/shipping/client.rs
  apps/engine/src/state/file_state.rs
  apps/engine/src/state/spool.rs
  apps/engine/src/watcher.rs
Due: none

Delete dead Oikos endpoints and router
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_auth.py
  apps/zerg/backend/zerg/routers/oikos_tts.py
Due: python-vulture

Split oikos.py god file into focused modules
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_config.py
  apps/zerg/backend/zerg/routers/oikos_history.py
Due: python-vulture

Clean up stale comments and rename continue_oikos_langgraph_free
  apps/zerg/backend/tests_lite/test_commis_single_resume.py
  apps/zerg/backend/zerg/managers/fiche_runner.py
  apps/zerg/backend/zerg/routers/oikos_fiches.py
  apps/zerg/backend/zerg/routers/oikos_internal.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/routers/stream.py
  apps/zerg/backend/zerg/services/commis_single_resume.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/oikos_service.py
Due: python-vulture

Delete dead oikos_context functions and trim docstrings
  apps/zerg/backend/zerg/services/oikos_context.py
Due: python-vulture

Remove stale Phase version markers from connectors and tools
  apps/zerg/backend/zerg/connectors/registry.py
  apps/zerg/backend/zerg/tools/builtin/personal_tools.py
Due: python-vulture

feat(engine): add byte-range batch planner
  TODO.md
  apps/engine/src/pipeline/batcher.rs
  apps/engine/src/pipeline/mod.rs
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
