Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

add loop inbox telegram alerts
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  docs/specs/mobile-loop-inbox.md
  docs/tasks/open/mobile-loop-inbox.md
Due: python-vulture

add loop inbox shell
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
  apps/zerg/frontend-web/src/styles/loop-inbox.css
  docs/tasks/open/mobile-loop-inbox.md
Due: typescript-typecheck, frontend-lint, css-rgba-validate

add loop inbox flow guardrail
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  docs/tasks/open/mobile-loop-inbox.md
Due: none

stabilize swarm ops thread test
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Clear dock scratchpad after same-session sends
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
Due: typescript-typecheck, frontend-lint

Simplify cloud continuation dock seam
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/session-chat.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

fix operator wakeup message ids
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/tests_lite/test_oikos_operator_sweep.py
  apps/zerg/backend/tests_lite/test_runner_health_reconcile.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/jobs/oikos_operator_sweep.py
  apps/zerg/backend/zerg/routers/presence.py
  apps/zerg/backend/zerg/services/runner_health_reconciler.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

merge hosted instance env overrides safely
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

Render cloud branch point inline
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/hooks/__tests__/useSessionWorkspace.test.tsx
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
  apps/zerg/frontend-web/src/lib/sessionWorkspace.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Improve session workspace sidebar defaults
  apps/zerg/frontend-web/src/components/workspace/WorkspaceShell.tsx
  apps/zerg/frontend-web/src/components/workspace/__tests__/WorkspaceShell.test.tsx
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Refresh continuation and workspace E2E expectations
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/e2e/tests/live/session-continuation-lineage.spec.ts
Due: none

pivot mobile loop spec to pwa-first cards
  docs/specs/mobile-loop-inbox.md
  docs/tasks/open/mobile-loop-inbox.md
Due: none

stabilize loop cards for mobile approvals
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/channels/plugins/telegram.py
  apps/zerg/backend/zerg/channels/types.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
  docs/tasks/open/mobile-loop-inbox.md
Due: typescript-typecheck, frontend-lint, python-vulture

make loop inbox installable as a pwa
  apps/zerg/frontend-web/index.html
  apps/zerg/frontend-web/public/loop-sw.js
  apps/zerg/frontend-web/public/site.webmanifest
  apps/zerg/frontend-web/src/hooks/useLoopInstallPrompt.ts
  apps/zerg/frontend-web/src/main.tsx
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
  docs/tasks/open/mobile-loop-inbox.md
Due: typescript-typecheck, frontend-lint, css-rgba-validate

keep assist loop cards actionable
  apps/zerg/backend/tests_lite/test_oikos_operator_loop_canary.py
  apps/zerg/backend/tests_lite/test_oikos_wakeup_ledger.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/oikos_wakeup_ledger.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

phase 2: stitch thread timeline in session detail
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/TimelinePane.test.tsx
  apps/zerg/frontend-web/src/hooks/__tests__/useSessionWorkspace.test.tsx
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
  apps/zerg/frontend-web/src/lib/sessionWorkspace.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  docs/tasks/open/thread-projection.md
Due: typescript-typecheck, frontend-lint, python-vulture

phase 0: spec thread projection
  TODO.md
  docs/specs/thread-projection.md
  docs/tasks/open/thread-projection.md
Due: none

phase 1: add thread projection api
  apps/zerg/backend/tests_lite/test_session_projection_api.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/backend/zerg/services/agents_store.py
  docs/tasks/open/thread-projection.md
Due: python-vulture

phase 3: harden thread projection e2e
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/e2e/tests/live/session-continuation-lineage.spec.ts
  docs/tasks/open/thread-projection.md
Due: python-vulture

restyle mobile loop inbox
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Preserve hosted loop return path after login
  apps/zerg/backend/tests_lite/test_sso_keys.py
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/frontend-web/src/lib/auth.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

Preserve hosted loop return path after login
  apps/control-plane/control_plane/routers/ui.py
  apps/control-plane/tests/test_provisioning_flow.py
  apps/zerg/backend/tests_lite/test_sso_keys.py
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/frontend-web/src/lib/auth.tsx
Due: typescript-typecheck, frontend-lint, python-vulture
