Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Add refresh token rotation with reuse detection (RFC 9700)
  apps/zerg/backend/tests_lite/test_refresh_tokens.py
  apps/zerg/backend/zerg/auth/refresh_tokens.py
  apps/zerg/backend/zerg/auth/session_tokens.py
  apps/zerg/backend/zerg/models/__init__.py
  apps/zerg/backend/zerg/models/refresh_session.py
  apps/zerg/backend/zerg/routers/auth_browser.py
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/UsageWidget.tsx
  apps/zerg/frontend-web/src/lib/auth-refresh.ts
  apps/zerg/frontend-web/src/oikos/app/components/DebugPanel.tsx
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/app/hooks/usePreferences.ts
  apps/zerg/frontend-web/src/oikos/app/lib/usage.ts
  apps/zerg/frontend-web/src/oikos/core/oikos-api-client.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
  apps/zerg/frontend-web/src/pages/ProfilePage.tsx
  apps/zerg/frontend-web/src/services/api/base.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Slim self-hosted Linux onboarding installs
  .github/workflows/runner-onboarding-validation.yml
Due: none

Guard optional Linux onboarding runner label
  .github/workflows/runner-onboarding-validation.yml
Due: none

Add continuation readiness preflight + qa-live tests for auth refresh and chat backend
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: python-vulture

pivot to ai-first per-session loop controller
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_session_loop_controller.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/models_config.py
  apps/zerg/backend/zerg/services/session_loop_controller.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
  config/models.json
Due: typescript-typecheck, frontend-lint, python-vulture

Fix qa-live refresh test to login properly before testing rotation
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

Install Claude Code CLI in runtime container for session continuation
  docker/runtime.dockerfile
Due: none

Fix: claude CLI check applies to ALL backends, not just ambient
  apps/zerg/backend/zerg/routers/session_chat.py
Due: python-vulture

fix loop review sqlite and asyncio regressions
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

add direct same-session turn loop continuation
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_session_loop_controller.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
  apps/zerg/backend/zerg/services/session_loop_controller.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

enqueue assist turn-loop operator wakeups
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_oikos_operator_review.py
  apps/zerg/backend/tests_lite/test_operator_surface_adapter.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  apps/zerg/backend/zerg/surfaces/adapters/operator.py
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/__tests__/SessionContextPane.test.tsx
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/services/api/oikos.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Fix mobile session detail layout
  apps/zerg/e2e/tests/mobile/session_detail_mobile.spec.ts
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: css-rgba-validate

Fix mobile: cap timeline list height so chat dock stays visible
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: css-rgba-validate

trigger turn loops directly from ingest
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/routers/presence.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
Due: python-vulture

prioritize turn loop tasks in the queue
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
Due: python-vulture

stabilize loop landing against current main
  apps/zerg/backend/tests_lite/test_model_smoke_rate_limits.py
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
Due: none

Fix cloud continuation persistence
  apps/zerg/backend/scripts/ship_claude_session.py
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/session_continuity.py
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/__tests__/SessionChat.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

add loop inbox read contract
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  docs/tasks/open/mobile-loop-inbox.md
Due: python-vulture

spec mobile loop inbox
  TODO.md
  docs/specs/mobile-loop-inbox.md
  docs/tasks/open/mobile-loop-inbox.md
Due: none

add loop inbox actions
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  docs/tasks/open/mobile-loop-inbox.md
Due: python-vulture

add loop inbox flow guardrail
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  docs/tasks/open/mobile-loop-inbox.md
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
