Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

Single-domain architecture + fix smoke test user accumulation
  apps/zerg/backend/tests/test_service_login.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/frontend-web/src/lib/config.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

gitignore: add .qa-home directory
  .gitignore
Due: none

Align installer with Python 3.12
  TODO.md
  VISION.md
  scripts/install.sh
Due: none

Align install path and fold launch notes
  README.md
  TODO.md
  VISION.md
  apps/zerg/frontend-web/src/components/landing/HowItWorksSection.tsx
  docs/LAUNCH.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Fix nginx backend proxy: use envsubst for configurable BACKEND_HOST
  apps/zerg/frontend-web/Dockerfile
  apps/zerg/frontend-web/docker-entrypoint.sh
  apps/zerg/frontend-web/nginx.conf.template
Due: none

nginx: strip /api prefix when proxying to backend
  apps/zerg/frontend-web/nginx.conf.template
Due: none

Revert path rewrite - backend uses /api/* prefix
  apps/zerg/frontend-web/nginx.conf.template
Due: none

docker-compose: Remove cross-origin defaults, use single-domain architecture
  docker/docker-compose.prod.frontend.yml
Due: none

Fold docs into TODO
  FOUND.md
  IDEAS.md
  QA_PLAN.md
  TODO.md
Due: none

Document docs policy
  AGENTS.md
Due: none

Add learnings: single-domain arch, Coolify env gotcha, SINGLE_TENANT mode
  AGENTS.md
Due: none

Classify TODO sections
  TODO.md
Due: none

Update AGENTS learnings
  AGENTS.md
Due: none

Add control plane phase 0 checks
  TODO.md
Due: none

Track workflow/canvas removal
  TODO.md
Due: none

Fix docs alignment and password-only auth
  TODO.md
  VISION.md
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/services/session_continuity.py
  apps/zerg/backend/zerg/services/shipper/shipper.py
  scripts/install-claude-shim.sh
  scripts/install-runner.sh
  scripts/install.sh
Due: none

Remove workflow canvas UI
  apps/zerg/frontend-web/scripts/contract-validator.ts
  apps/zerg/frontend-web/src/components/ExecutionLogStream.tsx
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/components/chat/ChatComposer.tsx
  apps/zerg/frontend-web/src/components/landing/SkillsSection.tsx
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
  apps/zerg/frontend-web/src/hooks/chat/useChatActions.ts
  apps/zerg/frontend-web/src/hooks/chat/useChatData.ts
  apps/zerg/frontend-web/src/lib/iconUtils.tsx
  apps/zerg/frontend-web/src/lib/readiness-contract.ts
  apps/zerg/frontend-web/src/lib/useShelfState.tsx
  apps/zerg/frontend-web/src/lib/useWebSocket.tsx
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/CanvasPage.tsx
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  apps/zerg/frontend-web/src/pages/PricingPage.tsx
  apps/zerg/frontend-web/src/pages/PrivacyPage.tsx
  apps/zerg/frontend-web/src/pages/SecurityPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  apps/zerg/frontend-web/src/pages/canvas/CanvasContextMenu.tsx
  apps/zerg/frontend-web/src/pages/canvas/ExecutionControls.tsx
  apps/zerg/frontend-web/src/pages/canvas/ExecutionLogsPanel.tsx
  apps/zerg/frontend-web/src/pages/canvas/FicheShelf.tsx
  apps/zerg/frontend-web/src/pages/canvas/NodeComponents.tsx
  apps/zerg/frontend-web/src/pages/canvas/ShortcutHelpOverlay.tsx
  apps/zerg/frontend-web/src/pages/canvas/dragDropUtils.ts
  apps/zerg/frontend-web/src/pages/canvas/utils.ts
  apps/zerg/frontend-web/src/pages/canvas/workflowUtils.ts
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/index.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/services/api/workflows.ts
  apps/zerg/frontend-web/src/styles/app.css
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/css/canvas.css
  apps/zerg/frontend-web/src/styles/css/components/execution-results.css
  apps/zerg/frontend-web/src/styles/execution-log-stream.css
  apps/zerg/frontend-web/src/styles/run_button.css
  apps/zerg/frontend-web/src/test/contract-integration.test.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Update schemas and regenerate contracts
  apps/zerg/backend/zerg/generated/api_models.py
  apps/zerg/backend/zerg/generated/ws_messages.py
  apps/zerg/frontend-web/src/generated/api-client.ts
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/generated/ws-messages.ts
  schemas/api-schema.yml
  schemas/ws-protocol-asyncapi.yml
  schemas/ws-protocol-v1.json
  schemas/ws-protocol.schema.json
  scripts/generate-api-client.py
Due: typescript-typecheck, frontend-lint, ws-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Remove workflow canvas dependency
  apps/zerg/frontend-web/package.json
  bun.lock
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
