Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

docs: sync VISION and TODO with engine/hook runtime
  TODO.md
  VISION.md
Due: none

docs(cli): remove stale polling wording from help text
  apps/zerg/backend/zerg/cli/__init__.py
  apps/zerg/backend/zerg/cli/main.py
Due: python-vulture

fix(parser): handle Codex image messages and context injection
  apps/engine/src/pipeline/parser.rs
Due: none

fix(oikos): return persisted fiche next_run_at in oikos fiches API
  apps/zerg/backend/tests_lite/test_oikos_fiches_router.py
  apps/zerg/backend/zerg/routers/oikos_fiches.py
Due: python-vulture

docs(todo): record oikos fiches next_run_at bugfix
  TODO.md
Due: none

fix(scenarios): stop forcing commis model default in seeded jobs
  TODO.md
  apps/zerg/backend/tests_lite/test_scenario_seed_commis_model.py
  apps/zerg/backend/zerg/scenarios/seed.py
Due: python-vulture

docs(oikos): remove stale in-memory filtering comment
  apps/zerg/backend/zerg/routers/oikos_runs.py
Due: python-vulture

docs(todo): add newly verified follow-up debt items
  TODO.md
Due: none

feat(jobs): expose job registration warnings via jobs API
  TODO.md
  apps/zerg/backend/tests_lite/test_jobs_registration_warnings.py
  apps/zerg/backend/zerg/jobs/registry.py
  apps/zerg/backend/zerg/routers/jobs.py
Due: python-vulture

fix(control-plane): remove pydantic and startup deprecation warnings
  TODO.md
Due: none

fix(control-plane): remove pydantic and startup deprecation warnings
  TODO.md
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/main.py
Due: none

test(search): guard semantic hide_autonomous filtering
  TODO.md
  apps/zerg/backend/tests_lite/test_semantic_search_autonomous_filter.py
Due: none

feat(jobs-ui): surface backend registration warnings on jobs page
  TODO.md
  apps/zerg/frontend-web/src/hooks/useJobSecrets.ts
  apps/zerg/frontend-web/src/pages/JobsPage.tsx
  apps/zerg/frontend-web/src/services/api/jobSecrets.ts
Due: typescript-typecheck, frontend-lint

fix(jobs-ui): avoid react-query key collision for jobs meta payload
  apps/zerg/frontend-web/src/hooks/useJobSecrets.ts
Due: typescript-typecheck, frontend-lint

docs(agents): sync feature table with current frontend wiring
  AGENTS.md
Due: none

test(capabilities): add SSRF hostname and DNS-rebinding guards
  TODO.md
  apps/zerg/backend/tests_lite/test_llm_providers.py
Due: none

test(jobs-ui): add coverage for registration warnings banner
  TODO.md
  apps/zerg/frontend-web/src/pages/__tests__/JobsPage.test.tsx
Due: typescript-typecheck, frontend-lint

chore: note raw_json 32KB cap as TODO, add fidelity task
  TODO.md
  apps/engine/src/pipeline/compressor.rs
Due: none

fix(engine): preserve full raw_json lines for lossless ingest
  TODO.md
  apps/engine/src/pipeline/compressor.rs
Due: none

docs(todo): record parser-fidelity validation results
  TODO.md
Due: none

docs(todo): add live payload-size verification evidence
  TODO.md
Due: none
