Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Refactor timeline anchor helpers
  apps/zerg/frontend-web/src/hooks/useTimelineSessionStream.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint

Fix timeline thread card consistency
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
Due: python-vulture

Add timeline query grouping e2e coverage
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

Fix ingest task starvation in turn loop pipeline
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
Due: python-vulture

Fix turn review freshness for managed local sessions
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

Fix delayed turn-loop review freshness
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

Add Codex CLI hook support for real-time presence signals
  apps/zerg/backend/tests_lite/test_codex_hooks.py
  apps/zerg/backend/zerg/cli/connect.py
  apps/zerg/backend/zerg/services/shipper/__init__.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

Add managed-local Codex launcher support
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
Due: python-vulture

Eliminate managed-local Codex session duplication via env var binding
  apps/engine/src/daemon.rs
  apps/engine/src/main.rs
  apps/engine/src/shipper.rs
  apps/zerg/backend/tests_lite/test_codex_hooks.py
  apps/zerg/backend/tests_lite/test_managed_local_launch.py
  apps/zerg/backend/zerg/services/managed_local_launcher.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

loop: stream inbox updates over sse
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/frontend-web/src/hooks/useLoopInboxStream.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/services/api/__tests__/oikos-loop-stream.test.ts
  apps/zerg/frontend-web/src/services/api/oikos.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Add managed-local session launch UI with provider selector
  apps/zerg/frontend-web/src/components/LaunchSessionModal.tsx
  apps/zerg/frontend-web/src/pages/RunnerDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/sessionChat.ts
Due: typescript-typecheck, frontend-lint

Support Codex managed-local continue parity
  apps/zerg/backend/tests_lite/test_managed_local_control.py
  apps/zerg/backend/tests_lite/test_managed_local_session_chat.py
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

Ack ignorable Gemini session files in engine
  apps/engine/src/shipper.rs
Due: none

Speed up managed-local turn loop hot path
  apps/zerg/backend/tests_lite/test_claude_hooks.py
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

Verify Codex session detail rendering
  apps/zerg/frontend-web/src/lib/__tests__/sessionWorkspace.test.ts
Due: typescript-typecheck, frontend-lint

Cover Codex session detail rendering
  apps/zerg/frontend-web/src/lib/sessionWorkspace.ts
  apps/zerg/frontend-web/src/pages/__tests__/SessionDetailPage.test.tsx
Due: typescript-typecheck, frontend-lint

Stabilize Codex managed-local turn review coverage
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
Due: none

Surface dead-letter details in engine status
  apps/engine/src/daemon.rs
  apps/engine/src/heartbeat.rs
  apps/engine/src/main.rs
  apps/engine/src/state/spool.rs
Due: none

Log slow engine file offenders
  apps/engine/src/daemon.rs
  apps/engine/src/shipper.rs
Due: none

Route Codex managed-local reviews through exec
  apps/zerg/backend/tests_lite/test_managed_local_codex_exec.py
  apps/zerg/backend/tests_lite/test_oikos_runs_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/managed_local_codex_exec.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

Bind Codex exec to managed session mapping
  apps/zerg/backend/tests_lite/test_codex_hooks.py
  apps/zerg/backend/tests_lite/test_managed_local_codex_exec.py
  apps/zerg/backend/zerg/services/managed_local_codex_exec.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
