Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

docs: capture frontend bundle size baseline and set target budget
  TODO.md
  VISION.md
Due: none

test: add shipper smoke test for launch checklist
  apps/zerg/backend/tests/services/shipper/test_smoke.py
Due: none

test: add packaging smoke test for install path verification
  apps/zerg/backend/tests/test_packaging.py
Due: none

docs: final TODO cleanup — shipper smoke test, session progress
  TODO.md
  VISION.md
Due: none

feat: add cache hit logging for LLM prompt caching metrics
  TODO.md
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/openai_client.py
Due: none

docs: add OSS packaging decision recommendations + check off packaging test
  TODO.md
Due: none

feat: wire video capture output into landing page
  TODO.md
  apps/zerg/frontend-web/src/components/landing/DemoSection.tsx
  apps/zerg/frontend-web/src/components/landing/DemoVideoPlaceholder.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: update screenshot manifest for timeline product surface
  TODO.md
  apps/zerg/frontend-web/src/components/landing/HeroSection.tsx
  apps/zerg/frontend-web/src/components/landing/ProductShowcase.tsx
  scripts/screenshots.yaml
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: remove Playwright video capture pipeline — consolidate on Remotion
  AGENTS.md
  Makefile
  TODO.md
  apps/zerg/backend/zerg/services/replay_service.py
  apps/zerg/frontend-web/src/components/landing/DemoSection.tsx
  scripts/capture_demo_video.py
  scripts/generate_voiceover.py
  scripts/process_video.sh
  scripts/video-scenarios/product-demo.yaml
  scripts/video-scenarios/timeline-demo.yaml
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: consolidate Codex TOML logic, add escaping, fix watcher debounce
  apps/zerg/backend/zerg/services/shipper/__init__.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
  apps/zerg/backend/zerg/services/shipper/watcher.py
  apps/zerg/backend/zerg/services/workspace_manager.py
Due: none

feat: capture fresh timeline screenshots + add screenshot-ready signals
  apps/zerg/frontend-web/public/images/landing/canvas-preview.png
  apps/zerg/frontend-web/public/images/landing/chat-preview.png
  apps/zerg/frontend-web/public/images/landing/dashboard-preview.png
  apps/zerg/frontend-web/public/images/landing/search-preview.png
  apps/zerg/frontend-web/public/images/landing/session-detail-preview.png
  apps/zerg/frontend-web/public/images/landing/timeline-preview.png
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: recapture marketing screenshots with working API + dynamic session IDs
  apps/zerg/frontend-web/public/images/landing/search-preview.png
  apps/zerg/frontend-web/public/images/landing/session-detail-preview.png
  apps/zerg/frontend-web/public/images/landing/timeline-preview.png
  scripts/capture_marketing.py
  scripts/screenshots.yaml
Due: none

refactor: reorder landing page for HN — show product first
  apps/zerg/frontend-web/src/components/landing/SocialProof.tsx
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat: add Search tab to product showcase + remove 3.7MB dead images
  apps/zerg/frontend-web/public/images/landing/hero-orb.png
  apps/zerg/frontend-web/public/images/landing/integrations-grid.png
  apps/zerg/frontend-web/public/images/landing/scenario-health.png
  apps/zerg/frontend-web/public/images/landing/scenario-home.png
  apps/zerg/frontend-web/public/images/landing/scenario-inbox.png
  apps/zerg/frontend-web/public/images/landing/trust-shield.png
  apps/zerg/frontend-web/src/components/landing/DemoSection.tsx
  apps/zerg/frontend-web/src/components/landing/ProductShowcase.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

chore: remove 13 dead CSS rules + legacy screenshot manifest entries
  apps/zerg/frontend-web/src/styles/landing.css
  scripts/screenshots.yaml
Due: forbid-legacy-trigger-keys

refactor: tighten landing page — remove redundant deployment section + fix copy
  apps/zerg/frontend-web/src/components/landing/ComparisonTable.tsx
  apps/zerg/frontend-web/src/components/landing/PricingSection.tsx
  apps/zerg/frontend-web/src/components/landing/TrustSection.tsx
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
  apps/zerg/frontend-web/src/styles/landing.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: update meta tags and OG image for HN launch
  apps/zerg/frontend-web/index.html
  apps/zerg/frontend-web/public/images/landing/og-image.png
  apps/zerg/frontend-web/public/og-image.png
  apps/zerg/frontend-web/public/site.webmanifest
Due: none

docs: update TODO.md — landing page phase 6 complete
  TODO.md
Due: none

fix: rewrite docs page for session archiver product
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: update pricing page meta description — was "AI agent platform"
  apps/zerg/frontend-web/src/pages/PricingPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

docs: fix deployment instructions in AGENTS.md
  AGENTS.md
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
