Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

feat: add rewind branch-aware ingest and head/forensic projections
  TODO.md
  apps/zerg/backend/tests_lite/test_agents_duplicate_sqlite.py
  apps/zerg/backend/tests_lite/test_rewind_branch_projection.py
  apps/zerg/backend/tests_lite/test_session_events_branch_mode.py
  apps/zerg/backend/tests_lite/test_sqlite_migration_guard.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/mcp_server/server.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Capture event lineage IDs for rewind DAG fidelity
  TODO.md
  apps/zerg/backend/tests_lite/test_event_lineage_ingest.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Detect rewind branches from lineage divergence
  TODO.md
  apps/zerg/backend/tests_lite/test_rewind_branch_projection.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Preserve forensic transcript bytes across rewind branches
  TODO.md
  apps/zerg/backend/tests_lite/test_rewind_branch_projection.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  scripts/verify_real_claude_transcript_fidelity.py
Due: python-vulture

Realign active branch using Claude leafUuid hints
  TODO.md
  apps/zerg/backend/tests_lite/test_rewind_branch_projection.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Avoid rebuilding events dedupe index on every startup
  apps/zerg/backend/zerg/database.py
Due: python-vulture

Add self-contained marketing screenshot workflow
  Makefile
  apps/zerg/frontend-web/public/images/landing/search-preview.png
  apps/zerg/frontend-web/public/images/landing/session-detail-preview.png
  apps/zerg/frontend-web/public/images/landing/timeline-preview.png
  scripts/capture_marketing.py
  scripts/marketing-screenshots.sh
Due: none

Remove dead marketing-capture/seed-marketing Docker targets
  Makefile
Due: none

Add explicit heavy SQLite migration runner and ledger
  TODO.md
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/zerg/cli/main.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/db_migrations.py
Due: python-vulture

Run migration preflight before control-plane reprovision
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

Mark migration hardening task complete in TODO
  TODO.md
Due: none

Improve session event timeline rendering
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Enrich demo seed data and sharpen screenshot selection
  apps/zerg/backend/zerg/services/demo_sessions.py
  apps/zerg/frontend-web/public/images/landing/search-preview.png
  apps/zerg/frontend-web/public/images/landing/session-detail-preview.png
  apps/zerg/frontend-web/public/images/landing/timeline-preview.png
  scripts/capture_marketing.py
  scripts/marketing-screenshots.sh
  scripts/screenshots.yaml
Due: python-vulture

Fix session detail batch expand and deep-link regressions
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
Due: typescript-typecheck, frontend-lint

Fix migration preflight: pass dummy FERNET_SECRET to one-shot container
  apps/control-plane/control_plane/services/provisioner.py
Due: none

Fix screenshot images cropped by object-fit: cover
  apps/zerg/frontend-web/src/styles/landing.css
Due: css-rgba-validate

Expose migration status in admin surfaces and drop legacy branch-null reads
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/routers/ui.py
  apps/control-plane/control_plane/schemas.py
  apps/control-plane/tests/test_provisioning_flow.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Expose migration status in admin surfaces and drop legacy branch-null reads
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

test: verify landing provider claims and refresh link coverage
  TODO.md
  apps/zerg/e2e/tests/landing-integrations.spec.ts
  apps/zerg/e2e/tests/landing-links.spec.ts
Due: none

feat: Oikos can proactively reach user on Telegram
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
  apps/zerg/backend/zerg/tools/builtin/__init__.py
  apps/zerg/backend/zerg/tools/builtin/oikos_tools.py
  apps/zerg/backend/zerg/tools/builtin/telegram_tools.py
Due: python-vulture

fix: make shipper smoke test use longhouse ship one-shot
  scripts/shipper-smoke-test.sh
Due: none

fix(telegram): async bridging and chat_id security
  apps/zerg/backend/zerg/services/telegram_bridge.py
  apps/zerg/backend/zerg/tools/builtin/telegram_tools.py
Due: python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
