Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

docs: mark mobile ui tasks complete
  docs/work/ui-audit-tasklist.md
Due: none

test: add small mobile baseline project
  Makefile
  apps/zerg/e2e/playwright.config.js
  docs/TESTING.md
  docs/work/ui-audit-tasklist.md
Due: none

chore: add qa-ui-full sweep
  Makefile
  docs/TESTING.md
  docs/work/ui-audit-tasklist.md
Due: none

ui: add chat thread toggle on mobile
  apps/zerg/frontend-web/src/components/chat/ChatThreadList.tsx
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/styles/chat.css
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

ui: close mobile nav before logout
  apps/zerg/frontend-web/src/components/Layout.tsx
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: add git to Dockerfile dependencies stage
  docker/backend.dockerfile
Due: none

fix: add git to production container for workspace execution
  docker/backend.dockerfile
  scripts/deploy-prod.sh
Due: none

feat: add workspace worker guidance to supervisor prompt
  apps/zerg/backend/zerg/prompts/templates.py
Due: none

fix: auto-detect default branch in workspace manager
  apps/zerg/backend/zerg/services/workspace_manager.py
Due: none

fix(ui): mobile chat layout - debug panel grid specificity bug
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-darwin.png
  apps/zerg/frontend-web/src/jarvis/styles/layout.css
Due: forbid-legacy-trigger-keys

chore: cache bust frontend Docker build for mobile CSS fix
  apps/zerg/frontend-web/Dockerfile
Due: none

fix: add RUN layer to bust Docker cache
  apps/zerg/frontend-web/Dockerfile
Due: none

chore: bust Docker layer cache by modifying source file
  apps/zerg/frontend-web/src/jarvis/styles/layout.css
Due: forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
