Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

chore: bust Docker layer cache by modifying source file
  apps/zerg/frontend-web/src/jarvis/styles/layout.css
Due: forbid-legacy-trigger-keys

test: add mobile UI baseline screenshots
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/canvas-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/canvas-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-nav-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-mobile-small-darwin.png
Due: none

fix: strengthen workspace mode guidance for supervisor
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
Due: none

chore: bust cache for prompt update
  apps/zerg/backend/zerg/prompts/templates.py
Due: none

chore: remove deploy script - git push is sufficient
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/canvas-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/canvas-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-nav-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-mobile-small-darwin.png
  scripts/deploy-prod.sh
Due: none

refactor: separate spawn_worker and spawn_workspace_worker tools
  AGENTS.md
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/jobs/__init__.py
  apps/zerg/backend/zerg/jobs/git_sync.py
  apps/zerg/backend/zerg/jobs/http_dsl.py
  apps/zerg/backend/zerg/jobs/loader.py
  apps/zerg/backend/zerg/jobs/ops_db.py
  apps/zerg/backend/zerg/jobs/worker.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-small-darwin.png
  apps/zerg/frontend-web/src/jarvis/app/App.tsx
  apps/zerg/frontend-web/src/jarvis/styles/base.css
  apps/zerg/frontend-web/src/jarvis/styles/layout.css
  apps/zerg/frontend-web/src/jarvis/styles/sidebar.css
  apps/zerg/frontend-web/src/styles/layout.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor(jobs): simplify to manifest-based external jobs
  apps/zerg/backend/zerg/jobs/__init__.py
  apps/zerg/backend/zerg/jobs/examples/__init__.py
  apps/zerg/backend/zerg/jobs/examples/hello_world.py
  apps/zerg/backend/zerg/jobs/http_dsl.py
  apps/zerg/backend/zerg/jobs/loader.py
  apps/zerg/backend/zerg/jobs/ops_db.py
  apps/zerg/backend/zerg/jobs/registry.py
  apps/zerg/backend/zerg/jobs/worker.py
Due: none

test: add workspace worker tests and URL validation
  apps/zerg/backend/tests/services/test_cloud_executor.py
  apps/zerg/backend/tests/test_supervisor_tools.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/backend/zerg/tools/generated/tool_definitions.py
Due: none

fix(jobs): address Codex review findings for manifest loader
  apps/zerg/backend/tests/jobs/test_qa_agent.py
  apps/zerg/backend/zerg/jobs/__init__.py
  apps/zerg/backend/zerg/jobs/loader.py
  apps/zerg/backend/zerg/jobs/registry.py
  apps/zerg/backend/zerg/jobs/worker.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/jobs.py
Due: none

refactor(frontend): cleanup CSS, extract components, expand mobile tests
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/canvas-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/contacts-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/contacts-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-nav-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/integrations-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/integrations-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/knowledge-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/knowledge-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/runners-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/runners-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-mobile-darwin.png
  apps/zerg/frontend-web/package.json
  apps/zerg/frontend-web/src/pages/CanvasPage.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
  apps/zerg/frontend-web/src/pages/canvas/CanvasContextMenu.tsx
  apps/zerg/frontend-web/src/pages/canvas/ShortcutHelpOverlay.tsx
  apps/zerg/frontend-web/src/pages/dashboard/AgentTableRow.tsx
  apps/zerg/frontend-web/src/styles/profile-admin.css
  apps/zerg/frontend-web/src/styles/settings.css
  bun.lock
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test(jobs): add manifest loader tests + document simplified loader
  AGENTS.md
  apps/zerg/backend/tests/jobs/test_manifest_loader.py
Due: none

fix: align workspace worker validation and contracts
  apps/zerg/backend/tests/test_supervisor_tools.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  schemas/tools.yml
Due: none

feat(ui): redesign integrations page with compact cards
  apps/zerg/frontend-web/src/components/connectors/ConnectorCard.tsx
  apps/zerg/frontend-web/src/components/icons.tsx
  apps/zerg/frontend-web/src/styles/css/agent-settings.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

docs: add external jobs guide (MD + HTML)
  apps/zerg/frontend-web/public/docs/external-jobs.html
  docs/external-jobs.md
Due: none
