Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Verify Gemini end-to-end ingest and add tool-result coverage
  TODO.md
  apps/engine/src/pipeline/parser.rs
  apps/zerg/backend/tests/integration/fixtures/gemini_tool_results.json
  apps/zerg/backend/tests/integration/test_shipper_e2e.py
Due: none

Wire shipper Gemini e2e checks into push/pr CI
  .github/workflows/contract-first-ci.yml
  Makefile
Due: none

Polish instance responses and hide stale e2e rows in admin
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/routers/ui.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

Align syncing provider copy across Claude, Codex, and Gemini
  apps/zerg/e2e/tests/landing-integrations.spec.ts
  apps/zerg/frontend-web/src/components/landing/IntegrationsSection.tsx
Due: typescript-typecheck, frontend-lint

feat(oikos): add surface-aware metadata and filtered history views (phase A)
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_surface_history.py
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/zerg/channels/plugins/telegram.py
  apps/zerg/backend/zerg/crud/crud_messages.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/routers/oikos_run_dispatch.py
  apps/zerg/backend/zerg/routers/threads.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/backend/zerg/services/commis_inbox_trigger.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
  apps/zerg/backend/zerg/voice/turn_based.py
  apps/zerg/frontend-web/src/oikos/lib/__tests__/oikos-chat-controller.test.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
  docs/specs/oikos-multi-surface-messaging.md
Due: typescript-typecheck, frontend-lint, python-vulture

feat(oikos): add telegram dedupe and per-owner run serialization (phase B)
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_surface_history.py
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
Due: python-vulture

feat(oikos): add all-activity toggle and surface badges in chat (phase C)
  TODO.md
  apps/zerg/e2e/tests/core/chat-surface-view.spec.ts
  apps/zerg/frontend-web/src/oikos/app/App.tsx
  apps/zerg/frontend-web/src/oikos/app/components/ChatContainer.tsx
  apps/zerg/frontend-web/src/oikos/app/components/__tests__/ChatContainer.timeline-order.test.tsx
  apps/zerg/frontend-web/src/oikos/app/context/types.ts
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/lib/__tests__/oikos-chat-controller.test.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
  apps/zerg/frontend-web/src/oikos/styles/chat.css
  apps/zerg/frontend-web/src/oikos/styles/layout.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

feat(control-plane): persist per-instance custom env across reprovision
  TODO.md
Due: none

feat(control-plane): persist per-instance custom env across reprovision
  TODO.md
  apps/control-plane/control_plane/main.py
  apps/control-plane/control_plane/models.py
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/schemas.py
  apps/control-plane/control_plane/services/deployer.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_deployer.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

refactor(runners): make binary_url configurable via RUNNER_BINARY_TAG env var
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/routers/runners.py
Due: python-vulture

refactor(runners): prune consumed/expired enroll tokens on creation
  apps/zerg/backend/zerg/crud/runner_crud.py
Due: python-vulture

refactor(runners): remove _REGISTER_LOCK
  apps/zerg/backend/zerg/routers/runners.py
Due: python-vulture

refactor(runners): re-enroll by name instead of 409 on duplicate
  apps/zerg/backend/zerg/routers/runners.py
Due: python-vulture

fix(runners): mark all runners offline on server startup
  apps/zerg/backend/zerg/main.py
Due: python-vulture

refactor: remove dedupe and custom-env fallback behavior
  TODO.md
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
Due: python-vulture

refactor: remove dedupe and custom-env fallback behavior
  TODO.md
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_provisioning_flow.py
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
Due: python-vulture

refactor(runners): extract install.sh and uninstall.sh to template files
  apps/zerg/backend/zerg/routers/runners.py
  apps/zerg/backend/zerg/routers/templates/install.sh
  apps/zerg/backend/zerg/routers/templates/uninstall.sh
Due: python-vulture

refactor(runners): extract exec_chunk WS handler to _handle_exec_chunk()
  apps/zerg/backend/zerg/routers/runners.py
Due: python-vulture

fix(runners): close stale socket on re-enroll; single-pass template substitution
  apps/zerg/backend/zerg/routers/runners.py
Due: python-vulture

docs(oikos): mark multi-surface spec as implemented and strict dedupe
  docs/specs/oikos-multi-surface-messaging.md
Due: none

docs(oikos): spec first-class surface adapter interface
  TODO.md
  docs/specs/oikos-surface-adapter-interface.md
Due: none

feat(runners): spiff up runner UI
  apps/zerg/frontend-web/src/components/AddRunnerModal.tsx
  apps/zerg/frontend-web/src/hooks/useRunners.ts
  apps/zerg/frontend-web/src/pages/RunnersPage.tsx
  apps/zerg/frontend-web/src/styles/modal.css
  apps/zerg/frontend-web/src/styles/runners.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

feat(oikos): add surface orchestrator foundation and ingress claims
  TODO.md
  apps/zerg/backend/tests_lite/test_surface_idempotency.py
  apps/zerg/backend/tests_lite/test_surface_orchestrator.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/__init__.py
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/models/surface_ingress.py
  apps/zerg/backend/zerg/surfaces/__init__.py
  apps/zerg/backend/zerg/surfaces/base.py
  apps/zerg/backend/zerg/surfaces/idempotency.py
  apps/zerg/backend/zerg/surfaces/orchestrator.py
  apps/zerg/backend/zerg/surfaces/registry.py
Due: python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
