Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

refactor: tokenize dashboard warning states
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  apps/zerg/frontend-web/src/styles/reliability.css
  apps/zerg/frontend-web/src/styles/runner-detail.css
  apps/zerg/frontend-web/src/styles/trace-explorer.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize status colors in settings
  apps/zerg/frontend-web/src/styles/profile-admin.css
  apps/zerg/frontend-web/src/styles/settings.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize confirm dialog hovers
  apps/zerg/frontend-web/src/components/confirm/ConfirmDialog.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize info page badges
  apps/zerg/frontend-web/src/styles/info-pages.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize execution results badges
  apps/zerg/frontend-web/src/styles/css/components/execution-results.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

chore(jobs): set gmail-sync to production schedule (*/30)
  apps/zerg/backend/zerg/jobs/life_hub/gmail_sync.py
Due: none

refactor: tokenize ui error banners
  apps/zerg/frontend-web/src/styles/css/components/execution-results.css
  apps/zerg/frontend-web/src/styles/trace-explorer.css
  apps/zerg/frontend-web/src/styles/ui.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize canvas toggles
  apps/zerg/frontend-web/src/styles/css/canvas.css
  apps/zerg/frontend-web/src/styles/run_button.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize profile upload button
  apps/zerg/frontend-web/src/styles/profile-admin.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize tool config modal
  apps/zerg/frontend-web/src/styles/css/tool_config_modal.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

refactor: tokenize chat code blocks
  apps/zerg/frontend-web/src/styles/chat.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys

test: add app ui baselines
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts
  docs/TESTING.md
  docs/work/ui-audit-tasklist.md
Due: none

refactor: add settings readiness signal
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
  docs/work/ui-audit-tasklist.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

refactor: tokenize ops hud
  apps/zerg/frontend-web/src/styles/css/ops.css
  docs/work/ui-audit-tasklist.md
Due: forbid-legacy-trigger-keys
