Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

phase 4: add readiness contract documentation
  apps/zerg/frontend-web/src/lib/readiness-contract.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

phase 4: unify readiness signals across all pages
  apps/zerg/frontend-web/src/jarvis/app/App.tsx
  apps/zerg/frontend-web/src/pages/CanvasPage.tsx
  apps/zerg/frontend-web/src/pages/DashboardPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

phase 4: update E2E helpers with unified readiness contract
  apps/zerg/e2e/tests/helpers/ready-signals.ts
Due: none

phase 4: mark readiness contracts complete in spec
  docs/specs/zerg-simplification.md
Due: none

fix(e2e): prevent DB schema collision between Playwright projects
  Makefile
  apps/zerg/e2e/playwright.config.js
  apps/zerg/e2e/tests/core-journey.spec.ts
  docs/specs/zerg-simplification.md
Due: none

fix(e2e): stabilize tests with better waits and testids
  apps/zerg/e2e/tests/accessibility_ui_ux.spec.ts
  apps/zerg/e2e/tests/agent_run_optimistic_update.spec.ts
  apps/zerg/e2e/tests/automation_history.spec.ts
  apps/zerg/e2e/tests/canvas_workflows.spec.ts
  apps/zerg/e2e/tests/chat_debug_panel.spec.ts
  apps/zerg/frontend-web/src/jarvis/app/components/DebugPanel.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(a11y): move aria-expanded from tr to button in AgentTableRow
  apps/zerg/frontend-web/src/pages/dashboard/AgentTableRow.tsx
  apps/zerg/frontend-web/src/styles/css/dashboard.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(e2e): add visibility wait for modal submit button
  apps/zerg/e2e/tests/add-context-modal.spec.ts
Due: none

fix: address simplification spec review feedback
  apps/zerg/e2e/tests/canvas_workflows.spec.ts
  docs/specs/zerg-simplification.md
  scripts/capture_marketing.py
Due: none

feat: fix supervisor continuation with message_id and timeline rendering
  apps/zerg/backend/alembic/versions/p0q1r2s3t4u5_add_model_to_agent_runs.py
  apps/zerg/backend/alembic/versions/q1r2s3t4u5v6_expand_run_trigger_column.py
  apps/zerg/backend/alembic/versions/r2s3t4u5v6w7_add_assistant_message_id_to_agent_.py
  apps/zerg/backend/tests/test_supervisor_service.py
  apps/zerg/backend/zerg/agents_def/zerg_react_agent.py
  apps/zerg/backend/zerg/callbacks/token_stream.py
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/models/run.py
  apps/zerg/backend/zerg/routers/jarvis_chat.py
  apps/zerg/backend/zerg/routers/jarvis_runs.py
  apps/zerg/backend/zerg/services/supervisor_context.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/testing/mock_llm.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
  apps/zerg/backend/zerg/testing/test_models.py
  apps/zerg/e2e/tests/continuation_smoke.spec.ts
  apps/zerg/e2e/tests/core/core-journey.spec.ts
  apps/zerg/e2e/tests/supervisor-tool-visibility.spec.ts
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/jarvis/app/components/ChatContainer.tsx
  apps/zerg/frontend-web/src/jarvis/app/components/TextInput.tsx
  apps/zerg/frontend-web/src/jarvis/app/context/AppContext.tsx
  apps/zerg/frontend-web/src/jarvis/app/context/types.ts
  apps/zerg/frontend-web/src/jarvis/app/hooks/useJarvisApp.ts
  apps/zerg/frontend-web/src/jarvis/lib/conversation-controller.ts
  apps/zerg/frontend-web/src/jarvis/lib/state-manager.ts
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-chat-controller.ts
  schemas/sse-events.asyncapi.yml
  scripts/debug_chat_cli.py
Due: typescript-typecheck, frontend-lint, sse-contract-drift, forbid-legacy-trigger-keys

fix: filter internal SYSTEM NOTIFICATION messages from chat history
  apps/zerg/frontend-web/src/jarvis/app/hooks/useJarvisApp.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: filter internal orchestration messages server-side via internal flag
  apps/zerg/backend/alembic/versions/s3t4u5v6w7x8_add_internal_to_thread_messages.py
  apps/zerg/backend/tests/test_continuation_idempotency.py
  apps/zerg/backend/zerg/crud/crud_messages.py
  apps/zerg/backend/zerg/models/thread.py
  apps/zerg/backend/zerg/routers/jarvis.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/frontend-web/src/jarvis/app/hooks/useJarvisApp.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat: replace supervisor continuation with LangGraph interrupt/resume pattern
  apps/zerg/backend/tests/test_continuation_idempotency.py
  apps/zerg/backend/tests/test_durable_runs.py
  apps/zerg/backend/tests/test_master_worker_flow_integration.py
  apps/zerg/backend/tests/test_supervisor_service.py
  apps/zerg/backend/tests/test_supervisor_tools.py
  apps/zerg/backend/zerg/events/event_bus.py
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/managers/agent_runner.py
  apps/zerg/backend/zerg/models/enums.py
  apps/zerg/backend/zerg/routers/jarvis_internal.py
  apps/zerg/backend/zerg/routers/jarvis_runs.py
  apps/zerg/backend/zerg/routers/jarvis_sse.py
  apps/zerg/backend/zerg/routers/jarvis_supervisor.py
  apps/zerg/backend/zerg/routers/stream.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/services/worker_resume.py
  apps/zerg/backend/zerg/services/worker_runner.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/jarvis/lib/event-bus.ts
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-chat-controller.ts
  docs/work/supervisor-continuation-refactor.md
  schemas/sse-events.asyncapi.yml
Due: typescript-typecheck, frontend-lint, sse-contract-drift, forbid-legacy-trigger-keys

fix: ensure spawn_worker interrupt runs in async context + add hardening
  apps/zerg/backend/tests/test_master_worker_flow_integration.py
  apps/zerg/backend/zerg/agents_def/zerg_react_agent.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
Due: none
