Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

fix: remove ambiguous timestamp instruction from prompt
  apps/zerg/backend/zerg/prompts/connector_protocols.py
Due: none

Integrate memory recall and auto summaries
  apps/zerg/backend/zerg/managers/agent_runner.py
  apps/zerg/backend/zerg/services/memory_embeddings.py
  apps/zerg/backend/zerg/services/memory_summarizer.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/services/worker_resume.py
  apps/zerg/backend/zerg/tools/builtin/memory_tools.py
Due: none

Redesign landing page: simplify from 9 to 6 sections
  apps/zerg/frontend-web/src/components/landing/DifferentiationSection.tsx
  apps/zerg/frontend-web/src/components/landing/FooterCTA.tsx
  apps/zerg/frontend-web/src/components/landing/HeroSection.tsx
  apps/zerg/frontend-web/src/components/landing/HeroVisual.tsx
  apps/zerg/frontend-web/src/components/landing/HowItWorksSection.tsx
  apps/zerg/frontend-web/src/components/landing/IntegrationsSection.tsx
  apps/zerg/frontend-web/src/components/landing/NerdSection.tsx
  apps/zerg/frontend-web/src/components/landing/PASSection.tsx
  apps/zerg/frontend-web/src/components/landing/PricingSection.tsx
  apps/zerg/frontend-web/src/components/landing/ScenariosSection.tsx
  apps/zerg/frontend-web/src/components/landing/TrustSection.tsx
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
  apps/zerg/frontend-web/src/styles/landing.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Add trace_id to tool/run events and SSE payloads
  apps/zerg/backend/tests/test_emitters.py
  apps/zerg/backend/zerg/crud/crud_runs.py
  apps/zerg/backend/zerg/events/supervisor_emitter.py
  apps/zerg/backend/zerg/events/worker_emitter.py
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/services/supervisor_react_engine.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/services/worker_resume.py
  apps/zerg/backend/zerg/services/worker_runner.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/frontend-web/src/generated/sse-events.ts
  schemas/sse-events.asyncapi.yml
Due: typescript-typecheck, frontend-lint, sse-contract-drift, forbid-legacy-trigger-keys

Add trace coverage report and make target
  Makefile
  apps/zerg/backend/scripts/trace_coverage.py
  apps/zerg/backend/tests/test_trace_coverage.py
  apps/zerg/backend/zerg/services/trace_coverage.py
Due: none

Fix memory summarizer integration and cascade deletes
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/services/memory_summarizer.py
  apps/zerg/backend/zerg/services/run_history.py
Due: none

Add programmatic demo video generation system
  .gitignore
  Makefile
  apps/zerg/backend/zerg/routers/jarvis_chat.py
  apps/zerg/backend/zerg/services/replay_service.py
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-chat-controller.ts
  apps/zerg/frontend-web/src/main.tsx
  apps/zerg/frontend-web/src/styles/marketing-mode.css
  scripts/capture_demo_video.py
  scripts/generate_voiceover.py
  scripts/process_video.sh
  scripts/video-scenarios/product-demo.yaml
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Fix video replay issues from Codex/Gemini review
  apps/zerg/backend/zerg/routers/jarvis_chat.py
  apps/zerg/backend/zerg/services/replay_service.py
  apps/zerg/frontend-web/src/main.tsx
  scripts/capture_demo_video.py
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Fix video generation after smoke testing
  scripts/capture_demo_video.py
  scripts/generate_voiceover.py
  scripts/video-scenarios/product-demo.yaml
Due: none

Fix video pipeline E2E issues
  docker/docker-compose.dev.yml
  scripts/process_video.sh
  scripts/video-scenarios/product-demo.yaml
Due: none

Improve video pipeline quality with tiered outputs
  scripts/process_video.sh
Due: none

Switch video capture to ffmpeg screen recording for quality
  Makefile
  scripts/capture_demo_video.py
  scripts/process_video.sh
Due: none

Add Life Hub session shipping integration
  .env.example
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/services/lifehub_shipper.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/services/worker_resume.py
Due: none

Add Life Hub shipper tests
  apps/zerg/backend/tests/test_lifehub_shipper.py
  apps/zerg/backend/tests/test_model_allowlist.py
Due: none
