Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

chore: add tech debt TODOs from pipeline first-principles review
  TODO.md
Due: none

docs: add python-shipper-removal spec
  TODO.md
  apps/zerg/backend/docs/specs/python-shipper-removal.md
Due: none

feat: sort sessions by last activity, show as primary timestamp
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

feat: enable email signup now that SES is out of sandbox
  apps/control-plane/control_plane/routers/ui.py
Due: none

feat(longhouse): add get_session_events tool and fix get_session_detail
  apps/zerg/backend/tests_lite/test_agents_events_filter_sqlite.py
  apps/zerg/backend/zerg/mcp_server/server.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

fix: apply UTCBaseModel to remaining response schemas (Codex review)
  apps/zerg/backend/zerg/routers/oikos_fiches.py
  apps/zerg/backend/zerg/schemas/connector_schemas.py
  apps/zerg/backend/zerg/schemas/runner_schemas.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
Due: typescript-typecheck, frontend-lint, python-vulture

feat: control plane happy path CI coverage (3-layer)
  .github/workflows/contract-first-ci.yml
  .github/workflows/smoke-after-deploy.yml
  Makefile
  apps/control-plane/control_plane/main.py
  apps/control-plane/e2e/__init__.py
  apps/control-plane/e2e/conftest.py
  apps/control-plane/e2e/test_credential_gates.py
  apps/control-plane/e2e/test_login_flow.py
  apps/control-plane/e2e/test_signup_flow.py
  apps/control-plane/pyproject.toml
  apps/control-plane/uv.lock
  scripts/check-cp-credentials.sh
Due: none

feat: control plane happy path CI coverage (3-layer)
  .github/workflows/contract-first-ci.yml
  .github/workflows/smoke-after-deploy.yml
  Makefile
  scripts/check-cp-credentials.sh
Due: none

fix(longhouse): extract FTS helper, fix LIKE fallback to cover tool_output_text
  apps/zerg/backend/tests_lite/test_agents_events_filter_sqlite.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/frontend-web/src/oikos/data/conversation-manager.ts
Due: typescript-typecheck, frontend-lint, python-vulture

fix(schemas): Convert 14 Pydantic response models to use UTCBaseModel for datetime serialization
  apps/zerg/backend/zerg/schemas/connector_schemas.py
  apps/zerg/backend/zerg/schemas/job_settings_schemas.py
  apps/zerg/backend/zerg/schemas/runner_schemas.py
  apps/zerg/backend/zerg/schemas/schemas.py
  apps/zerg/backend/zerg/schemas/usage.py
Due: python-vulture

fix: apply Codex review feedback to CP CI coverage
  scripts/check-cp-credentials.sh
Due: none

fix: apply Codex review feedback to CP CI coverage
  apps/control-plane/control_plane/main.py
  apps/control-plane/e2e/conftest.py
  apps/control-plane/e2e/test_login_flow.py
  apps/control-plane/e2e/test_signup_flow.py
  scripts/check-cp-credentials.sh
Due: none

fix: apply parseUTC to conversation-list string timestamp path
  apps/zerg/frontend-web/src/oikos/lib/conversation-list.ts
Due: typescript-typecheck, frontend-lint

fix(shipper): correctly parse Codex sessions and display tool calls
  apps/zerg/backend/zerg/services/shipper/providers/codex.py
  apps/zerg/backend/zerg/services/shipper/shipper.py
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

test: add E2E datetime serialization verification
  apps/zerg/backend/tests_lite/test_datetime_e2e.py
Due: none

test: add UTCBaseModel scanner to catch datetime serialization gaps
  apps/zerg/backend/tests_lite/test_utcbasemodel_scanner.py
Due: none

docs(spec): update python-shipper-removal spec with full audit findings
  apps/zerg/backend/docs/specs/python-shipper-removal.md
Due: none

feat(engine): add --file flag to ship command for hook integration
  apps/engine/src/main.rs
Due: none

feat(shipper): Phase 1 - migrate service layer to Rust engine
  apps/zerg/backend/tests/services/shipper/test_service.py
  apps/zerg/backend/zerg/cli/connect.py
  apps/zerg/backend/zerg/cli/doctor.py
  apps/zerg/backend/zerg/services/shipper/service.py
Due: python-vulture

feat(shipper): Phase 2 - wire connect.py to exec longhouse-engine
  apps/zerg/backend/zerg/cli/connect.py
Due: python-vulture

feat(shipper): Phase 3 - delete Python shipper dead code
  apps/zerg/backend/scripts/profile_shipper.py
  apps/zerg/backend/tests/integration/test_shipper_watcher_e2e.py
  apps/zerg/backend/tests/services/shipper/test_codex_provider.py
  apps/zerg/backend/tests/services/shipper/test_gemini_provider.py
  apps/zerg/backend/tests/services/shipper/test_providers.py
  apps/zerg/backend/tests/services/shipper/test_shipper.py
  apps/zerg/backend/tests/services/shipper/test_smoke.py
  apps/zerg/backend/tests/services/shipper/test_spool.py
  apps/zerg/backend/tests/services/shipper/test_state.py
  apps/zerg/backend/tests/services/shipper/test_watcher.py
  apps/zerg/backend/zerg/cli/config_file.py
  apps/zerg/backend/zerg/services/shipper/__init__.py
  apps/zerg/backend/zerg/services/shipper/providers/__init__.py
  apps/zerg/backend/zerg/services/shipper/providers/claude.py
  apps/zerg/backend/zerg/services/shipper/providers/codex.py
  apps/zerg/backend/zerg/services/shipper/providers/gemini.py
  apps/zerg/backend/zerg/services/shipper/shipper.py
  apps/zerg/backend/zerg/services/shipper/spool.py
  apps/zerg/backend/zerg/services/shipper/state.py
  apps/zerg/backend/zerg/services/shipper/watcher.py
Due: python-vulture

fix(shipper): address Codex review findings
  apps/zerg/backend/tests/cli/test_connect.py
  apps/zerg/backend/zerg/cli/connect.py
  apps/zerg/backend/zerg/services/shipper/service.py
Due: python-vulture
