Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

docs: reconcile TODO and control-plane API
  TODO.md
Due: none

docs: reconcile TODO and control-plane API
  TODO.md
  apps/control-plane/API.md
Due: none

docs: refresh README and VISION state
  README.md
  VISION.md
Due: none

docs: clarify resume scope in README
  README.md
Due: none

fix: make git sync fully autonomous with hot-start, reload, and health monitoring
  apps/zerg/backend/zerg/jobs/__init__.py
  apps/zerg/backend/zerg/jobs/git_sync.py
  apps/zerg/backend/zerg/jobs/health_monitor.py
  apps/zerg/backend/zerg/jobs/loader.py
  apps/zerg/backend/zerg/jobs/registry.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/job_settings.py
  scripts/ci/fixtures/test-jobs/jobs/echo_job.py
  scripts/ci/fixtures/test-jobs/manifest.py
  scripts/ci/fixtures/test-jobs/requirements.txt
  scripts/ci/provision-e2e.sh
Due: none

fix: address review findings — await cancellation, fix module eviction and CronTrigger
  apps/zerg/backend/zerg/jobs/git_sync.py
  apps/zerg/backend/zerg/jobs/health_monitor.py
  apps/zerg/backend/zerg/jobs/loader.py
Due: none

fix: handle existing repo dir when hot-starting git sync
  apps/zerg/backend/zerg/jobs/git_sync.py
Due: none

fix: set safe.directory=* in git env for container UID mismatches
  apps/zerg/backend/zerg/jobs/git_sync.py
Due: none

feat(hatch-agent): merge standalone improvements, make zerg canonical
  packages/hatch-agent/pyproject.toml
  packages/hatch-agent/src/hatch/backends.py
  packages/hatch-agent/src/hatch/cli.py
  packages/hatch-agent/tests/test_backends.py
Due: none

fix: use git -c safe.directory=* on command line for reliable UID bypass
  apps/zerg/backend/zerg/jobs/git_sync.py
Due: none

fix: safe.directory=* must be in env vars for git subprocess inheritance
  apps/zerg/backend/zerg/jobs/git_sync.py
Due: none

feat(ui): warm gold token layer + recolor scripts
  apps/zerg/frontend-web/src/styles/tokens.css
  scripts/design-verify.sh
  scripts/recolor.py
Due: forbid-legacy-trigger-keys

feat(ui): warm gold bulk CSS recolor + backdrop-filter removal
  apps/zerg/frontend-web/src/components/AddContextModal.css
  apps/zerg/frontend-web/src/components/SessionPickerModal.css
  apps/zerg/frontend-web/src/components/confirm/ConfirmDialog.css
  apps/zerg/frontend-web/src/oikos/app/components/CommisToolCard.css
  apps/zerg/frontend-web/src/oikos/app/components/ToolCard.css
  apps/zerg/frontend-web/src/oikos/app/components/TraceIdDisplay.css
  apps/zerg/frontend-web/src/oikos/styles/base.css
  apps/zerg/frontend-web/src/oikos/styles/chat.css
  apps/zerg/frontend-web/src/oikos/styles/commis-progress.css
  apps/zerg/frontend-web/src/oikos/styles/index.css
  apps/zerg/frontend-web/src/oikos/styles/layout.css
  apps/zerg/frontend-web/src/oikos/styles/sidebar.css
  apps/zerg/frontend-web/src/oikos/styles/voice-button.css
  apps/zerg/frontend-web/src/pages/ContactsPage.css
  apps/zerg/frontend-web/src/pages/DevicesPage.css
  apps/zerg/frontend-web/src/pages/ProposalsPage.css
  apps/zerg/frontend-web/src/styles/chat.css
  apps/zerg/frontend-web/src/styles/css/dashboard.css
  apps/zerg/frontend-web/src/styles/css/fiche-settings.css
  apps/zerg/frontend-web/src/styles/css/fiche_shelf.css
  apps/zerg/frontend-web/src/styles/css/modal.css
  apps/zerg/frontend-web/src/styles/css/nav.css
  apps/zerg/frontend-web/src/styles/css/ops.css
  apps/zerg/frontend-web/src/styles/css/particle.css
  apps/zerg/frontend-web/src/styles/css/status.css
  apps/zerg/frontend-web/src/styles/forum.css
  apps/zerg/frontend-web/src/styles/info-pages.css
  apps/zerg/frontend-web/src/styles/landing.css
  apps/zerg/frontend-web/src/styles/layout.css
  apps/zerg/frontend-web/src/styles/marketing-mode.css
  apps/zerg/frontend-web/src/styles/modal.css
  apps/zerg/frontend-web/src/styles/profile-admin.css
  apps/zerg/frontend-web/src/styles/settings.css
  apps/zerg/frontend-web/src/styles/styles.css
  apps/zerg/frontend-web/src/styles/swarm-ops.css
  apps/zerg/frontend-web/src/styles/trace-explorer.css
  apps/zerg/frontend-web/src/styles/ui.css
Due: forbid-legacy-trigger-keys

fix: write safe.directory=* to global gitconfig for subprocess reliability
  apps/zerg/backend/zerg/jobs/git_sync.py
Due: none

feat(ui): warm gold TSX inline styles
  apps/zerg/frontend-web/src/components/DemoBanner.tsx
  apps/zerg/frontend-web/src/components/ErrorBoundary.tsx
  apps/zerg/frontend-web/src/components/ServiceUnavailable.tsx
  apps/zerg/frontend-web/src/components/SwarmLogo.tsx
  apps/zerg/frontend-web/src/components/UsageWidget.tsx
  apps/zerg/frontend-web/src/components/connectors/ConnectorCard.tsx
  apps/zerg/frontend-web/src/forum/ForumCanvas.tsx
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/main.tsx
  apps/zerg/frontend-web/src/oikos/app/components/MicButton.tsx
  apps/zerg/frontend-web/src/oikos/app/components/OfflineBanner.tsx
  apps/zerg/frontend-web/src/oikos/contexts/personal/config.ts
  apps/zerg/frontend-web/src/oikos/lib/radial-visualizer.ts
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/TraceExplorerPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(ui): remove remaining purple/indigo/old color references
  apps/zerg/frontend-web/index.html
  apps/zerg/frontend-web/public/debug-perf.js
  apps/zerg/frontend-web/public/gpu-demo.html
  apps/zerg/frontend-web/public/test-grid.html
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/components/SessionPickerModal.css
  apps/zerg/frontend-web/src/lib/useWebSocket.tsx
  apps/zerg/frontend-web/src/oikos/styles/layout.css
  apps/zerg/frontend-web/src/styles/marketing-mode.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

chore: update visual baselines for warm gold palette
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/admin-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/chat-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/contacts-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/integrations-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/knowledge-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/profile-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/runners-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/settings-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/changelog-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/docs-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/landing-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/pricing-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/privacy-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/security-chromium-darwin.png
Due: none

feat(ui): warm gold forum.css — shift 60+ cool-toned rgba colors to warm palette
  apps/zerg/frontend-web/src/styles/forum.css
Due: forbid-legacy-trigger-keys

Add metadata.source to remaining LiteLLM proxy calls
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/services/llm_decider.py
  apps/zerg/backend/zerg/services/reflection/judge.py
Due: none

fix: make Coolify deploy conditional on secrets being configured
  .github/workflows/deploy-and-verify.yml
Due: none

fix: skip Coolify deploy gracefully when secrets not configured
  .github/workflows/deploy-and-verify.yml
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
