Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Derive session workspace filtered selection
  apps/zerg/frontend-web/src/hooks/__tests__/useSessionWorkspace.test.tsx
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
Due: typescript-typecheck, frontend-lint

Move sessions fast polling into React Query
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
Due: typescript-typecheck, frontend-lint

Use materialized runtime state in session APIs
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/session_runtime.py
Due: python-vulture

Anchor session selection on runtime activity
  apps/zerg/backend/tests_lite/test_timeline_runtime_overlay.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Let live overlay drive timeline ordering
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

loop: slim mobile peek tab
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Collapse app performance effects
  apps/zerg/frontend-web/src/lib/usePerformance.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
Due: typescript-typecheck, frontend-lint

Stream timeline session updates over SSE
  apps/zerg/backend/tests_lite/test_timeline_stream.py
  apps/zerg/backend/zerg/routers/timeline.py
  apps/zerg/frontend-web/src/hooks/useTimelineSessionStream.ts
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/__tests__/agents-stream.test.ts
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Prefer fresher timeline runtime patches
  apps/zerg/frontend-web/src/lib/sessionRuntime.ts
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Tighten Oikos runtime effect boundaries
  apps/zerg/frontend-web/src/legacy/forum/ForumCanvas.tsx
  apps/zerg/frontend-web/src/oikos/app/App.tsx
  apps/zerg/frontend-web/src/oikos/app/components/ChatContainer.tsx
  apps/zerg/frontend-web/src/oikos/app/components/MicButton.tsx
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/app/hooks/useTextChannel.ts
  apps/zerg/frontend-web/src/oikos/lib/event-bus.ts
  apps/zerg/frontend-web/src/pages/automations/__tests__/useAutomationOverviewRealtime.test.tsx
  apps/zerg/frontend-web/src/pages/automations/useAutomationOverviewRealtime.ts
Due: typescript-typecheck, frontend-lint

Remove dead Oikos hook callback APIs
  apps/zerg/frontend-web/src/oikos/app/App.tsx
  apps/zerg/frontend-web/src/oikos/app/hooks/index.ts
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/app/hooks/useTextChannel.ts
Due: typescript-typecheck, frontend-lint

Move Oikos debug panel polling into React Query
  apps/zerg/frontend-web/src/oikos/app/components/DebugPanel.tsx
  apps/zerg/frontend-web/src/oikos/app/components/__tests__/DebugPanel.test.tsx
Due: typescript-typecheck, frontend-lint

Make automation settings drawer mount-owned
  apps/zerg/frontend-web/src/components/automation-settings/AutomationSettingsDrawer.tsx
  apps/zerg/frontend-web/src/components/automation-settings/__tests__/AutomationSettingsDrawer.test.tsx
  apps/zerg/frontend-web/src/hooks/useAutomationConfig.ts
Due: typescript-typecheck, frontend-lint

Make SwarmOps demo seeding query-owned
  apps/zerg/frontend-web/src/pages/SwarmOpsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SwarmOpsPage.test.tsx
Due: typescript-typecheck, frontend-lint

loop: make mobile pull tab vertical
  apps/zerg/e2e/tests/mobile/loop_inbox_mobile.spec.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Use sync external store for API health
  apps/zerg/frontend-web/src/lib/__tests__/apiHealth.test.tsx
  apps/zerg/frontend-web/src/lib/apiHealth.ts
Due: typescript-typecheck, frontend-lint

Harden timeline URL numeric params
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Slow timeline polling behind SSE
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Pause timeline SSE in background tabs
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Derive footer API health from React Query
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/lib/__tests__/apiHealth.test.tsx
  apps/zerg/frontend-web/src/lib/apiHealth.ts
Due: typescript-typecheck, frontend-lint

Keep timeline polling when SSE is unavailable
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/SessionsPage.test.tsx
Due: typescript-typecheck, frontend-lint

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
