Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

fix(landing): WCAG contrast fixes for deployment cards and friction reducers
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

test: cover session discovery tools
  TODO.md
  apps/zerg/backend/zerg/tools/tests/test_session_tools.py
Due: none

ci: gate timeline sessions e2e
  Makefile
  TODO.md
Due: none

test: verify session tools via resolver
  apps/zerg/backend/zerg/tools/tests/test_session_tools.py
Due: none

test: add agents search api coverage
  apps/zerg/backend/tests/test_agents_search_api.py
Due: none

fix: add sort_keys to connector status JSON for deterministic prompt cache hits
  apps/zerg/backend/zerg/connectors/status_builder.py
Due: none

test: move sessions E2E into core gate so search regressions block CI
  Makefile
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

chore: regenerate OpenAPI types after swarmlet_url → longhouse_url rename
  TODO.md
  VISION.md
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  scripts/install.sh
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test: update timestamp format assertion to match minute-level granularity
  apps/zerg/backend/tests/connectors/test_status_builder.py
Due: none

fix(fts): normalize search query punctuation
  apps/zerg/backend/zerg/services/agents_store.py
Due: none

chore(agents): trim learnings list
  AGENTS.md
Due: none

test(e2e): stabilize commis card and timeline search
  apps/zerg/e2e/tests/core/core-journey.spec.ts
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

feat(landing): add comparison table section
  apps/zerg/frontend-web/src/components/landing/ComparisonTable.tsx
  apps/zerg/frontend-web/src/pages/LandingPage.tsx
  apps/zerg/frontend-web/src/styles/landing.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

feat(onboard): auto-seed demo sessions so new users see a populated timeline
  apps/zerg/backend/zerg/cli/onboard.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test: add shared agent session seeder
  apps/zerg/backend/tests/helpers/__init__.py
  apps/zerg/backend/tests/helpers/agents_seed.py
  apps/zerg/backend/tests/test_agents_search_api.py
  apps/zerg/backend/zerg/tools/tests/test_session_tools.py
Due: none

test: run core e2e via project
  Makefile
Due: none

docs: clarify oikos bootstrap vs registry tools
  apps/zerg/backend/docs/supervisor_tools.md
  apps/zerg/backend/tests/test_model_allowlist.py
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/routers/auth.py
Due: none

docs: clarify oikos bootstrap vs registry tools
  apps/control-plane/control_plane/services/provisioner.py
  apps/zerg/backend/docs/supervisor_tools.md
  apps/zerg/backend/tests/test_model_allowlist.py
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/routers/auth.py
Due: none

chore: undo accidental staged changes
  apps/control-plane/control_plane/services/provisioner.py
  apps/zerg/backend/tests/test_model_allowlist.py
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/routers/auth.py
Due: none

chore: undo accidental staged changes
  apps/zerg/backend/tests/test_model_allowlist.py
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/routers/auth.py
Due: none

docs: note pre-commit restage
  README.md
Due: none

fix(oikos): merge historical tools without clobbering live
  apps/zerg/frontend-web/src/oikos/lib/oikos-tool-store.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys
