Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

test: stabilize integrations page selectors
  apps/zerg/frontend-web/src/components/connectors/ConnectorCard.tsx
  apps/zerg/frontend-web/src/pages/__tests__/IntegrationsPage.test.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(frontend): allow OpenAI Realtime in CSP
  AGENTS.md
  apps/zerg/frontend-web/docker-entrypoint.sh
  scripts/smoke-prod.sh
Due: none

fix(admin): correct FK ordering in demo reset + add tests
  apps/zerg/backend/scripts/seed_scenario.py
  apps/zerg/backend/tests/test_demo_reset.py
  apps/zerg/backend/zerg/routers/admin.py
Due: none

fix(e2e): replace networkidle with load state
  apps/zerg/e2e/tests/core/cross-origin-auth.spec.ts
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts
Due: none

feat: Phase 2 - Add display_type to API schemas
  apps/zerg/backend/zerg/schemas/schemas.py
Due: none

fix(deps): use psycopg[binary] to bundle libpq
  apps/zerg/backend/pyproject.toml
Due: none

docs: add turn-based voice task doc
  docs/work/voice-turn-based.md
Due: none

fix(test): correct model column names in demo reset tests
  apps/zerg/backend/tests/test_demo_reset.py
Due: none

fix: Additional Phase 1 terminology fixes
  apps/zerg/frontend-web/src/jarvis/app/components/ToolCard.tsx
  apps/zerg/frontend-web/src/jarvis/app/components/WorkerProgress.tsx
  apps/zerg/frontend-web/src/jarvis/app/components/__tests__/ChatContainer.timeline-order.test.tsx
  apps/zerg/frontend-web/src/jarvis/app/components/__tests__/ToolCard.test.tsx
  apps/zerg/frontend-web/src/jarvis/contexts/personal/config.ts
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(test): use correct CanvasLayout column name
  apps/zerg/backend/tests/test_demo_reset.py
Due: none

feat: Rename SSE events for French terminology rebrand
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-chat-controller.ts
  schemas/sse-events.asyncapi.yml
Due: typescript-typecheck, frontend-lint, sse-contract-drift, forbid-legacy-trigger-keys

fix(test): remove timestamps from CanvasLayout
  apps/zerg/backend/tests/test_demo_reset.py
Due: none

fix(test): remove timestamps from all model constructors
  apps/zerg/backend/tests/test_demo_reset.py
Due: none

feat(voice): switch Jarvis UI to turn-based
  AGENTS.md
  apps/zerg/e2e/tests/voice_turn.spec.ts
  apps/zerg/frontend-web/src/jarvis/app/App.tsx
  apps/zerg/frontend-web/src/jarvis/app/components/MicButton.tsx
  apps/zerg/frontend-web/src/jarvis/app/hooks/__tests__/useTurnBasedVoice.test.tsx
  apps/zerg/frontend-web/src/jarvis/app/hooks/index.ts
  apps/zerg/frontend-web/src/jarvis/app/hooks/useJarvisApp.ts
  apps/zerg/frontend-web/src/jarvis/app/hooks/useTurnBasedVoice.ts
  apps/zerg/frontend-web/src/services/api/index.ts
  apps/zerg/frontend-web/src/services/api/voice.ts
  docs/work/voice-turn-based.md
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(voice): accept webm codec content types
  AGENTS.md
  apps/zerg/backend/tests/test_voice_turn.py
  apps/zerg/backend/zerg/voice/router.py
  apps/zerg/backend/zerg/voice/stt_service.py
Due: none

refactor(events): rename supervisor/worker → concierge/commis event types
  apps/zerg/backend/zerg/callbacks/token_stream.py
  apps/zerg/backend/zerg/events/event_bus.py
  apps/zerg/backend/zerg/events/supervisor_emitter.py
  apps/zerg/backend/zerg/events/worker_emitter.py
  apps/zerg/backend/zerg/models/agent_run_event.py
  apps/zerg/backend/zerg/routers/jarvis.py
  apps/zerg/backend/zerg/routers/jarvis_chat.py
  apps/zerg/backend/zerg/routers/jarvis_runs.py
  apps/zerg/backend/zerg/routers/jarvis_supervisor.py
  apps/zerg/backend/zerg/routers/stream.py
  apps/zerg/backend/zerg/scenarios/data/swarm-mvp.yaml
  apps/zerg/backend/zerg/scenarios/data/worker-job.yaml
  apps/zerg/backend/zerg/services/event_store.py
  apps/zerg/backend/zerg/services/replay_service.py
  apps/zerg/backend/zerg/services/supervisor_react_engine.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/services/worker_job_processor.py
  apps/zerg/backend/zerg/services/worker_resume.py
  apps/zerg/backend/zerg/services/worker_runner.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
Due: none
