Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

fix(skills): apply zerg-ship review findings
  .agents/skills/zerg-ship/SKILL.md
Due: none

fix(skills): zerg-ship round 2 fixes from Codex review
  .agents/skills/zerg-ship/SKILL.md
Due: none

feat(engine): hook outbox pattern — eliminate network calls from Claude Code hooks
  apps/engine/src/daemon.rs
  apps/engine/src/main.rs
  apps/engine/src/outbox.rs
  apps/zerg/backend/tests/services/shipper/test_hooks.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

fix(hooks): sync Stop hook + exit 0 to prevent session interruption
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

feat: session title fallback, first_user_message, Life Hub cleanup, keyboard shortcut
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/backend/zerg/services/session_continuity.py
  apps/zerg/frontend-web/src/pages/JobSecretsPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
Due: typescript-typecheck, frontend-lint, python-vulture

feat(jobs): queue admission guard — skip enqueue when required secrets missing
  apps/zerg/backend/zerg/jobs/commis.py
Due: python-vulture

chore(todo): mark session titles, queue admission, keyboard shortcut as done
  TODO.md
Due: none

fix(hooks): critical outbox filename bug + PostToolUseFailure + test fixes
  apps/engine/src/outbox.rs
  apps/zerg/backend/tests/services/shipper/test_hooks.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

fix: NULL guard + backfill guard + 9 tests
  apps/zerg/backend/tests_lite/test_job_secrets_guard.py
  apps/zerg/backend/tests_lite/test_structured_title_fallback.py
  apps/zerg/backend/zerg/jobs/commis.py
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

feat: first-session proof point — demo-only banner on timeline
  apps/zerg/backend/tests_lite/test_has_real_sessions.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

feat(ui): job secrets form type rendering + skeleton loading
  apps/zerg/frontend-web/src/pages/JobSecretsPage.tsx
  apps/zerg/frontend-web/src/styles/settings.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

feat: DELETE /agents/demo reset endpoint for SCENE=empty QA captures
  .agents/skills/zerg-ui/SKILL.md
  apps/zerg/backend/tests_lite/test_demo_reset.py
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

test(hooks): contract tests + E2E script for outbox pipeline
  Makefile
  apps/engine/src/outbox.rs
  scripts/test-hooks-e2e.sh
Due: none

feat(forum): add Unknown presence state for sessions without signals
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/pages/ForumPage.tsx
Due: typescript-typecheck, frontend-lint

feat: durable ingest task queue — replace BackgroundTasks with SQLite-backed worker
  TODO.md
  apps/zerg/backend/tests_lite/test_ingest_task_queue.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
Due: python-vulture

fix(presence): normalize naive updated_at to UTC before comparison
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

fix(presence): UUID→str conversion for presence_map lookup
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

chore(ui): remove redundant play button from session cards
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

fix(ci): FERNET_SECRET for test collection + Makefile PHONY + forum test timeout
  Makefile
  apps/zerg/backend/run_backend_tests_lite.sh
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

chore: commit orphaned agent work from bd545a93
  packages/hatch-agent/src/hatch/backends.py
Due: none

chore: commit orphaned agent work from b0ceb409
  packages/hatch-agent/src/hatch/backends.py
Due: none
