Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

add launch onboarding gate
  .github/workflows/launch-gate.yml
  .github/workflows/runner-onboarding-validation.yml
  Makefile
Due: none

soften model smoke rate limits
  apps/zerg/backend/tests_lite/test_model_smoke_rate_limits.py
  scripts/smoke_models.py
Due: none

docs: note hosted gmail canary requirements
  AGENTS.md
Due: none

fix: gracefully fall back when saved model preference lacks API key
  apps/zerg/backend/vulture-whitelist.py
  apps/zerg/backend/zerg/routers/oikos_chat.py
Due: python-vulture

speed up provisioning e2e image path
  .github/workflows/provision-e2e.yml
  .github/workflows/runtime-image.yml
  scripts/ci/provision-e2e.sh
Due: none

run provisioning e2e on github runner
  .github/workflows/provision-e2e.yml
Due: none

refactor: simplify LLM provider config — remove redundant key lookups
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/zerg/cli/serve.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
Due: python-vulture

Add scheduled cube runner canary
  .github/workflows/self-hosted-runner-smoke.yml
Due: none

feat: route hosted gmail connect through control plane
  TODO.md
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/routers/auth.py
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_provisioning_flow.py
  apps/zerg/backend/tests_lite/test_auth_gmail_connect.py
  apps/zerg/backend/tests_lite/test_sso_keys.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/backend/zerg/routers/auth_internal.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/auth.ts
  docs/tasks/oikos-conversations-email.md
Due: typescript-typecheck, frontend-lint, python-vulture

feat: route hosted gmail connect through control plane
  TODO.md
  apps/zerg/backend/tests_lite/test_auth_gmail_connect.py
  apps/zerg/backend/tests_lite/test_sso_keys.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/backend/zerg/routers/auth_internal.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
  apps/zerg/frontend-web/src/services/api/auth.ts
  docs/tasks/oikos-conversations-email.md
Due: typescript-typecheck, frontend-lint, python-vulture

feat: automate gmail launch setup
  AGENTS.md
  README.md
  apps/control-plane/README.md
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/routers/auth.py
  apps/control-plane/control_plane/services/gmail_pubsub.py
  apps/control-plane/pyproject.toml
  apps/control-plane/tests/test_provisioning_flow.py
  apps/control-plane/uv.lock
  apps/zerg/backend/tests_lite/test_sso_keys.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

feat: automate gmail launch setup
  AGENTS.md
  README.md
  apps/zerg/backend/tests_lite/test_sso_keys.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

fix: include google-auth in control plane image
  apps/control-plane/requirements.txt
Due: none

refactor: drop legacy control-plane packaging
  apps/control-plane/Dockerfile
  apps/control-plane/requirements.txt
  apps/control-plane/tests/test_provisioning_flow.py
  scripts/control-plane-coolify-contract.sh
Due: none

refactor: drop legacy control-plane packaging
  scripts/control-plane-coolify-contract.sh
Due: none

route workflows across cube runner lanes
  .github/workflows/ci-test.yml
  .github/workflows/contract-first-ci.yml
  .github/workflows/debug-e2e.yml
  .github/workflows/deploy-and-verify.yml
  .github/workflows/extended-ci.yml
  .github/workflows/readme-tests.yml
  .github/workflows/runner-onboarding-validation.yml
  .github/workflows/self-hosted-runner-smoke.yml
  .github/workflows/smoke-after-deploy.yml
  .github/workflows/test-arc.yml
  .github/workflows/ws-code-drift.yml
Due: none

fix: remove remaining crud facade callers
  apps/zerg/backend/tests_lite/test_oikos_surface_history.py
  apps/zerg/backend/zerg/routers/oikos_fiches.py
Due: python-vulture

phase 0: define auth boundary cleanup
  TODO.md
  docs/specs/browser-machine-auth-boundary.md
Due: none

phase 1: tighten browser auth boundary
  TODO.md
  apps/zerg/backend/tests_lite/test_auth_gmail_connect.py
  apps/zerg/backend/tests_lite/test_auth_status_gmail.py
  apps/zerg/backend/tests_lite/test_browser_machine_auth_boundary.py
  apps/zerg/backend/zerg/auth/strategy.py
  apps/zerg/backend/zerg/dependencies/auth.py
  apps/zerg/backend/zerg/routers/auth.py
  apps/zerg/backend/zerg/routers/insights.py
  apps/zerg/backend/zerg/routers/oikos_auth.py
  apps/zerg/backend/zerg/routers/proposals.py
  docs/specs/browser-machine-auth-boundary.md
Due: python-vulture

phase 2: remove frontend auth token baggage
  TODO.md
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/pages/__tests__/AdminPage.test.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ProfilePage.test.tsx
  apps/zerg/frontend-web/src/test/setup.ts
  docs/specs/browser-machine-auth-boundary.md
Due: typescript-typecheck, frontend-lint

fix: stabilize gpt-5 smoke probe
  apps/zerg/backend/tests_lite/test_model_smoke_rate_limits.py
  scripts/smoke_models.py
Due: none

fix: stabilize session workspace auto-scroll
  TODO.md
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/hooks/__tests__/useSessionWorkspace.test.tsx
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
Due: typescript-typecheck, frontend-lint

docs: plan run stream refactor
  TODO.md
  docs/specs/run-stream-refactor.md
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
