Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  entry: scripts/check_legacy_triggers.sh
  language: system
  pass_filenames: false

feat: add worker barrier schema for parallel worker coordination
  apps/zerg/backend/alembic/versions/v6w7x8y9z0a1_add_worker_barrier_tables.py
  apps/zerg/backend/zerg/models/__init__.py
  apps/zerg/backend/zerg/models/worker_barrier.py
Due: none

feat: implement parallel-first worker execution with barrier sync
  apps/zerg/backend/zerg/events/supervisor_emitter.py
  apps/zerg/backend/zerg/managers/agent_runner.py
  apps/zerg/backend/zerg/services/supervisor_react_engine.py
  apps/zerg/backend/zerg/services/supervisor_service.py
  apps/zerg/backend/zerg/services/worker_resume.py
  apps/zerg/backend/zerg/services/worker_runner.py
Due: none

fix: E2E test infrastructure for parallel worker architecture
  apps/zerg/backend/zerg/auth/strategy.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/services/scheduler_service.py
  apps/zerg/backend/zerg/services/worker_job_processor.py
Due: none

test: update tests for parallel worker barrier pattern
  apps/zerg/backend/tests/test_barrier_race_conditions.py
  apps/zerg/backend/tests/test_langgraph_free_resume.py
  apps/zerg/backend/tests/test_supervisor_tools_integration.py
  apps/zerg/e2e/tests/continuation_smoke.spec.ts
  apps/zerg/e2e/tests/worker_isolation_guardrail.spec.ts
Due: none

feat: frontend support for parallel worker events
  apps/zerg/frontend-web/src/jarvis/lib/event-bus.ts
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-tool-store.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix: eliminate E2E test flakiness with parallel workers
  apps/zerg/backend/zerg/routers/admin.py
  apps/zerg/e2e/playwright.config.js
  apps/zerg/e2e/spawn-test-backend.js
  apps/zerg/e2e/tests/add-context-modal.spec.ts
  apps/zerg/e2e/tests/agent_creation.spec.ts
  apps/zerg/e2e/tests/agent_run_optimistic_update.spec.ts
  apps/zerg/e2e/tests/agent_scheduling.spec.ts
  apps/zerg/e2e/tests/agent_tool_complete_e2e.spec.ts
  apps/zerg/e2e/tests/auth_flows.spec.ts
  apps/zerg/e2e/tests/automation_history.spec.ts
  apps/zerg/e2e/tests/canvas_workflows.spec.ts
  apps/zerg/e2e/tests/chat_debug_panel.spec.ts
  apps/zerg/e2e/tests/chat_functional.spec.ts
  apps/zerg/e2e/tests/chat_perfect.spec.ts
  apps/zerg/e2e/tests/chat_performance_eval.spec.ts
  apps/zerg/e2e/tests/chat_token_streaming.spec.ts
  apps/zerg/e2e/tests/core/agent-crud.spec.ts
  apps/zerg/e2e/tests/core/chat-send.spec.ts
  apps/zerg/e2e/tests/core/data-persistence.spec.ts
  apps/zerg/e2e/tests/core/thread-management.spec.ts
  apps/zerg/e2e/tests/happy-paths.spec.ts
  apps/zerg/e2e/tests/helpers/agent-helpers.ts
  apps/zerg/e2e/tests/helpers/test-helpers.ts
  apps/zerg/e2e/tests/knowledge_sources.spec.ts
  apps/zerg/e2e/tests/realtime_updates.spec.ts
  apps/zerg/e2e/tests/reasoning-effort.spec.ts
  apps/zerg/e2e/tests/supervisor-tool-visibility.spec.ts
  apps/zerg/e2e/tests/template_gallery.spec.ts
  apps/zerg/e2e/tests/test-utils.ts
  apps/zerg/e2e/tests/thread_chat.spec.ts
  apps/zerg/e2e/tests/trigger_webhooks.spec.ts
  apps/zerg/e2e/tests/websocket_queue_real.spec.ts
  apps/zerg/e2e/tests/websocket_subscription_real.spec.ts
  apps/zerg/e2e/tests/worker_isolation.spec.ts
  apps/zerg/e2e/tests/workflow_execution.spec.ts
  apps/zerg/e2e/tests/workflow_execution_animations.spec.ts
  apps/zerg/frontend-web/src/jarvis/core/jarvis-api-client.ts
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

docs: add parallel-first worker architecture spec
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/routers/jarvis.py
  apps/zerg/backend/zerg/services/supervisor_react_engine.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-chat-controller.ts
  docs/archive/parallel-first-worker-barrier-v1.md
  schemas/sse-events.asyncapi.yml
Due: typescript-typecheck, frontend-lint, sse-contract-drift, forbid-legacy-trigger-keys

docs: update AGENTS.md with E2E test infrastructure details
  AGENTS.md
Due: none

docs: add session handoff for 2026-01-16
  docs/work/handoff-2026-01-16.md
Due: none

feat: add deterministic parallel-worker E2E test coverage
  apps/zerg/backend/tests/unit/test_scripted_llm.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
  apps/zerg/e2e/tests/parallel-workers.spec.ts
Due: none

fix: eliminate LLMAuditLogger shutdown noise in tests
  apps/zerg/backend/tests/conftest.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/services/llm_audit.py
  docs/work/handoff-2026-01-16.md
Due: none

feat: show worker commands and clarify ssh fallback
  .dockerignore
  apps/zerg/backend/zerg/prompts/composer.py
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/frontend-web/src/jarvis/app/components/WorkerProgress.tsx
  apps/zerg/frontend-web/src/jarvis/app/components/WorkerToolCard.css
  apps/zerg/frontend-web/src/jarvis/app/components/WorkerToolCard.tsx
  apps/zerg/frontend-web/src/jarvis/lib/tool-display.ts
  apps/zerg/frontend-web/src/jarvis/styles/worker-progress.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

test: harden core journey chat requests
  apps/zerg/e2e/tests/core/core-journey.spec.ts
Due: none

fix: mount user config volume in prod container
  apps/zerg/backend/zerg/services/auto_seed.py
  apps/zerg/e2e/tests/core/core-journey.spec.ts
  apps/zerg/frontend-web/src/jarvis/app/components/WorkerToolCard.css
  apps/zerg/frontend-web/src/jarvis/app/components/WorkerToolCard.tsx
  apps/zerg/frontend-web/src/jarvis/lib/supervisor-tool-store.ts
  apps/zerg/frontend-web/src/jarvis/lib/tool-display.ts
  docker/docker-compose.prod.yml
  scripts/deploy-prod.sh
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/
