Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

add hosted loop debug helper
  .agents/skills/zerg-hosted-debug/SKILL.md
  AGENTS.md
  scripts/hosted-loop-debug.sh
Due: none

control-plane: harden stripe webhook mode handling
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/routers/webhooks.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

tests: create agent tables in oikos web fixtures
  apps/zerg/backend/tests_lite/test_oikos_surface_history.py
  apps/zerg/backend/tests_lite/test_oikos_web_conversations.py
Due: none

hosted debug: add json output and data path
  .agents/skills/zerg-hosted-debug/SKILL.md
  Makefile
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/control_plane/schemas.py
  apps/control-plane/tests/test_provisioning_flow.py
  scripts/hosted-loop-debug.sh
  scripts/lib/hosted-instance.sh
  scripts/tests/hosted-instance-auth.test.sh
  scripts/tests/hosted-loop-debug.test.sh
Due: none

tasking: archive completed thread projection
  TODO.md
  docs/tasks/done/2026-03/thread-projection.md
  docs/tasks/open/thread-projection.md
Due: none

hosted debug: add json output and data path
  .agents/skills/zerg-hosted-debug/SKILL.md
  Makefile
  scripts/hosted-loop-debug.sh
  scripts/lib/hosted-instance.sh
  scripts/tests/hosted-instance-auth.test.sh
  scripts/tests/hosted-loop-debug.test.sh
Due: none

Add frontend effect cleanup spec and task
  TODO.md
  docs/specs/frontend-effect-boundary-cleanup.md
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: none

Add frontend effect-boundary slice 1
  apps/zerg/frontend-web/eslint.config.js
  apps/zerg/frontend-web/src/components/KnowledgeSearchPanel.tsx
  apps/zerg/frontend-web/src/components/Layout.tsx
  apps/zerg/frontend-web/src/components/RecallPanel.tsx
  apps/zerg/frontend-web/src/components/SessionPickerModal.tsx
  apps/zerg/frontend-web/src/hooks/useDebouncedValue.ts
  apps/zerg/frontend-web/src/hooks/usePageMeta.ts
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/lib/readiness-contract.ts
  apps/zerg/frontend-web/src/lib/usePerformance.tsx
  apps/zerg/frontend-web/src/oikos/app/App.tsx
  apps/zerg/frontend-web/src/pages/AdminPage.tsx
  apps/zerg/frontend-web/src/pages/AutomationsPage.tsx
  apps/zerg/frontend-web/src/pages/ChangelogPage.tsx
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/ContactsPage.tsx
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/DevicesPage.tsx
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  apps/zerg/frontend-web/src/pages/IntegrationsPage.tsx
  apps/zerg/frontend-web/src/pages/KnowledgeSourcesPage.tsx
  apps/zerg/frontend-web/src/pages/PricingPage.tsx
  apps/zerg/frontend-web/src/pages/PrivacyPage.tsx
  apps/zerg/frontend-web/src/pages/ProfilePage.tsx
  apps/zerg/frontend-web/src/pages/ReliabilityPage.tsx
  apps/zerg/frontend-web/src/pages/RunnersPage.tsx
  apps/zerg/frontend-web/src/pages/SecurityPage.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/pages/SettingsPage.tsx
  apps/zerg/frontend-web/src/pages/TraceExplorerPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

Add hosted loop auth regression coverage
  apps/control-plane/Dockerfile
  apps/control-plane/control_plane/routers/auth.py
  apps/control-plane/control_plane/routers/ui.py
  apps/control-plane/longhouse_shared/__init__.py
  apps/control-plane/longhouse_shared/redirects.py
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  docker/runtime.dockerfile
  scripts/lib/hosted-instance.sh
  scripts/tests/hosted-instance-auth.test.sh
Due: python-vulture

Add hosted loop auth regression coverage
  apps/zerg/backend/zerg/routers/auth_sso.py
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  docker/runtime.dockerfile
  scripts/lib/hosted-instance.sh
  scripts/tests/hosted-instance-auth.test.sh
Due: python-vulture

Fix runtime image shared redirect packaging
  docker/runtime.dockerfile
Due: none

add loop to app navigation
  apps/zerg/frontend-web/src/components/navigation/navItems.test.ts
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
Due: typescript-typecheck, frontend-lint

spec loop nav discovery and web push
  docs/specs/mobile-loop-inbox.md
  docs/tasks/open/mobile-loop-inbox.md
Due: none

add loop pwa web push backend
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/tests_lite/test_loop_push.py
  apps/zerg/backend/tests_lite/test_oikos_loop_push_router.py
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/uv.lock
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/__init__.py
  apps/zerg/backend/zerg/models/loop_push_subscription.py
  apps/zerg/backend/zerg/routers/oikos_runs.py
  apps/zerg/backend/zerg/services/loop_push.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

add loop pwa push notifications
  apps/zerg/frontend-web/public/loop-sw.js
  apps/zerg/frontend-web/src/hooks/useLoopPushNotifications.ts
  apps/zerg/frontend-web/src/pages/LoopInboxPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/LoopInboxPage.test.tsx
  apps/zerg/frontend-web/src/services/api/oikos.ts
  apps/zerg/frontend-web/src/styles/loop-inbox.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

tests: make tiktoken hermetic
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/tests_lite/test_session_processing.py
  apps/zerg/backend/zerg/_tiktoken_cache/9b5ad71b2ce5302211f9c61530b329a4922fc6a4
  apps/zerg/backend/zerg/services/session_processing/tokens.py
Due: python-vulture

tests: bootstrap hosted sso auth env
  apps/zerg/backend/tests_lite/test_sso_keys.py
Due: none

tests: pin lite auth env before collection
  apps/zerg/backend/run_backend_tests_lite.sh
Due: none

backend: reuse hermetic token loader
  apps/zerg/backend/zerg/shared/tokens.py
Due: python-vulture

oikos: tolerate missing review tables
  apps/zerg/backend/zerg/services/oikos_wakeup_ledger.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
Due: python-vulture

Derive auth state from current-user query
  apps/zerg/frontend-web/src/lib/auth.tsx
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/ProfilePage.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint

tighten loop push delivery guards
  apps/zerg/backend/tests_lite/test_session_turn_reviews.py
  apps/zerg/backend/zerg/services/session_turn_reviews.py
  apps/zerg/frontend-web/public/loop-sw.js
  apps/zerg/frontend-web/src/hooks/__tests__/useLoopPushNotifications.test.tsx
  apps/zerg/frontend-web/src/hooks/useLoopPushNotifications.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Make ChatPage route-owned
  apps/zerg/frontend-web/src/pages/ChatPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ChatPage.test.tsx
  docs/tasks/open/frontend-effect-boundary-cleanup.md
Due: typescript-typecheck, frontend-lint
