Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

fix+feat: Codex review fixes + summary ID cursor
  TODO.md
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/ingest_task_queue.py
Due: python-vulture

fix(embeddings): reset needs_embedding on new event ingest
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

feat: Forum bucket actions — Park, Snooze, Archive, Resume
  apps/zerg/backend/tests_lite/test_session_actions.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/frontend-web/src/pages/ForumPage.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/forum.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

chore(todo): update status — bucket actions done, embedding cursor done, Forum complete
  TODO.md
Due: none

fix(outbox): post_json error_for_status + E2E API verification + comment
  apps/engine/src/shipping/client.rs
  apps/zerg/backend/zerg/services/shipper/hooks.py
  scripts/test-hooks-e2e.sh
Due: python-vulture

feat: README Test CI — readme-test blocks + extractor + workflow
  .github/workflows/readme-tests.yml
  Makefile
  README.md
  apps/runner/README.md
  packages/hatch-agent/README.md
  scripts/run-readme-tests.py
Due: none

chore(todo): README Test CI done, update priority order
  TODO.md
Due: none

fix: URL-encode project in SessionStart hook + presence join tests + status shadowing
  apps/zerg/backend/tests_lite/test_forum_filtering.py
  apps/zerg/backend/tests_lite/test_presence_join_sqlite.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/shipper/hooks.py
Due: python-vulture

fix(forum): snooze filtering, filter-before-limit, auto-resume, canvas parity, timezone
  apps/zerg/backend/zerg/routers/presence.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/frontend-web/src/forum/session-mapper.ts
Due: typescript-typecheck, frontend-lint, python-vulture

fix(forum): normalize ended_at to UTC before duration arithmetic
  apps/zerg/backend/tests_lite/test_forum_filtering.py
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

feat(ui): wire semantic Smart mode, Recall panel, Briefings page
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  apps/zerg/frontend-web/src/components/RecallPanel.tsx
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/pages/BriefingsPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

feat(search): add hybrid RRF search, ranking modes, ingest health, token rollup
  apps/zerg/backend/tests_lite/test_hybrid_search.py
  apps/zerg/backend/tests_lite/test_ingest_health.py
  apps/zerg/backend/tests_lite/test_search_ranking.py
  apps/zerg/backend/tests_lite/test_usage_stats.py
  apps/zerg/backend/zerg/jobs/ingest_health.py
  apps/zerg/backend/zerg/jobs/token_rollup.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/search.py
Due: python-vulture

fix(tests): update secrets-guard assertions to be job-specific
  apps/zerg/backend/tests_lite/test_job_secrets_guard.py
Due: none

security: remove hardcoded Fernet key fallback from CI script
  apps/zerg/backend/run_backend_tests_lite.sh
Due: none

feat: SSH key injection for Longhouse instances via entrypoint
  apps/control-plane/control_plane/config.py
  apps/control-plane/control_plane/services/provisioner.py
  docker/entrypoint.sh
  docker/runtime.dockerfile
Due: none

feat: SSH key injection for Longhouse instances via entrypoint
  docker/entrypoint.sh
  docker/runtime.dockerfile
Due: none

refactor(usage-stats): drop rollup table, query sessions directly
  apps/zerg/backend/tests_lite/test_usage_stats.py
  apps/zerg/backend/zerg/jobs/token_rollup.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

refactor(styles): split sessions.css into three focused files
  apps/zerg/frontend-web/src/components/RecallPanel.tsx
  apps/zerg/frontend-web/src/pages/BriefingsPage.tsx
  apps/zerg/frontend-web/src/styles/briefings.css
  apps/zerg/frontend-web/src/styles/recall-panel.css
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

cleanup: remove redundant Rust tests + fix schema auto-migration
  apps/engine/src/outbox.rs
  apps/zerg/backend/zerg/database.py
Due: python-vulture

docs: clarify schema migration workflow + last_activity_at computed field
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
Due: python-vulture

docs(agents): add schema migration rule — new columns need _migrate_agents_columns()
  AGENTS.md
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
