Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

fix(models): remove agent-execution use cases from hosted profile, update Bedrock default
  config/models.json
  packages/hatch-agent/src/hatch/backends.py
Due: none

fix(summarize): remove extra_body metadata from Groq calls, re-raise on failure
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/session_processing/summarize.py
Due: python-vulture

chore: add commis model selection tech debt to TODO
  TODO.md
Due: none

feat(hatch): add --automation flag to hide sessions from Longhouse timeline
  packages/hatch-agent/src/hatch/cli.py
Due: none

fix: remove extra_body metadata from all direct provider LLM calls
  apps/zerg/backend/tests_lite/test_cloud_executor_model_selection.py
  apps/zerg/backend/zerg/routers/capabilities.py
  apps/zerg/backend/zerg/services/llm_decider.py
  apps/zerg/backend/zerg/services/memory_embeddings.py
  apps/zerg/backend/zerg/services/memory_summarizer.py
  apps/zerg/backend/zerg/services/openai_client.py
  apps/zerg/backend/zerg/services/reflection/judge.py
  apps/zerg/backend/zerg/services/session_processing/embeddings.py
  apps/zerg/backend/zerg/voice/stt_service.py
  apps/zerg/backend/zerg/voice/tts_service.py
Due: python-vulture

commis: remove implicit model defaults for hatch runs
  TODO.md
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/models_config.py
  apps/zerg/backend/zerg/services/cloud_executor.py
  apps/zerg/backend/zerg/services/commis_job_processor.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/tools/builtin/oikos_tools.py
Due: python-vulture

docs(agents): correct LiteLLM proxy invariant — instances call providers directly
  AGENTS.md
Due: none

todo: mark commis model-default task completed
  TODO.md
Due: none

Add resume E2E coverage and improve Oikos quota error UX
  TODO.md
  VISION.md
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
Due: typescript-typecheck, frontend-lint

feat(sessions): hide autonomous/empty sessions by default, add toggle
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Design and ship first-principles Oikos quota UI
  TODO.md
  apps/zerg/frontend-web/src/oikos/app/App.tsx
  apps/zerg/frontend-web/src/oikos/app/components/QuotaPanel.tsx
  apps/zerg/frontend-web/src/oikos/app/components/TextInput.tsx
  apps/zerg/frontend-web/src/oikos/app/components/index.ts
  apps/zerg/frontend-web/src/oikos/app/lib/usage.ts
  apps/zerg/frontend-web/src/oikos/styles/layout.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

frontend: make PageShell scrollable across full viewport
  apps/zerg/frontend-web/src/components/ui/PageShell.tsx
  apps/zerg/frontend-web/src/styles/page-shell.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Add modular quota UI state and composer helper messaging
  apps/zerg/frontend-web/src/oikos/app/App.tsx
  apps/zerg/frontend-web/src/oikos/app/components/QuotaPanel.tsx
  apps/zerg/frontend-web/src/oikos/app/components/TextInput.tsx
  apps/zerg/frontend-web/src/oikos/app/lib/quota-ui.ts
  apps/zerg/frontend-web/src/oikos/styles/layout.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

timeline: make session detail controls sticky while scrolling
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

layout: improve touch and overscroll behavior in page shell
  apps/zerg/frontend-web/src/styles/page-shell.css
Due: css-rgba-validate

e2e: cover gutter wheel scrolling on session timeline
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

timeline: cap event line length on wide session detail views
  apps/zerg/frontend-web/src/styles/sessions.css
Due: css-rgba-validate

timeline: add subtle scroll-anywhere hint for long sessions
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

refactor(agents): delete _generate_summary_background dead code
  apps/zerg/backend/tests_lite/test_session_briefing_e2e.py
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

feat(agents): date fallback title for sessions with no project/branch
  apps/zerg/backend/tests_lite/test_structured_title_fallback.py
  apps/zerg/backend/zerg/routers/agents.py
Due: python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
