Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Compact session workspace transcript chrome
  TODO.md
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Make session continuation inline
  TODO.md
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/e2e/tests/live/session-continuation-lineage.spec.ts
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/session-chat.css
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

phase 0: spec oikos conversations email
  TODO.md
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: none

phase 1: add conversation foundation and read apis
  apps/zerg/backend/tests_lite/test_conversation_service.py
  apps/zerg/backend/tests_lite/test_conversations_router.py
  apps/zerg/backend/tests_lite/test_oikos_conversations.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/models/__init__.py
  apps/zerg/backend/zerg/models/conversation.py
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/routers/conversations.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_conversations.py
  apps/zerg/backend/zerg/schemas/conversation_schemas.py
  apps/zerg/backend/zerg/services/conversation_service.py
  docs/tasks/oikos-conversations-email.md
Due: python-vulture

phase 2: add email conversation ingest groundwork
  TODO.md
  apps/zerg/backend/tests_lite/test_email_conversation_ingest.py
  apps/zerg/backend/zerg/services/conversation_archive.py
  apps/zerg/backend/zerg/services/email_conversation_ingest.py
  docs/tasks/oikos-conversations-email.md
Due: python-vulture

phase 3: ingest gmail conversations from connector history
  TODO.md
  apps/zerg/backend/tests_lite/test_email_conversation_ingest.py
  apps/zerg/backend/tests_lite/test_gmail_provider_conversations.py
  apps/zerg/backend/zerg/email/providers.py
  apps/zerg/backend/zerg/services/email_conversation_ingest.py
  apps/zerg/backend/zerg/services/gmail_api.py
  docs/tasks/oikos-conversations-email.md
Due: python-vulture

phase 4: add oikos conversation search tools
  TODO.md
  apps/zerg/backend/tests_lite/test_conversation_tools.py
  apps/zerg/backend/zerg/tools/builtin/__init__.py
  apps/zerg/backend/zerg/tools/builtin/conversation_tools.py
  apps/zerg/backend/zerg/tools/builtin/oikos_tools.py
Due: python-vulture

phase 5: refresh conversations email spec
  docs/specs/oikos-conversations-email.md
Due: none

phase 6: spec conversation reply and inbox slices
  TODO.md
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: none

phase 7: add canonical email reply pipeline
  apps/zerg/backend/tests_lite/test_conversation_reply_service.py
  apps/zerg/backend/tests_lite/test_conversation_tools.py
  apps/zerg/backend/tests_lite/test_conversations_router.py
  apps/zerg/backend/tests_lite/test_gmail_provider_conversations.py
  apps/zerg/backend/zerg/email/providers.py
  apps/zerg/backend/zerg/routers/conversations.py
  apps/zerg/backend/zerg/schemas/conversation_schemas.py
  apps/zerg/backend/zerg/services/conversation_reply_service.py
  apps/zerg/backend/zerg/services/email_conversation_ingest.py
  apps/zerg/backend/zerg/services/gmail_api.py
  apps/zerg/backend/zerg/tools/builtin/conversation_tools.py
Due: python-vulture

phase 8: add canonical inbox page
  apps/zerg/backend/tests_lite/test_conversations_router.py
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
  apps/zerg/frontend-web/src/pages/ConversationsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/ConversationsPage.test.tsx
  apps/zerg/frontend-web/src/routes/App.tsx
  apps/zerg/frontend-web/src/services/api/conversations.ts
  apps/zerg/frontend-web/src/services/api/index.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/styles/conversations.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

phase 9: sync conversations rollout docs
  AGENTS.md
  TODO.md
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: none

phase 10: add hosted conversations smoke
  Makefile
  apps/zerg/e2e/tests/live/conversations-live.spec.ts
Due: none

Fix Gmail Pub/Sub webhook cursor handling
  TODO.md
  apps/zerg/backend/tests_lite/test_gmail_pubsub_webhook.py
  apps/zerg/backend/zerg/routers/email_webhooks_pubsub.py
Due: python-vulture

docs: formalize conversation migration phases
  TODO.md
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: none

feat: bootstrap canonical web oikos conversations
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_web_conversations.py
  apps/zerg/backend/zerg/routers/oikos_config.py
  apps/zerg/backend/zerg/routers/oikos_conversations.py
  apps/zerg/backend/zerg/services/conversation_service.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: typescript-typecheck, frontend-lint, python-vulture

remove file reservations from longhouse
  AGENTS.md
  VISION.md
  apps/zerg/backend/tests_lite/test_db_migrations.py
  apps/zerg/backend/tests_lite/test_embeddings.py
  apps/zerg/backend/tests_lite/test_insights.py
  apps/zerg/backend/tests_lite/test_reservations.py
  apps/zerg/backend/tests_lite/test_semantic_search.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/mcp_server/api_client.py
  apps/zerg/backend/zerg/mcp_server/server.py
  apps/zerg/backend/zerg/models/__init__.py
  apps/zerg/backend/zerg/models/work.py
  apps/zerg/backend/zerg/routers/reservations.py
  apps/zerg/backend/zerg/services/tenant_db_guid_repair.py
  apps/zerg/frontend-web/src/generated/openapi-types.ts
Due: typescript-typecheck, frontend-lint, python-vulture

feat: read web oikos history from conversations
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_web_conversations.py
  apps/zerg/backend/zerg/routers/oikos_config.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/lib/__tests__/oikos-chat-controller.test.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: typescript-typecheck, frontend-lint, python-vulture

feat: persist telegram conversations by topic
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_web_conversations.py
  apps/zerg/backend/tests_lite/test_surface_orchestrator_multi_surface.py
  apps/zerg/backend/tests_lite/test_telegram_surface_adapter.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
  apps/zerg/backend/zerg/surfaces/adapters/telegram.py
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: python-vulture

feat: retire oikos history from first-party chat
  TODO.md
  apps/zerg/backend/tests_lite/test_conversations_router.py
  apps/zerg/backend/tests_lite/test_oikos_web_conversations.py
  apps/zerg/backend/zerg/routers/conversations.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/routers/oikos_config.py
  apps/zerg/backend/zerg/routers/oikos_history.py
  apps/zerg/backend/zerg/services/conversation_service.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/e2e/tests/chat_debug_panel.spec.ts
  apps/zerg/e2e/tests/core/chat-surface-view.spec.ts
  apps/zerg/e2e/tests/fixtures.ts
  apps/zerg/e2e/tests/live/fixtures.ts
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/oikos/app/components/DebugPanel.tsx
  apps/zerg/frontend-web/src/oikos/lib/__tests__/oikos-chat-controller.test.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-chat-controller.ts
  docs/specs/oikos-conversations-email.md
  docs/tasks/oikos-conversations-email.md
Due: typescript-typecheck, frontend-lint, python-vulture

phase 0: spec longhouse tool surface tightening
  TODO.md
  docs/specs/longhouse-tool-surface-tightening.md
  docs/tasks/longhouse-tool-surface-tightening.md
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
