Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

feat(engine): add byte-range batch planner
  TODO.md
  apps/engine/src/pipeline/batcher.rs
  apps/engine/src/pipeline/mod.rs
Due: none

Add proactive Oikos principles spec
  TODO.md
  docs/specs/oikos-proactive-operator.md
Due: none

fix(engine): batch shipper payloads and replay exact ranges
  TODO.md
  apps/engine/src/config.rs
  apps/engine/src/daemon.rs
  apps/engine/src/main.rs
  apps/engine/src/outbox.rs
  apps/engine/src/shipper.rs
  apps/engine/src/state/spool.rs
Due: none

Track Oikos autonomy roadmap
  TODO.md
  docs/plans/oikos-autonomy-roadmap.md
Due: none

Add Oikos autonomy journey harness
  Makefile
  TODO.md
  apps/zerg/backend/tests_lite/fixtures/oikos_autonomy_journeys.yml
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
  docs/plans/oikos-autonomy-roadmap.md
Due: python-vulture

Refactor session detail into workspace panes
  TODO.md
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/components/session-workspace/EventInspectorPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/components/workspace/WorkspaceShell.tsx
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
  apps/zerg/frontend-web/src/lib/sessionWorkspace.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/styles/session-chat.css
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

fix(engine): dedupe pending spool gaps
  TODO.md
  apps/engine/src/main.rs
  apps/engine/src/shipper.rs
  apps/engine/src/state/db.rs
  apps/engine/src/state/spool.rs
Due: none

Make invoke_oikos surface-aware
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_invoke.py
  apps/zerg/backend/zerg/services/oikos_service.py
Due: python-vulture

Add runnable autonomy journey harness
  Makefile
  TODO.md
  apps/zerg/backend/scripts/run_oikos_autonomy_journeys.py
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
Due: python-vulture

Persist autonomy journey assertions
  TODO.md
  apps/zerg/backend/scripts/run_oikos_autonomy_journeys.py
  apps/zerg/backend/tests_lite/fixtures/oikos_autonomy_journeys.yml
  apps/zerg/backend/tests_lite/test_oikos_autonomy_journeys.py
  apps/zerg/backend/zerg/services/oikos_autonomy_journeys.py
Due: python-vulture

fix(e2e): harden live qa harness
  apps/zerg/e2e/tests/live/fixtures.ts
  apps/zerg/e2e/tests/live/qa-live.spec.ts
Due: none

Wake Oikos on presence pause states
  TODO.md
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/tests_lite/test_operator_surface_adapter.py
  apps/zerg/backend/zerg/routers/presence.py
  apps/zerg/backend/zerg/surfaces/adapters/__init__.py
  apps/zerg/backend/zerg/surfaces/adapters/operator.py
Due: python-vulture

Add operator sweep fallback job
  TODO.md
  apps/zerg/backend/tests_lite/test_jobs_registration_warnings.py
  apps/zerg/backend/tests_lite/test_oikos_operator_sweep.py
  apps/zerg/backend/zerg/jobs/oikos_operator_sweep.py
  apps/zerg/backend/zerg/jobs/registry.py
Due: python-vulture

phase 0: specify shipper and session detail follow-ups
  docs/specs/shipper-session-detail-followups.md
  docs/tasks/shipper-session-detail-followups.md
Due: none

phase 1: stabilize session detail qa hooks
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  docs/specs/shipper-session-detail-followups.md
  docs/tasks/shipper-session-detail-followups.md
Due: typescript-typecheck, frontend-lint

phase 2: make session detail load progressively
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  docs/specs/shipper-session-detail-followups.md
  docs/tasks/shipper-session-detail-followups.md
Due: typescript-typecheck, frontend-lint

phase 3: document qa live auth split
  apps/zerg/e2e/tests/live/fixtures.ts
  apps/zerg/e2e/tests/live/qa-live.spec.ts
  docs/specs/shipper-session-detail-followups.md
  docs/tasks/shipper-session-detail-followups.md
Due: none

phase 4: reduce engine warning noise
  apps/engine/src/bench.rs
  apps/engine/src/pipeline/batcher.rs
  apps/engine/src/pipeline/compressor.rs
  apps/engine/src/shipper.rs
  apps/engine/src/shipping/client.rs
  apps/engine/src/state/file_state.rs
  apps/engine/src/state/spool.rs
  apps/engine/src/watcher.rs
  docs/specs/shipper-session-detail-followups.md
  docs/tasks/shipper-session-detail-followups.md
Due: none

phase 5: surface dead letter counts
  apps/engine/src/heartbeat.rs
  apps/engine/src/main.rs
  apps/engine/src/state/spool.rs
  docs/specs/shipper-session-detail-followups.md
  docs/tasks/shipper-session-detail-followups.md
Due: none

Fix session workspace ship blockers
  apps/zerg/backend/zerg/routers/oikos_chat.py
  apps/zerg/backend/zerg/routers/stream.py
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/components/session-workspace/SessionContextPane.tsx
  apps/zerg/frontend-web/src/components/session-workspace/TimelinePane.tsx
  apps/zerg/frontend-web/src/hooks/useSessionWorkspace.ts
  apps/zerg/frontend-web/src/styles/session-workspace.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

fix(prod): drop stale oikos agents smoke check
  scripts/smoke-prod.sh
Due: none
