Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

fix: preserve blocked tool_name when Notification/permission_prompt overwrites PermissionRequest
  apps/zerg/backend/tests_lite/test_extended_presence_states.py
  apps/zerg/backend/zerg/routers/presence.py
Due: python-vulture

Simplify commis contract to spawn_workspace_commis only
  TODO.md
  apps/zerg/backend/docs/supervisor_tools.md
  apps/zerg/backend/evals/datasets/tool_selection.yml
  apps/zerg/backend/examples/supervisor_tools_demo.py
  apps/zerg/backend/scripts/debug_resume_llm_input.py
  apps/zerg/backend/scripts/debug_supervisor_spawn.py
  apps/zerg/backend/scripts/replay_run.py
  apps/zerg/backend/scripts/seed_oikos.py
  apps/zerg/backend/scripts/test_supervisor_live.py
  apps/zerg/backend/tests_lite/test_oikos_dispatch_contract.py
  apps/zerg/backend/tests_lite/test_oikos_prompt_contract.py
  apps/zerg/backend/tests_lite/test_spawn_workspace_commis_workspace_only.py
  apps/zerg/backend/zerg/generated/sse_events.py
  apps/zerg/backend/zerg/managers/fiche_runner.py
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/backend/zerg/routers/oikos.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/replay_service.py
  apps/zerg/backend/zerg/testing/mock_llm.py
  apps/zerg/backend/zerg/testing/scripted_llm.py
  apps/zerg/backend/zerg/tools/builtin/oikos_tools.py
  apps/zerg/backend/zerg/tools/generated/tool_definitions.py
  apps/zerg/backend/zerg/tools/tool_search.py
  apps/zerg/frontend-web/src/generated/sse-events.ts
  apps/zerg/frontend-web/src/oikos/app/components/ActivityStream.tsx
  apps/zerg/frontend-web/src/oikos/app/components/ChatContainer.tsx
  apps/zerg/frontend-web/src/oikos/app/components/CommisToolCard.tsx
  apps/zerg/frontend-web/src/oikos/app/components/ToolCard.tsx
  apps/zerg/frontend-web/src/oikos/app/components/__tests__/ChatContainer.timeline-order.test.tsx
  apps/zerg/frontend-web/src/oikos/app/components/__tests__/ToolCard.test.tsx
  apps/zerg/frontend-web/src/oikos/app/hooks/useOikosApp.ts
  apps/zerg/frontend-web/src/oikos/lib/__tests__/oikos-tool-store.test.ts
  apps/zerg/frontend-web/src/oikos/lib/oikos-tool-store.ts
  schemas/sse-events.asyncapi.yml
  schemas/tools.yml
Due: typescript-typecheck, frontend-lint, sse-contract-drift, python-vulture

chore: mark extended hook states done in TODO
  TODO.md
Due: none

feat: surface needs_user and blocked states in PresenceBadge UI
  apps/zerg/frontend-web/src/components/PresenceBadge.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
Due: typescript-typecheck, frontend-lint

Clean spec drift and add spawn alias guardrail
  TODO.md
  apps/zerg/backend/docs/specs/3a-deferred-research.md
  apps/zerg/backend/docs/specs/unified-memory-bridge.md
  apps/zerg/backend/tests_lite/test_oikos_prompt_contract.py
  apps/zerg/backend/zerg/events/oikos_emitter.py
  apps/zerg/backend/zerg/managers/message_builder.py
  apps/zerg/backend/zerg/models/commis_barrier.py
  apps/zerg/backend/zerg/routers/oikos_internal.py
  apps/zerg/backend/zerg/services/oikos_context.py
  apps/zerg/backend/zerg/tools/lazy_binder.py
Due: python-vulture

Split Oikos tool and context monolith modules
  TODO.md
  apps/zerg/backend/tests_lite/test_oikos_commis_context.py
  apps/zerg/backend/tests_lite/test_spawn_workspace_commis_workspace_only.py
  apps/zerg/backend/zerg/services/oikos_commis_context.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/backend/zerg/tools/builtin/oikos_commis_job_tools.py
  apps/zerg/backend/zerg/tools/builtin/oikos_tools.py
Due: python-vulture

Reconcile control-plane provisioning status on health
  TODO.md
Due: none

Reconcile control-plane provisioning status on health
  TODO.md
  apps/control-plane/control_plane/routers/instances.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

chore: mark simplification wave done in TODO
  TODO.md
Due: none

Harden Oikos dispatch contract and backend intent
  apps/zerg/backend/tests_lite/test_oikos_dispatch_backend_preference.py
  apps/zerg/backend/tests_lite/test_oikos_dispatch_contract.py
  apps/zerg/backend/tests_lite/test_oikos_prompt_contract.py
  apps/zerg/backend/zerg/prompts/templates.py
  apps/zerg/backend/zerg/services/oikos_react_engine.py
  apps/zerg/backend/zerg/services/oikos_service.py
Due: python-vulture

spec: define compaction and rewind fidelity tasks in TODO
  TODO.md
Due: none

shipper: ingest compaction metadata as system events
  TODO.md
  apps/engine/src/pipeline/compressor.rs
  apps/engine/src/pipeline/parser.rs
  apps/zerg/backend/tests_lite/test_shipper_parser_compaction.py
  apps/zerg/backend/zerg/services/shipper/parser.py
Due: python-vulture

agents: add forensic vs active-context event projection
  TODO.md
  apps/zerg/backend/tests_lite/test_session_events_context_mode.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

agents: anchor active-context boundaries and propagate context_mode
  TODO.md
  apps/zerg/backend/tests_lite/test_session_events_context_mode.py
  apps/zerg/backend/tests_lite/test_sessions_search_context_mode.py
  apps/zerg/backend/zerg/mcp_server/server.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/backend/zerg/services/search.py
Due: python-vulture

feat: Telegram ↔ Oikos bridge
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/vulture-whitelist.py
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
Due: python-vulture

fix: restore commis resume wiring and stabilize core e2e selectors
  apps/zerg/backend/zerg/routers/oikos_internal.py
  apps/zerg/backend/zerg/services/commis_job_processor.py
  apps/zerg/backend/zerg/services/oikos_service.py
  apps/zerg/e2e/tests/core/core-journey.spec.ts
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: python-vulture

feat: mark forensic events outside active context in timeline
  TODO.md
  apps/zerg/backend/tests_lite/test_session_events_active_context_flag.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

test: add compaction-only ingest and repeated-summary roundtrip coverage
  TODO.md
  apps/zerg/backend/tests_lite/test_ingest_session_counts.py
  apps/zerg/backend/tests_lite/test_source_line_roundtrip.py
Due: none

feat: add doctor guardrails for claude retention and ship hooks
  TODO.md
  apps/zerg/backend/tests_lite/test_doctor_shipper_retention.py
  apps/zerg/backend/zerg/cli/doctor.py
Due: python-vulture

chore: update compaction fidelity task status
  TODO.md
Due: none

fix(telegram): address Codex review findings
  apps/zerg/backend/tests_lite/test_telegram_bridge.py
  apps/zerg/backend/zerg/channels/plugins/telegram.py
  apps/zerg/backend/zerg/services/telegram_bridge.py
Due: python-vulture
