Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

fix(ci): add make to e2e-core job
  .github/workflows/contract-first-ci.yml
Due: none

fix(forum): address Codex review findings
  apps/zerg/frontend-web/src/forum/live-mapper.ts
  apps/zerg/frontend-web/src/forum/replay.ts
  apps/zerg/frontend-web/src/forum/useForumReplay.ts
  apps/zerg/frontend-web/src/pages/ForumPage.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Integrate skills into prompts and tool selection
  apps/zerg/backend/zerg/managers/agent_runner.py
  apps/zerg/backend/zerg/skills/integration.py
  apps/zerg/backend/zerg/skills/loader.py
  apps/zerg/backend/zerg/skills/registry.py
  docs/specs/skills-platform-v1.md
Due: none

debug(ci): add diagnostic output for e2e test discovery
  .github/workflows/contract-first-ci.yml
Due: none

docs: update oikos rename task log
  docs/work/2026-01-26-oikos-run-rename-task.md
Due: none

fix(ci): add DATABASE_URL check and secret reference for E2E tests
  .github/workflows/contract-first-ci.yml
Due: none

Add sauron-jobs dependencies to backend
  apps/zerg/backend/pyproject.toml
Due: none

Update uv.lock with sauron-jobs dependencies
  apps/zerg/backend/uv.lock
Due: none

Fix session picker SSE streaming
  AGENTS.md
  apps/zerg/backend/tests/test_session_picker_stream.py
  apps/zerg/backend/tests/test_supervisor_tools_integration.py
  apps/zerg/backend/zerg/routers/stream.py
  apps/zerg/backend/zerg/tools/builtin/supervisor_tools.py
Due: none

fix(ci): add database connectivity check and use Tailscale IP
  .github/workflows/contract-first-ci.yml
Due: none

feat(skills): add testing coverage and public documentation
  apps/zerg/backend/tests/tools/test_tool_integrity.py
  apps/zerg/backend/zerg/skills/bundled/quick-search/SKILL.md
  apps/zerg/backend/zerg/skills/integration.py
  apps/zerg/backend/zerg/skills/tests/test_skill_tools.py
  apps/zerg/e2e/tests/core/skills-api.spec.ts
  apps/zerg/e2e/tests/live/skills.spec.ts
  apps/zerg/frontend-web/src/components/icons.tsx
  apps/zerg/frontend-web/src/components/landing/IntegrationsSection.tsx
  apps/zerg/frontend-web/src/components/navigation/navItems.ts
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  apps/zerg/frontend-web/src/styles/landing.css
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

fix(frontend): add missing forum-map.css placeholder
  apps/zerg/frontend-web/src/styles/forum-map.css
Due: forbid-legacy-trigger-keys

debug(ci): add backend startup test to diagnose E2E failures
  .github/workflows/contract-first-ci.yml
Due: none

fix(frontend): rename public/docs to avoid nginx conflict
  apps/zerg/frontend-web/public/static-docs/external-jobs.html
Due: none

fix(ci): use per-commit concurrency groups for push events
  .github/workflows/contract-first-ci.yml
Due: none
