Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

typescript-typecheck:
  name: TypeScript type check
  entry: bash -c 'cd apps/zerg/frontend-web && bun run validate:types'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend lint
  entry: bash -c 'cd apps/zerg/frontend-web && bun run lint --max-warnings 100'
  language: system
  pass_filenames: false

ws-contract-drift:
  name: WebSocket contract drift check
  entry: make validate-ws
  language: system
  pass_filenames: false

sse-contract-drift:
  name: SSE contract drift check
  entry: make validate-sse
  language: system
  pass_filenames: false

asyncapi-validate:
  name: AsyncAPI spec validation
  entry: scripts/validate-asyncapi.sh
  language: system
  pass_filenames: false

css-rgba-validate:
  name: CSS rgba alpha validation
  entry: scripts/validate-rgba.sh
  language: system
  pass_filenames: false

python-vulture:
  name: Vulture - detect dead code
  entry: bash -c 'cd apps/zerg/backend && uv run --extra dev vulture zerg/ vulture-whitelist.py --min-confidence 80 --exclude "**/tests/**,**/test_*.py"'
  language: system
  pass_filenames: false

Make contract validation clean-clone safe
  Makefile
  apps/zerg/frontend-web/scripts/contract-validator.ts
Due: none

Fix visual compare clean-clone drift
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/reliability-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-chromium-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/traces-mobile-small-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/reliability-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/traces-chromium-darwin.png
  apps/zerg/e2e/tests/visual_compare.spec.ts
Due: none

Harden clean-clone test harness
  .github/workflows/ci-test.yml
  .github/workflows/contract-first-ci.yml
  Makefile
  apps/zerg/backend/evals/conftest.py
  apps/zerg/backend/hatch_build.py
  apps/zerg/backend/pyproject.toml
  apps/zerg/e2e/playwright.config.js
Due: none

Simplify visual baseline coverage
  apps/zerg/e2e/tests/helpers/page-list.ts
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/admin-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/chat-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/contacts-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/contacts-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-nav-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/dashboard-nav-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/integrations-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/integrations-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/knowledge-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/knowledge-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/profile-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/runners-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/runners-mobile-small-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-darwin.png
  apps/zerg/e2e/tests/mobile/ui_baseline_mobile.spec.ts-snapshots/settings-mobile-small-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/admin-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/chat-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/contacts-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/integrations-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/knowledge-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/profile-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/runners-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_app.spec.ts-snapshots/settings-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/changelog-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/docs-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/landing-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/pricing-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/privacy-chromium-darwin.png
  apps/zerg/e2e/tests/ui_baseline_public.spec.ts-snapshots/security-chromium-darwin.png
  apps/zerg/frontend-web/index.html
Due: none

Pin and simplify OpenAPI typegen
  Makefile
  apps/zerg/frontend-web/package.json
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  bun.lock
Due: typescript-typecheck, frontend-lint

Delete dead E2E helper drift
  apps/zerg/e2e/run_e2e_tests.sh
  apps/zerg/e2e/utils/test-helpers.ts
Due: none

Drop dead Make test aliases
  .agents/skills/zerg-testing/SKILL.md
  Makefile
Due: none

Remove dead backend test wrappers
  Makefile
Due: none

Preserve runner capabilities during re-enroll
  TODO.md
  apps/runner/scripts/install.sh
  apps/zerg/backend/tests_lite/test_runner_install_script.py
  apps/zerg/backend/zerg/routers/runners.py
  apps/zerg/backend/zerg/routers/templates/install.sh
  apps/zerg/backend/zerg/schemas/runner_schemas.py
  docs/specs/runner-connectivity-v1.md
Due: python-vulture

Delete dead test wrapper aliases
  Makefile
Due: none

Record live runner install validation progress
  TODO.md
  docs/specs/runner-connectivity-v1.md
Due: none

Remove secret-shaped OpenAPI bootstrap literals
  .env.example
  Makefile
  TODO.md
  apps/zerg/backend/scripts/export_openapi.py
  apps/zerg/backend/tests_lite/test_onboarding_sqlite.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/openapi_schema.py
  apps/zerg/frontend-web/scripts/contract-validator.ts
  apps/zerg/frontend-web/src/generated/openapi-types.ts
Due: typescript-typecheck, frontend-lint, python-vulture

Document dummy secret guardrail
  AGENTS.md
Due: none

feat: surface degraded scheduled job status
  apps/zerg/backend/tests_lite/test_job_result_status.py
  apps/zerg/backend/tests_lite/test_job_runs.py
  apps/zerg/backend/zerg/jobs/commis.py
  apps/zerg/backend/zerg/jobs/registry.py
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/routers/jobs.py
  apps/zerg/frontend-web/src/pages/JobsPage.tsx
  apps/zerg/frontend-web/src/pages/__tests__/JobsPage.test.tsx
Due: typescript-typecheck, frontend-lint, python-vulture

feat: load hosted control-plane auth from Infisical
  TODO.md
  scripts/lib/hosted-instance.sh
  scripts/lib/infisical.sh
  scripts/provision-e2e-live.sh
  scripts/smoke-prod.sh
  scripts/tests/hosted-instance-infisical.test.sh
Due: none

fix: harden hosted infisical auth helpers
  scripts/lib/hosted-instance.sh
  scripts/lib/infisical.sh
  scripts/smoke-prod.sh
  scripts/tests/hosted-instance-infisical.test.sh
Due: none

Persist degraded direct job runs
  TODO.md
  apps/zerg/backend/tests_lite/test_job_result_status.py
  apps/zerg/backend/zerg/jobs/registry.py
Due: python-vulture

Add disposable cube VM runner canary
  .github/workflows/runner-onboarding-validation.yml
  Makefile
  TODO.md
  docs/specs/runner-connectivity-v1.md
  scripts/runner-vm-canary-host.sh
  scripts/runner-vm-canary.sh
Due: none

refactor: keep hosted ops auth provider agnostic
  AGENTS.md
  TODO.md
  scripts/lib/hosted-instance.sh
  scripts/lib/infisical.sh
  scripts/provision-e2e-live.sh
  scripts/smoke-prod.sh
  scripts/tests/hosted-instance-auth.test.sh
  scripts/tests/hosted-instance-infisical.test.sh
Due: none

Prove exec.full in cube VM canary
  TODO.md
  docs/specs/runner-connectivity-v1.md
  scripts/runner-vm-canary-host.sh
  scripts/runner-vm-canary.sh
Due: none

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/
