Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

runner: cut 0.1.5 canary release
  TODO.md
  apps/runner/package.json
  apps/runner/src/__tests__/update.test.ts
  apps/runner/src/version.ts
  apps/zerg/backend/tests_lite/test_runner_doctor.py
  apps/zerg/backend/zerg/config/__init__.py
Due: python-vulture

runner: auto-load envfile for update commands
  apps/runner/src/__tests__/update.test.ts
  apps/runner/src/update.ts
Due: none

runner: bump auto-update release to 0.1.6
  apps/runner/package.json
  apps/runner/src/version.ts
Due: none

docs: close runner auto-update canary proof
  TODO.md
Due: none

fix: restore machine insight queries
  TODO.md
  apps/zerg/backend/tests_lite/test_browser_machine_auth_boundary.py
  apps/zerg/backend/tests_lite/test_longhouse_mcp_server.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/mcp_server/server.py
  apps/zerg/backend/zerg/routers/insights.py
Due: python-vulture

chore: pause automatic reflection by default
  AGENTS.md
  TODO.md
  apps/zerg/backend/tests_lite/test_reflection_job.py
  apps/zerg/backend/zerg/jobs/reflection.py
  apps/zerg/frontend-web/src/pages/ProposalsPage.tsx
  apps/zerg/frontend-web/src/services/api/proposals.ts
Due: typescript-typecheck, frontend-lint, python-vulture

docs: capture insights tightening plan
  TODO.md
  docs/specs/insights-tightening.md
Due: none

backend: track runner 0.1.6 release
  apps/zerg/backend/tests_lite/test_runner_doctor.py
  apps/zerg/backend/zerg/config/__init__.py
Due: python-vulture

runner: detect managed layout from filesystem
  apps/runner/src/__tests__/doctor.test.ts
  apps/runner/src/__tests__/protocol.test.ts
  apps/runner/src/__tests__/update.test.ts
  apps/runner/src/doctor.ts
  apps/runner/src/update.ts
Due: none

runner: bump auto-update release to 0.1.7
  apps/runner/package.json
  apps/runner/src/version.ts
Due: none

backend: track runner 0.1.7 release
  apps/zerg/backend/tests_lite/test_runner_doctor.py
  apps/zerg/backend/zerg/config/__init__.py
Due: python-vulture

docs: record insights rollout cleanup
  TODO.md
Due: none

build: make live QA install JS deps
  Makefile
Due: none

docs: refresh runner rollout status
  TODO.md
Due: none

fix: align install smoke with device auth
  apps/zerg/backend/tests_lite/test_onboard_cli_auth.py
  apps/zerg/backend/zerg/cli/onboard.py
  scripts/ci/installer-first-run.sh
Due: python-vulture

fix: refresh source installer builds
  scripts/ci/installer-first-run.sh
  scripts/install.sh
Due: none

build: release longhouse 0.1.3
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/uv.lock
Due: none

build: release longhouse 0.1.4
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/uv.lock
Due: none

fix: install from latest release wheel
  .github/workflows/publish.yml
  scripts/install.sh
Due: none

fix: drop dead hatch-agent packaging dependency
  .github/workflows/contract-first-ci.yml
  TODO.md
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/tests_lite/test_models_config_packaging.py
  apps/zerg/backend/uv.lock
  apps/zerg/backend/zerg/libs/agent_runner/__init__.py
Due: python-vulture

build: release longhouse 0.1.5
  apps/zerg/backend/pyproject.toml
  apps/zerg/backend/uv.lock
Due: none
