Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

Spec session continuation lineage
  TODO.md
  docs/specs/session-continuation-lineage.md
Due: none

Add session continuation lineage model
  apps/zerg/backend/tests_lite/test_session_continuation_lineage.py
  apps/zerg/backend/zerg/database.py
  apps/zerg/backend/zerg/models/agents.py
  apps/zerg/backend/zerg/services/agents_store.py
Due: python-vulture

Make cloud session continuation explicit
  apps/zerg/backend/tests_lite/test_session_continuation_lineage.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/backend/zerg/services/session_continuity.py
Due: python-vulture

Make timeline thread-centric
  apps/zerg/backend/tests_lite/test_summary_api.py
  apps/zerg/backend/zerg/routers/agents.py
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/hooks/useAgentSessions.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/services/api/agents.ts
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate, python-vulture

Fix session response serialization test
  apps/zerg/backend/tests_lite/test_utc_serialization.py
Due: none

Stabilize continuation timeline E2E
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

Add live continuation lineage proof
  TODO.md
  apps/zerg/e2e/tests/live/session-continuation-lineage.spec.ts
Due: none

fix: make builtin-only jobs startup explicit
  apps/zerg/backend/tests_lite/test_jobs_registration_warnings.py
  apps/zerg/backend/zerg/jobs/registry.py
  apps/zerg/backend/zerg/main.py
Due: python-vulture

refactor: remove stale in-repo sauron copy
  AGENTS.md
  TODO.md
Due: none

refactor: remove stale in-repo sauron copy
  AGENTS.md
  TODO.md
  apps/sauron/Dockerfile
  apps/sauron/entrypoint.sh
  apps/sauron/pyproject.toml
  apps/sauron/sauron/__init__.py
  apps/sauron/sauron/api.py
  apps/sauron/sauron/cli.py
  apps/sauron/sauron/config.py
  apps/sauron/sauron/job_definitions.py
  apps/sauron/sauron/main.py
  apps/sauron/tests/__init__.py
  apps/sauron/tests/test_api_sync.py
  apps/sauron/tests/test_sync.py
  apps/sauron/uv.lock
Due: none

docs: capture reprovision conflict gotcha
  AGENTS.md
Due: none

fix: stop hosted continuation self-fetch
  TODO.md
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/commis_job_processor.py
  apps/zerg/backend/zerg/services/session_continuity.py
Due: python-vulture

test: stabilize sessions gutter scroll assertion
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: none

test: cover first cloud continuation send
  TODO.md
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/e2e/spawn-test-backend.js
  apps/zerg/e2e/tests/core/sessions.spec.ts
Due: python-vulture

Make session chat backend configurable
  AGENTS.md
  TODO.md
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
  apps/zerg/backend/zerg/routers/session_chat.py
Due: python-vulture

docs: clarify longhouse and sauron boundaries
  VISION.md
  apps/zerg/backend/zerg/jobs/__init__.py
  apps/zerg/backend/zerg/shared/__init__.py
  apps/zerg/backend/zerg/shared/email.py
  apps/zerg/backend/zerg/shared/ssh.py
Due: python-vulture

Add Anthropic session chat runtime
  apps/zerg/backend/scripts/ship_claude_session.py
  apps/zerg/backend/tests_lite/test_session_resume_prep.py
  apps/zerg/backend/zerg/routers/session_chat.py
  apps/zerg/backend/zerg/services/session_continuity.py
Due: python-vulture

Fix continuation SSE completion handling
  apps/zerg/frontend-web/src/components/SessionChat.tsx
  apps/zerg/frontend-web/src/lib/__tests__/sessionChatSse.test.ts
  apps/zerg/frontend-web/src/lib/sessionChatSse.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
Due: typescript-typecheck, frontend-lint

Add Anthropic continuation smoke
  .github/workflows/continuation-provider-smoke.yml
  AGENTS.md
  Makefile
  TODO.md
  apps/zerg/e2e/scripts/provider-continuation-smoke.mjs
Due: none

Refine continuation smoke artifacts
  apps/zerg/e2e/scripts/provider-continuation-smoke.mjs
Due: none

Add continuation smoke proof summary
  .github/workflows/continuation-provider-smoke.yml
  Makefile
Due: none

Fix continuation smoke runner temp env
  .github/workflows/continuation-provider-smoke.yml
Due: none
