Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, forbid-legacy-trigger-keys

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  forbid-legacy-trigger-keys: any of: ^apps/zerg/frontend-web/src/

chore: update GitHub URLs after repo rename to longhouse
  README.md
  apps/zerg/backend/zerg/services/demo_sessions.py
  apps/zerg/frontend-web/public/static-docs/external-jobs.html
  apps/zerg/frontend-web/src/components/landing/FooterCTA.tsx
  apps/zerg/frontend-web/src/pages/ChangelogPage.tsx
  apps/zerg/frontend-web/src/pages/DocsPage.tsx
  package.json
  scripts/install.sh
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Rank IDEAS list best to worst
  IDEAS.md
Due: none

ci: add PyPI publish workflow with trusted publishing
  .github/workflows/publish.yml
Due: none

Consolidate SQLite pivot docs into VISION
  AGENTS.md
  TODO.md
  VISION.md
  apps/zerg/backend/zerg/main.py
  apps/zerg/e2e/test-setup.js
  docs/HANDOFF-LITE-PIVOT.md
  docs/LIGHTWEIGHT-OSS-ONBOARDING.md
Due: none

ci: build frontend before PyPI publish
  .github/workflows/publish.yml
Due: none

ci: build wheel only (skip sdist)
  .github/workflows/publish.yml
Due: none

fix: remove unpublished hatch-agent dependency
  apps/zerg/backend/pyproject.toml
Due: none

fix: add archive/legacy patterns to gitignore
  .gitignore
Due: none

chore: use PyPI for install (now published)
  scripts/install.sh
Due: none

ci: add cross-platform installer test matrix
  .github/workflows/test-install.yml
Due: none

chore: bump CSS bundle limit for install section styles
  apps/zerg/frontend-web/.size-limit.json
Due: none

Consolidate scattered docs into VISION
  TODO.md
  VISION.md
  docs/BRANDING.md
  docs/prompt-cache-plan.md
  docs/public-launch-task.md
  docs/session-resume-design.md
  experiments/shipper-manual-validation.md
  ideas/evidence/13_evidence_life_hub_doc_resume.sh
Due: none

docs: simplify README to one-liner install
  README.md
  apps/zerg/frontend-web/src/components/landing/InstallSection.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

Remove remaining docs and stale references
  VISION.md
  apps/zerg/backend/README.md
  apps/zerg/backend/evals/README.md
  apps/zerg/backend/tests/test_durable_runs.py
  apps/zerg/backend/tests/test_master_worker_flow_integration.py
  apps/zerg/backend/tests/test_supervisor_service.py
  apps/zerg/backend/zerg/services/evidence_compiler.py
  apps/zerg/backend/zerg/services/evidence_mounting_llm.py
  apps/zerg/backend/zerg/tools/mcp_adapter.py
  apps/zerg/e2e/tests/helpers/api-client.ts
  apps/zerg/frontend-web/public/static-docs/external-jobs.html
  docs/HANDOFF-LITE-PIVOT.md
  scripts/add_doc_banners.py
  scripts/diagnose-coolify-ssh.sh
  scripts/fix-coolify-ssh.sh
  scripts/update_doc_paths.py
  scripts/update_doc_paths_v2.py
  scripts/validate-setup.sh
Due: none

fix: use raw GitHub URL for install script
  apps/zerg/frontend-web/src/components/landing/InstallSection.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

chore: use get.longhouse.ai vanity URL for installer
  apps/zerg/frontend-web/src/components/landing/InstallSection.tsx
Due: typescript-typecheck, frontend-lint, forbid-legacy-trigger-keys

docs: mark OSS installer complete, add first-run UX polish tasks
  TODO.md
Due: none

fix: darken install command box on landing page
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

fix: make install-command button transparent
  apps/zerg/frontend-web/src/styles/landing.css
Due: forbid-legacy-trigger-keys

Remove internal READMEs
  TODO.md
  apps/zerg/backend/README.md
  apps/zerg/backend/evals/README.md
  apps/zerg/backend/tests/README.md
  apps/zerg/backend/tests_lite/README.md
  apps/zerg/backend/zerg/jobs/qa/README.md
  apps/zerg/e2e/README.md
  apps/zerg/frontend-web/src/oikos/lib/README.md
  config/claude-hooks/README.md
  experiments/session-resume-lab/README.md
  patrol/README.md
  scripts/mcp_test_runner/README.md
Due: forbid-legacy-trigger-keys

Trim README files
  README.md
  apps/runner/README.md
  packages/hatch-agent/README.md
Due: none
