Repository cipher982/longhouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, frontend-lint, ws-contract-drift, sse-contract-drift, asyncapi-validate, css-rgba-validate, python-vulture

Path conditions:
  typescript-typecheck: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^apps/zerg/frontend-web/src/.*\.(ts|tsx|js|jsx)$
  ws-contract-drift: any of: ^(schemas/ws-protocol.*|apps/zerg/backend/zerg/generated/ws_messages\.py|apps/zerg/frontend-web/src/generated/ws-messages\.ts)$
  sse-contract-drift: any of: ^(schemas/sse-events\.asyncapi\.yml|apps/zerg/backend/zerg/generated/sse_events\.py|apps/zerg/frontend-web/src/generated/sse-events\.ts)$
  asyncapi-validate: any of: ^schemas/ws-protocol-asyncapi\.yml$
  css-rgba-validate: any of: \.css$
  python-vulture: any of: ^apps/zerg/backend/zerg/, but not: ^apps/zerg/backend/zerg/generated/

Refresh launch TODO state
  TODO.md
Due: none

Add session continuation UX task
  TODO.md
Due: none

Spec runner doctor and repair UX
  TODO.md
  docs/specs/runner-doctor-v1.md
Due: none

Add runner doctor API and metadata
  apps/runner/scripts/install.sh
  apps/runner/src/__tests__/protocol.test.ts
  apps/runner/src/protocol.ts
  apps/zerg/backend/tests_lite/test_runner_doctor.py
  apps/zerg/backend/tests_lite/test_runner_install_script.py
  apps/zerg/backend/zerg/routers/runners.py
  apps/zerg/backend/zerg/routers/templates/install.sh
  apps/zerg/backend/zerg/schemas/runner_schemas.py
  apps/zerg/backend/zerg/services/runner_doctor.py
Due: python-vulture

Add local runner doctor command
  apps/runner/src/__tests__/doctor.test.ts
  apps/runner/src/config.ts
  apps/runner/src/doctor.ts
  apps/runner/src/envfile.ts
  apps/runner/src/index.ts
Due: none

Make session continuation feel native
  TODO.md
  apps/zerg/e2e/tests/core/sessions.spec.ts
  apps/zerg/frontend-web/src/pages/SessionDetailPage.tsx
  apps/zerg/frontend-web/src/pages/SessionsPage.tsx
  apps/zerg/frontend-web/src/styles/sessions.css
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Add runner doctor UI
  TODO.md
  apps/zerg/frontend-web/src/generated/openapi-types.ts
  apps/zerg/frontend-web/src/hooks/useRunners.ts
  apps/zerg/frontend-web/src/lib/__tests__/runnerInstallCommands.test.ts
  apps/zerg/frontend-web/src/lib/runnerInstallCommands.ts
  apps/zerg/frontend-web/src/pages/RunnerDetailPage.tsx
  apps/zerg/frontend-web/src/services/api/runners.ts
  apps/zerg/frontend-web/src/services/api/types.ts
  apps/zerg/frontend-web/src/styles/runner-detail.css
  docs/specs/runner-doctor-v1.md
Due: typescript-typecheck, frontend-lint, css-rgba-validate

Note runner doctor rollout caveat
  TODO.md
  docs/specs/runner-doctor-v1.md
Due: none

Bump runner release to 0.1.2
  apps/runner/package.json
  apps/runner/src/index.ts
  apps/runner/src/protocol.ts
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/tests_lite/test_runner_doctor.py
  apps/zerg/backend/zerg/config/__init__.py
Due: python-vulture

Keep runner name in desktop repair commands
  apps/zerg/frontend-web/src/lib/__tests__/runnerInstallCommands.test.ts
  apps/zerg/frontend-web/src/lib/runnerInstallCommands.ts
Due: typescript-typecheck, frontend-lint

Record live doctor validation
  TODO.md
  docs/specs/runner-doctor-v1.md
Due: none

Fix session environment label self-healing
  AGENTS.md
  apps/zerg/backend/tests_lite/test_agents_duplicate_sqlite.py
  apps/zerg/backend/tests_lite/test_session_continuity_machine_name.py
  apps/zerg/backend/zerg/services/agents_store.py
  apps/zerg/backend/zerg/services/session_continuity.py
Due: python-vulture

Add runner websocket connect watchdog
  apps/runner/src/__tests__/ws-client-reconnect.test.ts
  apps/runner/src/config.ts
  apps/runner/src/ws-client.ts
Due: none

Bump runner release to 0.1.3
  apps/runner/package.json
  apps/runner/src/__tests__/ws-client-reconnect.test.ts
  apps/runner/src/index.ts
  apps/runner/src/protocol.ts
  apps/zerg/backend/tests_lite/test_config_db_is_sqlite.py
  apps/zerg/backend/tests_lite/test_public_origins.py
  apps/zerg/backend/tests_lite/test_runner_doctor.py
  apps/zerg/backend/zerg/config/__init__.py
Due: python-vulture

Spec continuation lineage and branch-safe UX
  TODO.md
Due: none

Repair legacy control-plane data paths
  TODO.md
Due: none

Repair legacy control-plane data paths
  TODO.md
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

Record runner reconnect hardening
  TODO.md
  docs/specs/runner-connectivity-v1.md
  docs/specs/runner-doctor-v1.md
Due: none

Keep control-plane data path resolution simple
  TODO.md
Due: none

Keep control-plane data path resolution simple
  TODO.md
  apps/control-plane/control_plane/services/provisioner.py
  apps/control-plane/tests/test_provisioning_flow.py
Due: none

Simplify runner websocket close handling
  TODO.md
  apps/zerg/backend/tests_lite/test_runner_websocket_cleanup.py
  apps/zerg/backend/zerg/routers/runners.py
Due: python-vulture

Spec session continuation lineage
  TODO.md
  docs/specs/session-continuation-lineage.md
Due: none
